<!-- <div class="uk-visible@m">
  <app-seller-header></app-seller-header>
</div> -->

<div class="container-wrapper">
  <div class="top-segment">
    <div class="top-section">
      <p class="top-text">The marketplace to buy and sell awesome <span class="top-deco">products</span></p>
      <p class="box-text">Join the fastest moving online market square that connects millions of sellers and buyers at
        ease.</p>
      <button class="uk-button uk-button-default uk-text-capitalize waitList">
        <a [routerLink]="['/wait-list']">Join the waitlist</a>
      </button>
    </div>
    <div class="image-wrapper">
      <img class="image-one" src="../../../../assets/image/Rectangle 706.svg" alt="" />
      <img class="image-two"
        src="../../../../assets/image/young-woman-shopping-with-colorful-packs-blue-wall_155003-26325 1.svg" alt="" />
      <img class="image-three" src="../../../../assets/image/Rectangle 703.svg" alt="" />
    </div>
  </div>

  <div class="features-wrapper">
    <p class="features-heading less-margin-top">Why Buy on Rena Market?</p>
    <div class="rena-box-wrapper1">
      <div class="rena-box">
        <img class="box-image" src="../../../../assets/image/Group 604.svg" alt="">
        <h4 class="box-heading">Multiple Payment Options</h4>
        <p class="box-text">We offer multiple payment option, and different currencies, including cryptocurrency and
          web3 </p>
      </div>
      <div class="rena-box">
        <img class="box-image" src="../../../../assets/image/Group 603.svg" alt="">
        <h4 class="box-heading">Fast and Same-Day Delivery</h4>
        <p class="box-text">We offer same-day or next-day delivery when you shop on renamarket</p>
      </div>
      <div class="rena-box">
        <img class="box-image" src="../../../../assets/image/Group 604.svg" alt="" style="margin-bottom: 10px;">
        <h4 class="box-heading" style="margin-bottom: 5px;">Easy Refund</h4>
        <p class="box-text">Get refunds as easily as possible with a good reason, without any issue</p>
      </div>
      <div class="rena-box">
        <img class="box-image" src="../../../../assets/image/Group 628.svg" alt="">
        <h4 class="box-heading">Secured and Trusted</h4>
        <p class="box-text">We promote trust and quality. We ensure you get quality products and zero tolerance of fraud
          or deceit.</p>
      </div>
    </div>
  </div>
  <div class="features-wrapper">
    <p class="features-heading">Why Sell on Rena Market?</p>
  </div>
  <div class="rena-box-wrapper2">
    <div class="rena-box">
      <img class="box-image" src="../../../../assets/image/Group 603.svg" alt="">
      <h4 class="box-heading">Smooth Logistic</h4>
      <p class="box-text">We provide seamless and professional logistic to fasten your sales and you dont have to worry
        about the cost.</p>
    </div>
    <div class="rena-box">
      <img class="box-image" src="../../../../assets/image/Group 604.svg" alt="">
      <h4 class="box-heading">Multi-Currency Payout</h4>
      <p class="box-text">Get your money in any currency, we offer wide range of currencies and cryptocurrency to cash out from,
        never get stuck on one currency and beat inflation.</p>
    </div>
    <div class="rena-box">
      <img class="box-image" src="../../../../assets/image/Group 604 (1).svg" alt="">
      <h4 class="box-heading">Sell 10X Faster</h4>
      <p class="box-text">We ensure your product get seen by the right customer, with our marketing strategy and A.I, we
        help you sell your product faster.</p>
    </div>
    <div class="rena-box">
      <img class="box-image" src="../../../../assets/image/Group 604 (1).svg" alt="">
      <h4 class="box-heading">Product Recommendation</h4>
      <p class="box-text">Know what your customer wants, we provide recommendations on what to sell to boost your
        business, eliminate waste and loss.</p>
    </div>
    <div class="rena-box">
      <img src="../../../../assets/image/Group 604.svg" alt="">
      <h4 class="box-heading">Zero Fee and Free</h4>
      <p class="box-text">Start Selling for free,  Zero commission, Zero listing, Zero Hidden charges, Just upload
        product and sell freely</p>
    </div>
  </div>

  <div class="product-recommendation">
    <div class="bottom-section">
      <p class="bottom-heading text-top">Product Recommendation to sell</p>
      <p class="bottom-text1">Get amazing product recommendation to sell and for customers to use your product</p>
    </div>
    <div class="image-group">
      <div class="left-group">
        <img src="../../../../assets/image/Rectangle 707.svg" alt="">
        <img src="../../../../assets/image/Rectangle 709.svg" alt="">
      </div>
      <div class="right-group">
        <img src="../../../../assets/image/Rectangle 708.svg" alt="">
        <img src="../../../../assets/image/Rectangle 710.svg" alt="">
      </div>
    </div>
  </div>
  <div class="benefits">
    <div class="waitList_benefit">
      <p class="benefit_heading">Benefits of Joining Waitlist</p>
      <div class="waitList_benefit_wrapper">
        <div class="benefit_wrapper">
          <img src="../../../../assets/image/New Group 603.svg" alt="">
          <p class="benefit_text">Free delivery on 5 orders</p>
        </div>
        <hr>
        <div class="benefit_wrapper">
          <img src="../../../../assets/image/New Group 610.svg" alt="">
          <p class="benefit_text">10% Delivery Discount on your next 5 orders </p>
        </div>
      </div>
    </div>
    <div class="referral_benefit">
      <p class="benefit_heading">Benefits of Referrals</p>
      <div class="referral_benefit_wrapper">
        <div class="benefit_wrapper">
          <img src="../../../../assets/image/New Group 611.svg" alt="">
          <p class="benefit_text">You get 2% of what your referral purchased  </p>
        </div>
        <hr>
        <div class="benefit_wrapper">
          <img src="../../../../assets/image/New Group 604.svg" alt="">
          <p class="benefit_text">You get 10%  discount on any product for 5 orders </p>
        </div>
        <hr>
        <div class="benefit_wrapper">
          <img src="../../../../assets/image/New Group 610.svg" alt="">
          <p class="benefit_text">You get  2000 NGN, for every successful referral that signs up</p>
        </div>
      </div>
    </div>
  </div>
  <div class="last-section">
    <div class="buttom-image-wrapper">
      <img class="buttom-image-one" src="../../../../assets/image/Rectangle 706.svg" alt="">
      <img class="buttom-image-two"
        src="../../../../assets/image/young-black-lady-holding-shopping-bags-feeling-excited_181624-32959 1.svg" alt="">
    </div>
    <div class="bottom-section">
      <p class="bottom-heading">Grow faster</p>
      <p class="bottom-text">Do you want easy-to-use marketing store to grow your business fast? You got it.</p>
      <button class="uk-button uk-button-default uk-text-capitalize waitList-botton">
        <a [routerLink]="['/wait-list']">Join the waitlist</a>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>