@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

.main-container {
  background: #f2f2f2;
  .hero-section {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    background: #243853;
    height: 90vh;
    max-height: 800px;
    margin-top: -1.5rem;
    position: relative;
    overflow: hidden;

    .back-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .hero-content {
      color: #f2f2f2;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;

      .hero-text-section {
        display: flex;
        flex-direction: column;
        margin-top: 12rem;
        width: 50%;
        h1 {
          color: #f2f2f2;
          font-family: Avenir;
          font-weight: 800;
          font-size: 50px;
          line-height: 68px;
        }
        p {
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          width: 70%;
        }
        .hero-buttons {
          display: flex;

          button {
            margin-right: 1rem;
          }
          .signup {
            background: #584dcd;
            border-radius: 6px;
            color: #fff;
            border-color: #584dcd;
          }
          .marketplace-btn {
            font-family: Avenir;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: #ffb55e;
            background-color: transparent;
            outline: none;
            border: none;
          }
        }
      }
      .hero-img-section {
        width: 50%;
        text-align: center;

        img {
          max-width: 450px;
          margin-top: 80px;
        }
      }
    }
  }
  .online {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: #f2f2f2;
    height: 90vh;
    max-height: 800px;
    width: 100%;

    .open {
      background: #ffffff;
      border-radius: 6px;
      align-content: center;
      text-align: center;
      margin-top: -130px;
      z-index: 10;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 4rem;
      margin-bottom: 300px;
      width: 95%;
      max-width: 1076px;

      h1 {
        font-family: Avenir;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        color: #333333;
        margin-bottom: 15px;
      }
    }
  }
  .reason-section {
    clip-path: polygon(0 23%, 100% 0%, 100% 100%, 0% 100%);
    background: #ffffff;
    width: 100%;
    padding: 5rem 1rem;

    .reason-flex {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 1rem auto;

      .left,
      .right {
        width: 50%;
      }
      .left {
        margin-top: 7rem;
        width: 100%;
        max-width: 528px;

        h1 {
          font-family: roboto;
          font-weight: 800;
          font-size: 45px;
          line-height: 61px;
          color: #000000;
        }
        p {
          font-family: roboto;
          font-weight: normal;
          font-size: 24px;
          line-height: 36px;
          color: #000000;
        }
      }
      .right {
        max-width: 670px;
        margin: 16px auto;
        .art {
          background-color: rgba(36, 56, 83, 0.2);
          border-radius: 4.3566px;
          color: #333;
          padding: 16px;
        }
        .security {
          background-color: rgba(88, 77, 205, 0.2);
          margin-top: 14px;
          padding: 16px;
          border-radius: 4.3566px;
        }

        .pay {
          background-color: rgba(200, 93, 59, 0.2);
          margin-top: 14px;
          padding: 16px;
          border-radius: 4.3566px;
        }

        .price {
          background-color: rgba(5, 198, 153, 0.2);
          margin-top: 14px;
          padding: 16px;
          border-radius: 4.3566px;
        }

        .quality {
          background-color: rgba(255, 181, 94, 0.2);
          margin-top: 14px;
          padding: 16px;
          border-radius: 4.3566px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-container {
    .hero-section {
      .back-img {
        display: none;
      }
      .hero-content {
        .hero-text-section {
          width: 50%;

          h1 {
            font-size: 32px;
          }
          p {
            font-size: 24px;
            width: 100%;
          }
          .hero-buttons {
            .marketplace-btn {
              font-size: 16px;
            }
          }
        }

        .hero-img-section {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }
    .reason-section {
      .reason-flex {
        .left {
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 20px;
          }
        }
        .right {
          max-width: 670px;
          margin: 20px auto;
        }
      }
    }
  }
}
@media (max-width: 810px) {
  .main-container {
    .hero-section {
      .hero-content {
        flex-direction: column;

        .hero-text-section {
          width: 100%;

          h1 {
            font-size: 50px;
          }
          p {
            font-size: 32px;
          }
        }

        .hero-img-section {
          width: 100%;
          display: none;
        }
      }
    }
    .reason-section {
      clip-path: none;
      .reason-flex {
        flex-direction: column;
        margin-top: 1rem;
        .left {
          max-width: 100%;
          margin-top: 1rem;
          .left-img {
            display: none;
          }
          h1 {
            font-size: 32px;
          }
          p {
            font-size: 18px;
          }
        }
        .right {
          width: 100%;
          max-width: 720px;
        }
      }
    }
  }
}
@media (max-width: 540px) {
  .main-container {
    .hero-section {
      .hero-content {
        .hero-text-section {
          margin-top: 8rem;
          h1 {
            font-size: 32px;
            line-height: normal;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .online {
      height: 50vh;
      max-height: none;
      .open {
        margin-bottom: 50px;
        h1 {
          font-family: Avenir;
          font-weight: 800;
          font-size: 32px;
          text-align: center;
          color: #333333;
          margin-bottom: 15px;
        }
      }
    }
    .reason-section {
      .reason-flex {
        .right {
          .uk-flex {
            flex-direction: column;

            img {
              width: 75px !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .main-container {
    .hero-section {
      .hero-content {
        .hero-text-section {
          margin-top: 8rem;
          h1 {
            font-size: 28px;
          }
          p {
            font-size: 18px;
            line-height: 30px;
          }
          .hero-buttons {
            display: block;

            button {
              margin-bottom: 1rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/*.hero {
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  width: 100vw;
  background-color: #243853;
  height: 800px;
  margin-top: -20px;
}
*{
    background: red;
}

.default-width {
  margin: 0 auto;
  width: 100%;
}

.uk-flex {
  display: flex;
  justify-content: space-around;
}

.container {
  background-color: #f2f2f2;
  margin-left: -20px;
  margin-bottom: 100px;
  height: 2300px;
}

a {
  color: #fff !important;
}
.hero1 {
  width: 50%;
  padding-left: 80px;
}
.hero h1 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  width: 565px;
  color: #f2f2f2;

}

.hero p {
  width: 547px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 44px;
  color: #f2f2f2;
}

.signup {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
  background: #584dcd;
  border-radius: 6px;
  color: #fff;
  border-color: #584dcd;
}

.hero1 {
  margin-top: 216px;
}
.img {
  position: relative;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 50%;
}
.front {
  z-index: 2;
  margin-top: 80px;
}
.back {
  position: absolute;
  height: 626.81px;
  top: -188px;
}
.btn {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #ffb55e;
  background-color: transparent;
  outline: none;
  border: none;
}

.market {
  clip-path: polygon(0 23%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #fff;
  width: 100vw;
  height: 800px;
  padding-top: 100px;
  padding-left: 76px;
  margin-right: 100px;
}

.art {
  background-color: rgba(36, 56, 83, 0.2);
  border-radius: 4.3566px;
  color: #333;
  padding: 16px;
}

.right {
  padding-top: 148px;
  width: 524px;
}
.right h1 {
  font-family: roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  color: #000000;
}
.right p {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.left {
  width: 600px;
  margin-left: 241px;
  margin-top: 14px;
}

.security {
  background-color: rgba(88, 77, 205, 0.2);
  margin-top: 14px;
  padding: 16px;
  border-radius: 4.3566px;
}

.pay {
  background-color: rgba(200, 93, 59, 0.2);
  margin-top: 14px;
  padding: 16px;
  border-radius: 4.3566px;
}

.price {
  background-color: rgba(5, 198, 153, 0.2);
  margin-top: 14px;
  padding: 16px;
  border-radius: 4.3566px;
}

.quality {
  background-color: rgba(255, 181, 94, 0.2);
  margin-top: 14px;
  padding: 16px;
  border-radius: 4.3566px;
}
.open {
  background: #ffffff;
  border-radius: 6px;
  width: 1076px;
  height: 626px;
  align-content: center;
  text-align: center;
  margin-top: -130px;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 300px;
}
.open h1 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #333333;
  width: 862px;
  margin-top: 71px;
  margin-bottom: 15px;
}
.online {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 480px) {
  .container {
    margin-top: -20px;
    overflow: hidden;
    height: 260em;
    width: auto;
  }
  .open h1 {
    font-size: 24px;
    width: 320px;
    overflow: hidden;
  }
  .open {
    width: 360px;
    background-color: #fff;
    height: 420px;
  }
  .uk-flex {
    display: flex;
    flex-direction: column;
  }
  .market {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 200em;
    margin-bottom: 40px;
  }
  .left {
    margin-left: -20px;
    width: 300px;
  }
  .right {
    padding-top: 0px;
    width: 300px;
  }
  .right h1 {
    width: auto;
    font-size: 30px;
  }
  .right p {
    font-size: 18px;
  }
  .hero {
    height: 1050px;
    margin-bottom: 40px;
  }
  .online {
    margin-left: 10px;
  }
  .open {
    margin-top: 10px;
  }
  .open img {
    width: 350px;
  }
  .hero1 {
    margin-left: 10px;
    padding-top: 20px;
    margin-top: 10px;
  }
  .hero1 h1 {
    font-size: 28px;
    margin-left: -50px;
  }
  .hero1 p {
    font-size: 20px;
    width: 300px;
    margin-left: -50px;
    margin-bottom: 50px;
  }
  .back {
    display: none;
  }

  .btn {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 200px;
    line-height: 27px;
    color: #ffb55e;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .uk-button {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .hero-flex {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .btn {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 200px;
    line-height: 27px;
    color: #ffb55e;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .uk-button {
    width: 200px;
  }
  .container {
    margin-top: -20px;
    overflow: hidden;
    height: 260em;
    width: auto;
  }

  .open h1 {
    font-size: 24px;
    width: 320px;
    overflow: hidden;
  }
  .open {
    width: 360px;
    background-color: #fff;
    height: 420px;
  }
  .uk-flex {
    display: flex;
    flex-direction: column;
  }
  .market {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 200em;
    margin-bottom: 40px;
  }
  .left {
    margin-left: -20px;
    width: 300px;
  }
  .right {
    padding-top: 0px;
    width: 300px;
  }
  .right h1 {
    width: auto;
    font-size: 30px;
  }
  .right p {
    font-size: 18px;
  }
  .hero {
    height: 1050px;
    margin-bottom: 40px;
  }
  .online {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  .open {
    margin-top: 10px;
  }
  .open img {
    width: 350px;
  }
  .hero1 {
    margin-left: 10px;
    padding-top: 20px;
  }
  .hero1 h1 {
    font-size: 28px;
    margin-left: -50px;
  }
  .hero1 p {
    font-size: 20px;
    width: 300px;
    margin-left: -50px;
    margin-bottom: 50px;
  }
  .back {
    display: none;
  }
} */
