.first-div-container {
  padding-bottom: 28px;
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.cards-div {
  flex-wrap: wrap;
  gap: 0.94rem;
}

.firstCard-container {
  gap: 0.5rem;
  width: 47.5%;
  border-radius: 8px;
  padding: 1rem;
}

.firstCard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.firstCard-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.firstCard-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.firstCard-num {
  padding: 0rem;
  margin: 0rem;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  font-family: "Avenir LT Std";
}

.firstCard-text {
  padding: 0rem;
  margin: 0rem;
  color: #979797;
  font-size: 0.5rem;
  font-weight: 400;
  font-family: "Avenir LT Std";
}

h5 {
  font-weight: 750;
  font-size: 18px;
  padding: 39px 0px 2px 0px;
  font-family: "Avenir LT Std";
}

.w-15 {
  width: 15%;
  padding-right: 1rem;
}

.w-20 {
  width: 20%;
  padding-right: 1rem;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.table-head {
  padding: 2rem;
  font-weight: 900 !important;
  font-size: 1rem;
  line-height: 14px;
  color: #000000;
  border-bottom: 1.5px solid #E3E3E3;
}

.view-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: #000000;
  color: #ffffff;
  outline: none !important;
  border: none;
}

.loading {
  color: #C0C0C0;
}

.table-body {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.ml {
  margin-left: 1rem;
}

.input-search {
  position: relative;
}
.input-search .icn-search {
  position: absolute;
  left: 0px;
  top: 10px;
  left: 10px;
}

.select {
  height: 42px;
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  outline: none !important;
}

.date-input {
  width: 200px;
  border-radius: 4px;
}

input {
  height: 42px;
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  border-radius: 4px 0px 0px 4px;
  outline: none !important;
  padding-left: 35px;
  padding-right: 10px;
}
input ::-moz-placeholder {
  font-weight: 350;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
input ::placeholder {
  font-weight: 350;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.outline-btn {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #000000;
  outline: none !important;
  padding: 0rem 1rem;
  color: #000000;
  height: 40px;
}

.filter-btn {
  background: #000000;
  border-radius: 4px;
  border: none;
  outline: none !important;
  padding: 0rem 1rem;
  color: #ffffff;
  height: 40px;
}

.search-btn {
  background: #000000;
  border-radius: 0px 4px 4px 0px;
  border: none;
  outline: none !important;
  padding: 0rem 1rem;
  color: white;
}

.name {
  font-size: 18px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #E7E5E5;
}
.tabs p {
  margin-bottom: 0rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.activeTab {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000000 !important;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 767px) {
  input {
    width: 100%;
  }
  .input-search {
    width: 100%;
  }
  .search-section {
    margin: 0.5rem 0rem;
  }
  .mt-5 {
    margin-top: 1rem !important;
  }
  .web-only {
    display: none !important;
  }
  .mobile-only {
    display: block;
  }
  .flexing {
    display: flex;
    flex-wrap: wrap;
  }
  .flexing .date-input {
    width: 47% !important;
    border-radius: 4px;
  }
  .flexing .filter-btn, .flexing .outline-btn {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  input {
    width: 100%;
  }
  .input-search {
    width: 100%;
  }
  .search-section {
    margin: 0.5rem 0rem;
  }
  .first-div-container {
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cards-div {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .firstCard-container {
    gap: 1rem;
    width: 47.5%;
    padding: 1rem;
  }
  .firstCard-img {
    width: 30%;
  }
  .firstCard-container > div:nth-child(2) {
    gap: 0.25rem;
  }
  .firstCard-num {
    font-size: 1.25rem;
    font-weight: 750;
  }
  .firstCard-text {
    font-size: 0.875rem;
  }
  h5 {
    font-size: 18px;
    padding: 39px 0px 2px 0px;
  }
  .table-container .table-head-data {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .first-div-container {
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cards-div {
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .firstCard-container {
    gap: 1rem;
    width: 47.5%;
    padding: 2rem;
  }
  .firstCard-img {
    width: 30%;
  }
  .firstCard-container > div:nth-child(2) {
    gap: 0.25rem;
  }
  .firstCard-num {
    font-size: 1.25rem;
    font-weight: 750;
  }
  .firstCard-text {
    font-size: 0.875rem;
  }
  h5 {
    font-size: 18px;
    padding: 39px 0px 2px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  input {
    width: 400px;
  }
}/*# sourceMappingURL=order-management.component.css.map */