.navbar-wrapper {
  background-color: #fff;
  padding: 0.25rem 1rem;
}

.container-wrapper {
  margin: 1rem 1.25rem;
}

.order-detail {
  margin: 2rem 0rem 3rem 0rem;
}

.order-detail span {
  color: black;
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-size: 1.25rem;
}

.uk-card-body {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: none;
}

.detail-box {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.25rem;
}

.desktop-view {
  display: none;
}

.order-heading {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 1rem;
  color: black;
}

.order-text {
  color: black;
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0rem;
}

.order-quantity {
  font-size: 0.625rem;
  color: #979797;
  font-family: "Avenir LT Std";
  font-style: normal;
  margin: 0rem;
}
.order-quantity span {
  color: black;
}

.item-in-order {
  display: flex;
  gap: 0.5rem;
}
.item-in-order img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 4rem;
}
.item-in-order .btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
}
.item-in-order .btn-group button {
  border-radius: 0.25rem;
  font-size: 0.625rem;
  outline: none;
}
.item-in-order .btn-group :nth-child(1) {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.item-in-order .btn-group :nth-child(2) {
  background-color: black;
  color: #fff;
  border: none;
}

.item-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.detail-box .tracking-info-container {
  display: flex;
  flex-direction: column;
}
.detail-box .tracking-info-container .tracking-box {
  position: relative;
  border-left: 1px solid black;
  padding-left: 1rem;
}
.detail-box .tracking-info-container .tracking-box .icon-img {
  position: absolute;
  top: -0.125rem;
  left: -0.625rem;
}
.detail-box .tracking-info-container .tracking-box .tracking-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.detail-box .tracking-info-container .tracking-box .tracking-info .heading {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}
.detail-box .tracking-info-container .tracking-box .tracking-info .tracking-info-detail {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: #333333;
  margin: 0rem;
}
.detail-box .tracking-info-container :nth-child(4) {
  border-left: none;
}

@media only screen and (min-width: 768px) {
  .navbar-wrapper {
    padding: 0.25rem 1rem;
  }
  .container-wrapper {
    margin: 1rem 1.25rem;
  }
  .order-detail {
    margin: 2rem 0rem 3rem 0rem;
  }
  .order-detail span {
    font-weight: 400;
    font-size: 1.25rem;
  }
  .uk-card-body {
    padding: 0rem;
    gap: 1.5rem;
  }
  .detail-box {
    padding: 1rem;
  }
  .order-heading {
    font-weight: 750;
    font-size: 1rem;
  }
  .order-text {
    font-weight: 400;
    font-size: 0.75rem;
  }
  .order-quantity {
    font-size: 0.625rem;
  }
  .item-in-order {
    gap: 0.5rem;
  }
  .item-in-order img {
    width: 4rem;
  }
  .item-in-order .btn-group {
    margin-left: auto;
  }
  .item-in-order .btn-group button {
    font-size: 0.625rem;
  }
  .detail-box .tracking-info-container .tracking-box {
    padding-left: 1rem;
  }
  .detail-box .tracking-info-container .tracking-box .icon-img {
    top: -0.125rem;
    left: -0.625rem;
  }
  .detail-box .tracking-info-container .tracking-box .tracking-info {
    padding-bottom: 3rem;
  }
  .detail-box .tracking-info-container .tracking-box .tracking-info .heading {
    font-size: 1rem;
  }
  .detail-box .tracking-info-container .tracking-box .tracking-info .tracking-info-detail {
    font-weight: 400;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-wrapper {
    padding: 0.25rem 1rem;
  }
  .container-wrapper {
    margin: 1rem 1.25rem;
  }
  .order-detail {
    margin: 2rem 0rem 3rem 0rem;
  }
  .order-detail span {
    font-weight: 400;
    font-size: 1.25rem;
  }
  .uk-card-body {
    padding: 0rem;
    gap: 2.5rem;
  }
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: flex;
    flex-direction: column;
  }
  .desktop-view .order-heading {
    padding-bottom: 4rem;
  }
  .desktop-view .tracking-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-view .tracking-info-container .tracking-box:first-child {
    position: relative;
    border-top: none;
  }
  .desktop-view .tracking-info-container .tracking-box:first-child::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    border-top: 1px solid black;
  }
  .desktop-view .tracking-info-container .tracking-box:last-child {
    position: relative;
    border-top: none;
  }
  .desktop-view .tracking-info-container .tracking-box:last-child::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 50%;
    border-top: 1px solid black;
  }
  .desktop-view .tracking-box {
    position: relative;
    border-top: 1px solid black;
    border-left: none;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 2rem 0.5rem;
    height: 7.5rem;
  }
  .desktop-view .tracking-box .heading {
    font-size: 0.75rem;
  }
  .desktop-view .icon-img {
    position: absolute;
    top: -0.7rem;
  }
  .desktop-view .uk-table {
    width: 80%;
    margin: 0rem;
    align-self: center;
  }
  .desktop-view .uk-table th {
    text-transform: none;
  }
  .desktop-view .uk-table thead tr {
    border-bottom: 0.1px solid #B9B9B9;
  }
  .desktop-view .uk-table thead tr :last-child {
    text-align: right;
  }
  .desktop-view .uk-table tbody tr {
    border-bottom: 0.1px solid #B9B9B9;
  }
  .desktop-view .uk-table tbody tr :last-child {
    text-align: right;
  }
  .desktop-view .uk-table tbody tr:last-child {
    border-bottom: none;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-wrapper {
    padding: 0.25rem 1rem;
  }
  .container-wrapper {
    margin: 1rem 1.25rem;
  }
  .order-detail {
    margin: 2rem 0rem 3rem 0rem;
  }
  .order-detail span {
    font-weight: 400;
    font-size: 1.25rem;
  }
  .uk-card-body {
    padding: 0rem;
    gap: 2.5rem;
  }
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: flex;
    flex-direction: column;
  }
  .desktop-view .order-heading {
    padding-bottom: 4rem;
  }
  .desktop-view .tracking-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-view .tracking-info-container .tracking-box:first-child {
    position: relative;
    border-top: none;
  }
  .desktop-view .tracking-info-container .tracking-box:first-child::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    border-top: 1px solid black;
  }
  .desktop-view .tracking-info-container .tracking-box:last-child {
    position: relative;
    border-top: none;
  }
  .desktop-view .tracking-info-container .tracking-box:last-child::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 50%;
    border-top: 1px solid black;
  }
  .desktop-view .tracking-box {
    position: relative;
    border-top: 1px solid black;
    border-left: none;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 2rem 0.5rem;
    height: 7.5rem;
  }
  .desktop-view .tracking-box .heading {
    font-size: 0.75rem;
  }
  .desktop-view .icon-img {
    position: absolute;
    top: -0.7rem;
  }
  .desktop-view .uk-table {
    width: 80%;
    margin: 0rem;
    align-self: center;
  }
  .desktop-view .uk-table th {
    text-transform: none;
  }
  .desktop-view .uk-table thead tr {
    border-bottom: 0.1px solid #B9B9B9;
  }
  .desktop-view .uk-table thead tr :last-child {
    text-align: right;
  }
  .desktop-view .uk-table tbody tr {
    border-bottom: 0.1px solid #B9B9B9;
  }
  .desktop-view .uk-table tbody tr :last-child {
    text-align: right;
  }
  .desktop-view .uk-table tbody tr:last-child {
    border-bottom: none;
  }
}/*# sourceMappingURL=order-detail.component.css.map */