.main {
  padding: 2rem 8rem;
  display: flex;
  background-color: #ffffff;
}
.main .loading {
  color: #C0C0C0;
}
.main .view-item-btn {
  font-weight: 350;
  font-size: 16px;
  cursor: pointer;
  line-height: 19px;
  text-decoration-line: underline;
  color: #A65D06;
}
.main .small-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.main .capitalize {
  text-transform: uppercase;
}
.main .cartImg {
  width: 200px;
  height: 120px;
}
.main .mobile-view-only {
  display: none;
}
.main .left-section {
  width: 70%;
  margin-right: 2rem;
}
.main .left-section .top-left {
  background: #F8F8F8;
  border-radius: 5px;
}
.main .left-section .top-left .name {
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #000000;
}
.main .left-section .top-left .ship {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.main .left-section .top-left .naming {
  width: 70%;
}
.main .left-section .top-left .img-section {
  margin-right: 1rem;
}
.main .left-section .top-left .pricing {
  width: 30%;
  margin-left: 1rem;
}
.main .left-section .top-left .each-item {
  border-bottom: 0.5px solid black;
}
.main .left-section .top-left .price {
  font-size: 20px;
  line-height: 154%;
  color: #000000;
}
.main .left-section .top-left .strike {
  font-weight: 400;
  font-size: 14px;
  line-height: 154%;
  text-decoration-line: line-through;
  color: #979797;
}
.main .left-section .top-left .percent {
  font-weight: 400;
  font-size: 14px;
  line-height: 154%;
  color: #D01717;
}
.main .left-section .top-left .address-payment {
  border-top: 0.3px solid #B9B9B9;
}
.main .left-section .top-left .del-add {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}
.main .left-section .top-left .del-type {
  font-style: italic;
  font-weight: 750;
  font-size: 14px;
  line-height: 154%;
  color: #666666;
}
.main .left-section .del-btn {
  display: flex;
  align-items: center;
  color: #D01717;
}
.main .left-section .payment-section {
  background: #F8F8F8;
  border-radius: 5px;
}
.main .left-section .payment-section input[type=radio] {
  width: 20px;
  height: 20px;
  accent-color: black !important;
}
.main .left-section .payment-section label span {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.main .left-section .payment-section .info-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #92921D;
}
.main .left-section .payment-section .msg {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #B6B62E;
}
.main .left-section .payment-section .info-section {
  background: #FFFFDF;
  border-left: 4px solid #EBEB5E;
}
.main .left-section .payment-section .pay-btn {
  background: #000000;
  color: #ffffff;
  height: 55px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none !important;
  border-radius: 4px;
}
.main .left-section .payment-section .personal-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6A6B6E;
}
.main .right-section {
  width: 30%;
  background: #EDEDED;
  border-radius: 5px;
  height: 400px;
}
.main .right-section .big {
  font-weight: 700;
  font-size: 18px;
}
.main .right-section .apply-section {
  width: 100%;
  height: 45px;
  margin-bottom: 1rem;
}
.main .right-section .apply-section input {
  width: 75%;
  background: #EDEDED;
  height: 45px;
  outline: none !important;
  border: 1px solid #B9B9B9;
  border-radius: 4px 0px 0px 4px;
  padding: 0rem 10px;
}
.main .right-section .apply-section button {
  width: 25%;
  height: 45px;
  outline: none !important;
  border: 1px solid #000000;
  background: black;
  text-align: center;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
}

.w-47 {
  width: 47%;
}

.cancel-btn {
  color: black;
  background: white;
  border-radius: 5px;
  height: 50px;
  outline: none !important;
}

.delete-btn {
  color: white;
  background: black;
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none !important;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 1rem;
    display: block;
  }
  .main .mobile-view-only {
    display: block;
  }
  .main .web-only {
    display: none;
  }
  .main .left-section {
    margin-right: 0px;
    width: 100%;
  }
  .main .left-section .address-payment {
    display: block !important;
  }
  .main .left-section .address-payment .del-add {
    font-size: 12px;
  }
  .main .left-section .content {
    display: block !important;
  }
  .main .left-section .content .naming {
    width: 100%;
  }
  .main .left-section .content .naming .name {
    font-size: 12px;
    margin-bottom: 0px !important;
  }
  .main .left-section .content .naming .ship {
    font-size: 10px;
    margin-bottom: 0px !important;
  }
  .main .left-section .content .pricing {
    width: 100%;
    margin-left: 0px;
  }
  .main .left-section .content .pricing .price {
    font-size: 14px;
  }
  .main .left-section .content .pricing .counter {
    margin-top: 0px !important;
    margin-bottom: 5px;
  }
  .main .right-section {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 1rem;
    display: block;
  }
  .main .mobile-view-only {
    display: block;
  }
  .main .web-only {
    display: none;
  }
  .main .left-section {
    margin-right: 0px;
    width: 100%;
  }
  .main .right-section {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=product-checkout.component.css.map */