.main {
  padding: 2rem 6rem;
}

.card {
  box-shadow: 0px 5.27px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: none;
}

.mobile-item {
  color: black !important;
}

.range-input {
  width: 100px !important;
}

.range-divider {
  color: black !important;
  text-align: center;
}

.mobile-heading {
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  color: #FF8B00 !important;
}

.tag {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #000000 !important;
}

.txt-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #072755 !important;
}

.range-in {
  background: #FAFAFA !important;
  border: 1px solid #BDBDBD !important;
  border-radius: 5px;
  outline: none !important;
}

.column-switch {
  background: #FFFFFF;
  border: 0.6px solid #B7BECD;
  border-radius: 4px;
  height: 40px;
  padding: 0rem 1rem;
  outline: none !important;
}

.left-section {
  width: 25%;
}
.left-section .each-cat {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.left-section .range-input {
  width: 45%;
  background: #FAFAFA;
  border: 1.31555px solid #BDBDBD;
  border-radius: 5.2622px;
  padding: 10px;
  outline: none !important;
}
.left-section .pricing {
  border-bottom: 1px solid #F2F2F2;
}
.left-section .range-divider {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section .tag {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.left-section .apply {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  color: #D77602;
}

.right-section {
  width: 75%;
  margin-left: 2rem;
}

.apply-btn {
  background: #000000;
  border-radius: 6px;
  outline: none !important;
  border: none;
  height: 50px;
  color: #ffffff;
  text-align: center;
}

.activeCategory {
  color: #FF8B00 !important;
}

::ng-deep .mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #FF8B00 !important;
  --mdc-slider-focus-handle-color: #FF8B00 !important;
  --mdc-slider-hover-handle-color: #FF8B00 !important;
  --mdc-slider-active-track-color: #FF8B00 !important;
  --mdc-slider-inactive-track-color: #FF8B00 !important;
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: #FF8B00 !important;
  --mat-mdc-slider-ripple-color: #FF8B00 !important;
  --mat-mdc-slider-hover-ripple-color: none !important;
  --mat-mdc-slider-focus-ripple-color: none !important;
  /* --mat-mdc-slider-hover-ripple-color: rgba(103, 58, 183, 0.05); */
  /* --mat-mdc-slider-focus-ripple-color: rgba(103, 58, 183, 0.2); */
}

@media screen and (max-width: 767px) {
  .main {
    padding: 1rem;
  }
  .left-section {
    display: none;
  }
  .right-section {
    width: 100%;
    margin-left: 0rem !important;
  }
  .web-only {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 1rem;
  }
  .left-section {
    display: none;
  }
  .right-section {
    width: 100%;
    margin-left: 0rem !important;
  }
}/*# sourceMappingURL=product-list.component.css.map */