<div (click)="view(product)" class="prod p-2">
  <!-- <img *ngIf="product?.imageUrl !== null && product?.imageUrl !== ''" 
        [src]="product?.imageUrl" class="img" /> -->

  <!-- <ng-template #image> -->

  <ng-container *ngIf="product.videoUrls?.length > 0; else image">
    <video
      src="{{ product.videoUrls[0] }}"
      class="w-100"
      height="200px"
      controls
      uk-video="autoplay: false, automute: true"
    ></video>
  </ng-container>

  <ng-template #image>
    <img
      *ngIf="product?.imageUrl !== null && product?.imageUrl !== ''"
      src="{{ getImageResolution(product?.imageUrl, 300, 300) }}"
      loading="lazy"
      class="w-100"
    />
  </ng-template>
  <!-- </ng-template> -->

  <div
    *ngIf="product?.imageUrl === null || product?.imageUrl === ''"
    class="img-empty-txt"
  >
    <p class="text-center mb-0">Image not found</p>
  </div>

  <div class="py-3">
    <div class="mb-2 uk-flex uk-flex-between">
      <p class="mb-0 name">
        <span>{{ product?.name || "N/A" | slice : 0 : 30 }}</span>
        <span *ngIf="product?.name?.length > 30">...</span>
      </p>
      <img src="/assets/images/cart-icn-prod.svg" alt="cart-icn-prod" />
    </div>
    <p class="price mb-0">{{ product?.sellingPrice || 0 | currency : "₦" }}</p>
  </div>
</div>
