<section class="main">
  <div class="uk-grid">
    <div class="">
     <div class="hero">
      <h1 >Welcome Back</h1>
      <p>Login into your account...</p>
     </div>
    </div>
   
    <div class="form">
      <a href="" onclick="UIkit.modal('#modal-auth').hide()">
        <div class="back">
          <img src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png" alt="go-back">
          Go Back
        </div>
      </a>
      <h1>Open Market</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" id="form" class="uk-form">
        <div class="input_wrap uk-form-width-medium">
            <div>
              <span class="uk-text-warning" *ngIf="errorMessage != ''">{{ errorMessage }}</span>
              <br />
              <span class="uk-text-success" *ngIf="message != '' && hasError == false">{{ message }}</span>
              <span class="uk-text-warning uk-text" *ngFor="let i of errors">
                {{ i }} <br />
              </span>
            </div>
            <span *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
              <span class="uk-text-warning" *ngIf="f.email.errors.required">
                Email required <br/>
              </span>
              <span class="uk-text-warning" *ngIf="f.email.errors.email">
                Valid email required
              </span>
            </span>
            <input type="email" formControlName="email" required />
            <label>Email Address</label>
        </div>
       
        <div class="input_wrap uk-form-width-medium uk-form-password">
          <span *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            <span class="uk-text-warning" *ngIf="f.password.errors.required">
              Password required <br/>
            </span>
            <span class="uk-text-warning" *ngIf="f.password.errors.minLength">
              Password should be at least 6 charaters <br/>
            </span>
          </span>
          <input type="password" formControlName="password" required />
          <label >
            <a href="" class="uk-form-password-toggle" data-uk-form-password>Password</a>
          </label>
        </div>
          <a routerLink="/forget-password" onclick="UIkit.modal('#modal-auth').hide()" class="forgot">
            Forgot password?
          </a>
          <button class="uk-button uk-width-1-1 btn1" type="submit">Login</button>
      </form>
      
      <div id="or">
          <div class="hr1"></div>
          <div class="or">or</div>
          <div class="hr2"></div>
      </div>
      
      <div id="btn" class="uk-grid" >
        <button class="uk-button btn2" (click)="this.authService.signInWithGoogle()">
          <img src="https://res.cloudinary.com/mindset/image/upload/v1625917475/google__1_epmkfp.png" alt=""  class="img-1 imgg">
        </button>
        <button class="uk-button btn3" (click)="this.authService.signInWithFacebook()">
          <img src="https://res.cloudinary.com/mindset/image/upload/v1625923180/facebook__uzmrzq.png" alt=""  class="img-1">
        </button>
      </div>
      <h6>Don't have an account? <a routerLink="/signup">Register</a></h6>
    </div>




    
  </div>





  
</section>