<div class="personal-information-container">
  <div class="personal-information-main">
    <div class="profile-photos">
      <div class="profile-banner">
        <div class="profile-banner-hints">
          <div class="profile-banner-hints-text">Cover Photo</div>
          <span class="profile-banner-hints-icon">
            <svg
              width="21"
              height="20"
              viewBox="0 0 21 20"
              stroke="#fff"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.16 3.37625C14.0437 3.71125 14.3141 4.87792 14.6755 5.25292C15.0369 5.62792 15.554 5.75542 15.8401 5.75542C17.3609 5.75542 18.5938 6.92958 18.5938 8.37708V13.2063C18.5938 15.1479 16.94 16.7229 14.9012 16.7229H6.09875C4.05912 16.7229 2.40625 15.1479 2.40625 13.2063V8.37708C2.40625 6.92958 3.63913 5.75542 5.15988 5.75542C5.44513 5.75542 5.96225 5.62792 6.3245 5.25292C6.68588 4.87792 6.95538 3.71125 7.83913 3.37625C8.72375 3.04125 12.2762 3.04125 13.16 3.37625Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.3086 7.91667H15.3164"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.281 10.9402C13.281 9.47685 12.0359 8.29102 10.4994 8.29102C8.9629 8.29102 7.71777 9.47685 7.71777 10.9402C7.71777 12.4035 8.9629 13.5893 10.4994 13.5893C12.0359 13.5893 13.281 12.4035 13.281 10.9402Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="profile-photo">
        <div class="profile-photo-container">
          <div class="profile-photo-main">
            <img src="assets/images/seller-image.png" alt="" />
          </div>

          <div class="profile-photo-text">
            Update your photo and personal details
          </div>
        </div>

        <div class="profile-photo-btns">
          <button id="cancel">Cancel</button>
          <button id="save">Save</button>
        </div>
      </div>
    </div>

    <div class="profile-information-content">
      <form>
        <div class="information-group name-group">
          <div class="information-group-label">Full Name</div>

          <div class="information-group-inputs">
            <div class="input-group">
              <input
                type="text"
                class="input-o"
                id="first-name"
                placeholder="First Name"
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                class="input-o"
                id="last-name"
                placeholder="Last Name"
              />
            </div>
          </div>
        </div>

        <div class="information-group">
          <div class="information-group-label">Email</div>

          <div class="information-group-inputs">
            <div class="input-group">
              <input
                type="text"
                id=""
                placeholder="myemail@gmail.com"
                class="input-o"
              />
            </div>
            <div class="input-alert">
              You haven’t verified your email address.
            </div>
            <button>Verify Email</button>
          </div>
        </div>

        <div class="information-group">
          <div class="information-group-label">
            Bio
            <div id="bio-hint">
              Write a short description of your brand and products
            </div>
          </div>

          <div class="information-group-inputs">
            <div class="input-group textarea">
              <textarea
                name=""
                id=""
                cols="20"
                rows="10"
                placeholder="Please provide a detailed description"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="information-group">
          <div class="information-group-label">State</div>

          <div class="information-group-inputs">
            <div class="input-group contact">
              <select
                class="location-select"
                name="select"
                [(ngModel)]="selectedState"
                (ngModelChange)="getStateValue()"
              >
                <option
                  *ngFor="let state of states"
                  [value]="state"
                  [selected]="state == selectedState"
                >
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="information-group">
          <div class="information-group-label">Country</div>

          <div class="information-group-inputs">
            <div class="input-group contact">
              <select class="location-select" name="select">
                <option value="Nigeria" selected>Nigeria</option>
              </select>
            </div>
          </div>
        </div>

        <div class="information-group phone-number">
          <div class="information-group-label">Phone Number</div>

          <div class="information-group-inputs">
            <div class="input-group">
              <input
                type="text"
                id=""
                placeholder="myemail@gmail.com"
                class="input-o"
              />
            </div>
            <div class="input-alert">
              You need to verify this new number via an OTP
            </div>
            <button>Verify Number</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
