<div class="uk-container">
  <div
    class="uk-margin uk-padding uk-padding-top-remove uk-card uk-card-default"
  >
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="uk-grid uk-child-width-1-2@s">
        <div>
          <span
            *ngIf="
              f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)
            "
          >
            <span class="uk-text-warning" *ngIf="f.firstname.errors.required">
              firstname required
            </span>
          </span>
          <mat-form-field class="uk-width-expand">
            <mat-label>First Name</mat-label>
            <input formControlName="firstname" type="text" matInput />
          </mat-form-field>
        </div>
        <div>
          <span
            *ngIf="
              f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)
            "
          >
            <span class="uk-text-warning" *ngIf="f.lastname.errors.required">
              Lastname required
            </span>
          </span>
          <mat-form-field class="uk-width-expand">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastname" type="text" matInput required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="uk-width-expand">
            <mat-label>Email</mat-label>
            <input type="email" value="{{ user.email }}" matInput disabled />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="uk-width-expand">
            <mat-label>Phone number</mat-label>
            <input formControlName="phoneNumber" type="tel" matInput required />
          </mat-form-field>
        </div>
      </div>
      <div class="uk-grid uk-child-width-1-3@s uk-margin-remove-top">
        <div>
          <mat-form-field class="uk-width-expand">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required>
              <mat-option value="ng">Nigeria</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="uk-width-expand">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" required>
              <mat-option>Select</mat-option>

              <mat-option
                *ngFor="let state of states"
                value="{{ state.toLowerCase() }}"
                >{{ state }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="uk-width-expand">
            <mat-label>City / town</mat-label>
            <input formControlName="city" type="text" matInput required />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field class="uk-width-expand">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Delivery Address  ......"
            required
            formControlName="address"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="uk-text-center">
        <button
          [disabled]="profileForm.invalid || isSubmited"
          type="submit"
          class="uk-button uk-button-primary"
        >
          <img *ngIf="isSubmited" width="30" src="assets/svg/loader-icon.svg" />
          Save
        </button>
      </div>
    </form>
  </div>
</div>
