<div class="gen">
  <div class="back">
    <div class="default-width">
      <div class="img">
        <img
          src="https://res.cloudinary.com/mindset/image/upload/v1628005823/Rectangle168_4_ydlozg.png"
          alt=""
        />
      </div>
      <div class="text">
        <h1>Sell and Earn on the go.</h1>
        <h3>
          Don't break a sweat! Let's help you get your products to your
          customers with ease. Rena marketplace offers you a secure network to
          sell and earn.
        </h3>
      </div>
    </div>
  </div>

  <div class="back yellow-back">
    <div class="default-width">
      <div class="text">
        <h1>Need Help?</h1>
        <h3>
          Check our customer support page for complaints and refund policies.
        </h3>
      </div>
      <div class="img">
        <img
          src="https://res.cloudinary.com/mindset/image/upload/v1628005826/Rectangle168_7_esfajy.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="back">
    <div class="default-width">
      <div class="img">
        <img
          src="https://res.cloudinary.com/mindset/image/upload/v1628005824/Rectangle168_5_ivxvve.png"
          alt=""
        />
      </div>
      <div class="text">
        <h1>Join the Rena Market Community.</h1>
        <h3>
          Introducing you to a new world of ease where buying and selling is
          made fun and stress-free for you via a secure network. Sign up to
          unlock a new shopping experience.
        </h3>
        <button>Get Started</button>
      </div>
    </div>
  </div>
</div>
