<div
  data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
>
  <nav
    class="uk-navbar uk-navbar-container uk-margin uk-padding-left uk-padding-right uk-box-shadow-medium"
    uk-navbar
  >
    <div class="uk-navbar-left">
      <a
        class="uk-navbar-toggle uk-hidden@m"
        uk-toggle="target: #offcanvas-nav"
      >
        <span uk-navbar-toggle-icon></span>
      </a>
      <a class="uk-navbar-item logo-text" href="#"> Open Market</a>
    </div>

    <div class="uk-navbar-center uk-visible@m">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a routerLink="/">Home</a></li>
        <li>
          <a href="#">Categories</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li *ngFor="let category of categories">
                <a href="/products/?categoryId={{ category.id }}">{{
                  category.name
                }}</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a routerLink="/seller">Sell</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a routerLink="/sellerproduct">
                  ShowCaseProduct
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <ul class="uk-iconnav">
          <li>
            <a routerLink="/cart">
              <span
                class="iconify"
                data-icon="mdi:cart"
                data-inline="false"
                style="width: 20px; height: 20px"
              ></span>
              <span class="uk-badge backgound-dark-green">{{
                cartCount$ | async
              }}</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span
                class="iconify"
                data-icon="mdi:account-circle"
                data-inline="false"
                style="width: 20px; height: 20px"
              ></span>
            </a>
            <div
              uk-dropdown="animation: uk-animation-slide-top-small; duration: 1000"
            >
              <ul class="uk-nav uk-dropdown-nav" *ngIf="user$ | async">
                <li>
                  <a routerLink="/orders">
                    <span
                      class="iconify"
                      data-icon="octicon:package"
                      data-inline="false"
                      style="height: 25px; width: 25px; margin-right: 15px"
                    ></span>
                    Orders</a
                  >
                </li>
                <li>
                  <a routerLink="/profile">
                    <span
                      class="iconify"
                      data-icon="gg:profile"
                      data-inline="false"
                      style="height: 25px; width: 25px; margin-right: 15px"
                    ></span>
                    Profile</a
                  >
                </li>

                <li class="uk-nav-divider"></li>

                <li>
                  <a (click)="logout()">
                    <span
                      class="iconify"
                      data-icon="ri:logout-circle-line"
                      data-inline="false"
                      style="height: 25px; width: 25px; margin-right: 15px"
                    ></span>
                    Signout</a
                  >
                </li>
              </ul>

              <ul *ngIf="!(user$ | async)" class="uk-nav uk-dropdown-nav">
                <li>
                  <a routerLink="/auth">
                    <span
                      class="iconify"
                      data-icon="ri:login-circle-line"
                      data-inline="false"
                      style="height: 25px; width: 25px; margin-right: 15px"
                    ></span>
                    Sigin/Signup</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-primary">
      <li class="uk-active"><a routerLink="/">Home</a></li>
      <li class="uk-parent">
        <a href="#">Categories</a>
        <ul class="uk-nav-sub">
          <li *ngFor="let category of categories">
            <a href="/products/?categoryId={{ category.id }}">{{
              category.name
            }}</a>
          </li>
        </ul>
      </li>
      <li class="uk-nav-divider"></li>
      <li class="uk-nav-header"><a routerLink="/seller">Sell</a></li>
    </ul>
  </div>
</div>
