<nav
  class="uk-navbar uk-navbar-container uk-margin uk-padding-left uk-padding-right"
>
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Home</a></li>
      <li>
        <a href="#">Categories</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <ul class="uk-iconnav">
        <li>
          <a href="#">
            <span
              class="iconify"
              data-icon="mdi:account-circle"
              data-inline="false"
            ></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span
              class="iconify"
              data-icon="mdi:cart"
              data-inline="false"
            ></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
