<div class="dashboard-container">
  <div class="cards-div uk-flex uk-flex-between">
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="/assets/image/Frame 51514 (1).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingOverviewData">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingOverviewData" class="firstCard-num">
          {{ overviewData?.newOrderCount || 0 }}
        </p>
        <div class="firstCard-text">New Orders</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="/assets/image/Frame 51514 (4).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingOverviewData">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingOverviewData" class="firstCard-num">
          {{ overviewData?.totalOrderCount || 0 }}
        </p>
        <div class="firstCard-text">Total orders</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="/assets/image/newer-img.svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingOverviewData">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingOverviewData" class="firstCard-num">
          {{ overviewData?.successOrderCount || 0 }}
        </p>
        <div class="firstCard-text">Successful orders</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="/assets/image/Frame 51514 (2).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingOverviewData">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingOverviewData" class="firstCard-num">
          {{ overviewData?.rejectedOrderCount || 0 }}
        </p>
        <div class="firstCard-text">Rejected orders</div>
      </div>
    </div>
  </div>

  <div class="mobile-block d-flex mt-5">
    <div class="w-70 uk-flex">
      <div class="input-search uk-flex">
        <svg
          class="icn-search"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.8877 14.25C12.2014 14.25 14.8877 11.5637 14.8877 8.25C14.8877 4.93629 12.2014 2.25 8.8877 2.25C5.57399 2.25 2.8877 4.93629 2.8877 8.25C2.8877 11.5637 5.57399 14.25 8.8877 14.25Z"
            stroke="#828282"
            stroke-width="1.01393"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.3855 15.7508L13.123 12.4883"
            stroke="#828282"
            stroke-width="1.01393"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <input
          [(ngModel)]="search"
          type="text"
          id="searchInput"
          placeholder="Search by order No, product name..."
          #orderSearch
        />
      </div>
      <button (click)="searchOrders()" class="search-btn">
        <svg
          class="icn-search"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.8877 14.25C12.2014 14.25 14.8877 11.5637 14.8877 8.25C14.8877 4.93629 12.2014 2.25 8.8877 2.25C5.57399 2.25 2.8877 4.93629 2.8877 8.25C2.8877 11.5637 5.57399 14.25 8.8877 14.25Z"
            stroke="#828282"
            stroke-width="1.01393"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.3855 15.7508L13.123 12.4883"
            stroke="#828282"
            stroke-width="1.01393"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="w-30">
      <div class="ml">
        <select
          id="filterSelect"
          (change)="filterOrders($event)"
          class="w-100 select"
        >
          <option value="all">All</option>
          <option value="today">Today</option>
          <option value="week">This Week</option>
          <option value="month">This month</option>
          <option value="custom">Custom</option>
        </select>
      </div>
    </div>
  </div>

  <div class="mt-3 d-flex flexing justify-content-end">
    <!-- <span *ngIf="isCustomDate"> -->
    <input
      *ngIf="isCustomDate"
      type="text"
      placeholder="Select Start Date"
      onfocus="(this.type='date')"
      [(ngModel)]="startDate"
      class="date-input"
    />
    &nbsp; &nbsp;
    <input
      *ngIf="isCustomDate"
      type="text"
      placeholder="Select End Date"
      onfocus="(this.type='date')"
      [(ngModel)]="endDate"
      class="date-input"
    />
    &nbsp; &nbsp;
    <button *ngIf="isCustomDate" (click)="customFilter()" class="filter-btn">
      Filter
    </button>
    <!-- </span> -->
    &nbsp; &nbsp;
    <button (click)="clear()" class="outline-btn">Clear</button>
  </div>

  <div class="mt-5 tabs">
    <p
      (click)="switchTabs('newTab')"
      [ngClass]="{ activeTab: newTab === true }"
    >
      New
    </p>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <p
      (click)="switchTabs('confirmedTab')"
      [ngClass]="{ activeTab: confirmedTab === true }"
    >
      Confirmed
    </p>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <p
      (click)="switchTabs('cancelledTab')"
      [ngClass]="{ activeTab: cancelledTab === true }"
    >
      Cancelled
    </p>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <p
      (click)="switchTabs('allTab')"
      [ngClass]="{ activeTab: allTab === true }"
    >
      All
    </p>
  </div>

  <div class="web-only p-0 w-100 uk-card uk-card-default">
    <div class="w-100 table-head d-flex align-items-center">
      <span class="w-15">Order ID</span>
      <span class="w-20">Product Name</span>
      <span class="w-20">Date Ordered</span>
      <span class="w-15">Amount</span>
      <span class="w-15">Status</span>
      <span class="w-15">Action</span>
    </div>
    <div *ngIf="!loadingOrders && orders.length > 0">
      <div
        *ngFor="
          let item of orders
            | paginate
              : {
                  itemsPerPage: maximumItem,
                  currentPage: pageNumber,
                  totalItems: totalItemCount
                }
        "
        class="w-100 table-body d-flex align-items-center"
      >
        <span class="w-15">{{ item?.orderNo || "N/A" }}</span>
        <span class="w-20">{{
          item?.cartProduct?.product?.name || "N/A"
        }}</span>
        <span class="w-20">{{ item?.createdOn | date : "mediumDate" }}</span>
        <span class="w-15">{{ item?.amountPaid || 0 | currency : "₦" }}</span>
        <span class="w-15">
          <span
            *ngIf="
              item?.orderStatus.toLowerCase() === 'pending' ||
              item?.orderStatus.toLowerCase() === 'notset'
            "
          >
            <svg
              widspan="8"
              height="9"
              viewBox="0 0 8 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" r="4" fill="#F9AA4B" />
            </svg>
            &nbsp;
            <span class="ml-3">Pending</span>
          </span>
          <span *ngIf="item?.orderStatus.toLowerCase() === 'confirmed'">
            <svg
              widspan="8"
              height="9"
              viewBox="0 0 8 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" r="4" fill="#4CAF50" />
            </svg>
            &nbsp;
            <span class="ml-3">{{ item?.orderStatus }}</span>
          </span>
          <span
            *ngIf="
              item?.orderStatus.toLowerCase() === 'rejected' ||
              item?.orderStatus.toLowerCase() === 'returned'
            "
          >
            <svg
              widspan="8"
              height="9"
              viewBox="0 0 8 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" r="4" fill="#EF0606" />
            </svg>
            &nbsp;
            <span class="ml-3">{{ item?.orderStatus }}</span>
          </span>
        </span>
        <span class="w-15">
          <button (click)="viewOrder(item)" class="view-btn">View</button>
        </span>
      </div>
      <div class="uk-flex uk-flex-right">
        <pagination-controls
          (pageChange)="fetchAllOrders($event)"
        ></pagination-controls>
      </div>
    </div>

    <div *ngIf="loadingOrders" class="p-5">
      <p class="p-5 loading text-center">Loading...</p>
    </div>

    <div *ngIf="!loadingOrders && orders.length === 0" class="p-5">
      <p class="p-5 loading text-center">No orders available</p>
    </div>
  </div>

  <div class="mt-3 mobile-only">
    <div *ngIf="!loadingOrders && orders.length > 0">
      <div
        *ngFor="
          let item of orders
            | paginate
              : {
                  itemsPerPage: maximumItem,
                  currentPage: pageNumber,
                  totalItems: totalItemCount
                }
        "
      >
        <div class="mb-3 p-3 uk-card uk-card-default">
          <div class="d-flex justify-content-between align-items-center">
            <p>Order ID: {{ item?.orderNo || "N/A" }}</p>
            <p
              *ngIf="
                item?.orderStatus.toLowerCase() === 'pending' ||
                item?.orderStatus.toLowerCase() === 'notset'
              "
              class="d-flex"
            >
              <svg
                widspan="8"
                height="9"
                viewBox="0 0 8 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="4" cy="4.5" r="4" fill="#F9AA4B" />
              </svg>
              &nbsp;
              <span class="ml-3">Pending</span>
            </p>
            <p
              *ngIf="item?.orderStatus.toLowerCase() === 'confirmed'"
              class="d-flex"
            >
              <svg
                widspan="8"
                height="9"
                viewBox="0 0 8 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="4" cy="4.5" r="4" fill="#4CAF50" />
              </svg>
              &nbsp;
              <span class="ml-3">{{ item?.orderStatus }}</span>
            </p>
            <p
              *ngIf="
                item?.orderStatus.toLowerCase() === 'rejected' ||
                item?.orderStatus.toLowerCase() === 'returned'
              "
              class="d-flex"
            >
              <svg
                widspan="8"
                height="9"
                viewBox="0 0 8 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="4" cy="4.5" r="4" fill="#EF0606" />
              </svg>
              &nbsp;
              <span class="ml-3">{{ item?.orderStatus }}</span>
            </p>
          </div>
          <p class="name">{{ item?.cartProduct?.product?.name || "N/A" }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <p>{{ item?.createdOn | date : "mediumDate" }}</p>
            <p class="name">{{ item?.amountPaid || 0 | currency : "₦" }}</p>
          </div>
          <button (click)="viewOrder(item)" class="view-btn">View</button>
        </div>
      </div>
      <div class="uk-flex uk-flex-right">
        <pagination-controls
          (pageChange)="fetchAllOrders($event)"
        ></pagination-controls>
      </div>
    </div>

    <div *ngIf="loadingOrders" class="p-5">
      <p class="p-5 loading text-center">Loading...</p>
    </div>

    <div *ngIf="!loadingOrders && orders.length === 0" class="p-5">
      <p class="p-5 loading text-center">No orders available</p>
    </div>
  </div>
</div>
