<div class="refund-container">
  <div class="refund">
    <div class="refund-heading">
      <h2>Give your reasons</h2>
      <i class="fa fa-times" (click)="onCloseModal()"></i>
    </div>

    <div class="refund-select">
      <p>Select a reason</p>

      <mat-form-field>
        <mat-select>
          <mat-option [value]="reason" *ngFor="let reason of refundReasons">{{
            reason
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="evidence">
      <div class="upload-evidence">Upload evidence</div>
      <p>Please upload proof causing refund such as videos or images</p>

      <div class="evidence-main">
        <svg
          width="61"
          height="60"
          viewBox="0 0 61 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_13057_89313)">
            <rect x="2.5" y="1" width="56" height="56" rx="28" fill="#F2F4F7" />
            <path
              d="M39.5 32V36C39.5 36.5304 39.2893 37.0391 38.9142 37.4142C38.5391 37.7893 38.0304 38 37.5 38H23.5C22.9696 38 22.4609 37.7893 22.0858 37.4142C21.7107 37.0391 21.5 36.5304 21.5 36V32M35.5 25L30.5 20M30.5 20L25.5 25M30.5 20V32"
              stroke="#101828"
              stroke-width="1.67"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_13057_89313"
              x="0.5"
              y="0"
              width="60"
              height="60"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="1" />
              <feGaussianBlur stdDeviation="1" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.05 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_13057_89313"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_13057_89313"
                result="shape"
              />
            </filter>
          </defs>
        </svg>

        <div>Click to upload <span>or</span> drag and drop</div>

        <p>SVG, PNG, or Video (max. 800x400px)</p>
      </div>
    </div>

    <div class="refund-action">
      <button>Refund</button>
      <div>Notify seller on refund</div>
    </div>
  </div>
</div>
