<div class="video-guide" style="margin-bottom: 20px">
  <app-video-guide-prompt
    [promptHeading]="'Play this video to learn how to create a product'"
    [contents]="[
      {
        videoId: 'ad4PkrfE39Y',
        text: 'Play now',
        heading: 'Learn how to create a product!'
      }
    ]"
  >
  </app-video-guide-prompt>
</div>
<button
  class="uk-button uk-button-secondary radius"
  type="button"
  routerLink="/seller/products/create"
>
  Add Product
</button>
<!-- uk-toggle="target: #modal-add-product" -->

<app-product-item
  (productIdSend)="editProduct.setProduct($event)"
  (viewedMore)="viewMore.setProduct($event)"
  #productList
>
</app-product-item>

<!-- This is the modal with the outside close button -->
<!-- <div id="modal-add-product" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body height-auto">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close #closeCreate></button>
    <app-add-product
      (closed)="closeAddProductModal()"
      (added)="productList.addProduct($event)">
    </app-add-product>
  </div>
</div> -->

<!-- This is the modal with the outside close button -->
<div id="modal-edit-product" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button
      class="uk-modal-close-outside"
      type="button"
      uk-close
      #closeEdit
    ></button>
    <app-edit-product
      #editProduct
      (closed)="closeEditProductModal()"
      (edited)="productList.updateProduct($event)"
    >
    </app-edit-product>
  </div>
</div>

<!-- This is the modal with the outside close button -->
<div id="modal-view-more" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <app-view-more #viewMore></app-view-more>
  </div>
</div>

<script
  src="https://widget.cloudinary.com/v2.0/global/all.js"
  type="text/javascript"
></script>
