@import "../../../mixins";

.seller-wallet-page {
  max-width: 69rem;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  @include breakpoint-down(small) {
    padding-inline: 1rem;
  }
}

.balance-row {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card-container {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: auto;
  gap: 2rem;

  p {
    margin: 0;
  }

  .withdrawcard-info {
    @include breakpoint-down(small) {
      h3 {
        font-size: 0.8rem;
        margin-top: 0.3rem;
        font-weight: 500;
      }

      .card-title {
        font-size: 9px;
      }
    }
  }
}

.w-auto .withdrawcard-img {
  margin-right: 2rem;

  @include breakpoint-down(small) {
    margin-right: 1rem;
  }
}

.card-balance {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin: 12px 0 0;
}
