<h3 class="uk-heading-line uk-text-center"><span>Product Shipments</span></h3>
<div class="uk-grid-small uk-grid uk-child-width-1-4@s" 
    *ngFor="let shipment of shipments; let i=index;">
    <div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" 
                type="text" value="{{shipment.state}}" readonly>
        </div>
    </div>
    <div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" type="text" 
                type="text" value="{{shipment.city}}" readonly>
        </div>
    </div>
    <div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" type="text" 
                type="text" value="{{shipment.cost}}" readonly>
        </div>
    </div>
    <div>
        <button mat-raised-button color="warn" type="button" 
            [class.spinner]="shipment.loading" [disabled]="shipment.loading"
            (click)="removeOption(shipment.productId,'shipmentId',i)" >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div class="uk-grid-small uk-grid uk-child-width-1-4@s" [formGroup]="shipmentForm">
    <mat-form-field class="">
        <mat-label>State</mat-label>
        <mat-select formControlName="State" required>
          <mat-option>Select</mat-option>
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let state of states" value="{{ state.toLowerCase() }}" 
            (focus)="errs = []">
            {{ state }}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>City </mat-label>
        <input type="text" matInput placeholder="all, lagos, ikeja, ajah" formControlName="City"
          (focus)="errs = []" required
        />
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>Cost </mat-label>
        <input type="number" matInput placeholder="200"  formControlName="Cost" required 
            (focus)="errs = []" />
    </mat-form-field>
</div>
<mat-error *ngIf="errs.length">
    <strong>
        <span *ngFor="let err of errs">{{err}} </span> {{errs.length > 1?'are':'is'}} required
    </strong>
</mat-error>
<button mat-raised-button [class.spinner]="loading" [disabled]="loading"
    matTooltip="Add Location Where you can provide shipping"
    aria-label="Add Shipping Cost" color="primary" class="uk-margin"
    (click)="addShipment()" type="button">
    Save Shipment
</button>