<div class="account-select" *ngIf="accountsLists?.length !== 0">
  <mat-form-field>
    <mat-label>Select an account</mat-label>
    <mat-select
      [formControl]="accountsListForm"
      (selectionChange)="onSelect($event)"
    >
      <mat-option
        [value]="account.accountNumber"
        *ngFor="let account of accountsLists"
      >
        <div class="accounts-list">
          <span
            >{{ account.accountName }} • {{ account.accountNumber }} •
            {{ account.bankName }}</span
          >
        </div></mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<div class="bank-select" *ngIf="bankLists?.length > 0">
  <form [formGroup]="bankListForm">
    <mat-form-field>
      <mat-label>Select a bank</mat-label>
      <mat-select formControlName="bank">
        <mat-option *ngFor="let bank of bankListData" [value]="bank">
          {{ bank.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form>
</div>
