<div class="input-container uk-flex">
  <input
    type="text"
    placeholder="{{ placeholder }}"
    [value]="selectedBank || ''"
    disabled="true"
    readonly
  />

  <div class="dropdown-icon" type="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M6 9L12 15L18 9"
        stroke="#25282B"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div
    uk-dropdown="boundary: !.input-container; shift: false; flip: false; mode: click; target: !.input-container; stretch: x; pos: bottom-center; auto-update: false"
    class="uk-dropdown dropdown"
    #target
  >
    <ng-template [ngIf]="bankLists?.length > 0">
      <div class="dropdown-contents">
        <div
          *ngFor="let item of bankLists"
          [ngClass]="
            item?.name?.toLowerCase() === selectedBank?.toLowerCase()
              ? 'contents-item contents-item-selected'
              : 'contents-item'
          "
          (click)="handleSelect($event, item)"
        >
          <p>{{ item.name }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="accountsLists?.length !== 0">
      <div class="dropdown-contents">
        <div
          *ngFor="let item of accountsLists"
          [ngClass]="
            item?.bankName?.toLowerCase() === selectedBank?.toLowerCase()
              ? 'contents-item contents-item-selected mb-1'
              : 'contents-item mb-1'
          "
          (click)="handleAccountSelect($event, item)"
        >
          <div class="uk-flex uk-flex-between">
            <div>
              <h4>{{ item.accountName }}</h4>
              <p>{{ item.accountNumber }}</p>
            </div>
            <p>{{ item.bankName }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!-- <select [formControl]="accountsListForm">
  <option [value]="null">Select new or existing account</option>

  <option [value]="item" *ngFor="let item of accountsLists">
    <div class="accounts-list">
      <div>{{ item.accountName }}</div>
      •
      <div>{{ item.accountNumber }}</div>
      •
      <p>{{ item.bankName }}</p>
    </div>
  </option>
</select>

<select [formControl]="bankListForm">
  <option [value]="null">Select your bank</option>
  <option [value]="item" *ngFor="let item of bankLists">
    {{ item.name }}
  </option>
</select> -->
