<div class="input-container uk-flex">
  <div class="dropdown-icon" type="button">
    <input
      type="text"
      placeholder="{{ placeholder }}"
      [value]="selectedBank || ''"
      disabled="true"
      readonly
      class="dropdown-icon"
      type="button"
    />
  </div>

  <!-- <div class="dropdown-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M6 9L12 15L18 9"
        stroke="#25282B"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div> -->
  <div
    uk-dropdown="boundary: !.input-container; shift: false; flip: false; mode: click; target: !.input-container; stretch: x; pos: bottom-center; auto-update: false"
    class="uk-dropdown dropdown"
    #target
  >
    <ng-template [ngIf]="bankLists?.length > 0">
      <div class="dropdown-contents">
        <div
          *ngFor="let item of bankLists"
          [ngClass]="
            item?.name?.toLowerCase() === selectedBank?.toLowerCase()
              ? 'contents-item contents-item-selected'
              : 'contents-item'
          "
          (click)="handleSelect($event, item)"
        >
          <p>{{ item.name }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="accountsLists?.length !== 0">
      <div class="dropdown-contents">
        <div
          *ngFor="let item of accountsLists"
          [ngClass]="
            item?.bankName?.toLowerCase() === selectedBank?.toLowerCase()
              ? 'contents-item contents-item-selected mb-1'
              : 'contents-item mb-1'
          "
          (click)="handleAccountSelect($event, item)"
        >
          <div class="uk-flex uk-flex-between">
            <div>
              <h4>{{ item.accountName }}</h4>
              <p>{{ item.accountNumber }}</p>
            </div>
            <p>{{ item.bankName }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value?.[0] || ''}}
        @if ((toppings.value?.length || 0) > 1) {
        <span class="example-additional-selection">
          (+{{ (toppings.value?.length || 0) - 1 }}
          {{ toppings.value?.length === 2 ? "other" : "others" }})
        </span>
        }
      </mat-select-trigger>
      @for (topping of toppingList; track topping) {
      <mat-option [value]="topping">{{ topping }}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->
</div>
