<div class="dashboard-title uk-margin-bottom">Update Delivery Status</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="uk-width-expand">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" required>
      <mat-option value="paid">Paid</mat-option>
      <mat-option value="confirmed">Confirmed</mat-option>
      <mat-option value="canceled">Canceled</mat-option>
      <mat-option value="refunded">Refunded</mat-option>
      <mat-option value="deliver">Deliver</mat-option>
      <mat-option value="intransit">Intransit</mat-option>
      <mat-option value="pending">Pending</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn-default">
    Update
  </button>
</form>