<div class="deactivate-container">
  <div class="heading">
    Deactivating your account would delete all your information from the
    RenaMarket Platform. To Proceed please enter your account password.
  </div>
  <form id="deactivate-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Enter Password</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
        />

        <div class="eye" (click)="onToggleVisibility()">
          <i class="fa-solid fa-eye" *ngIf="showPassword"></i>
          <i class="fa-solid fa-eye-slash" *ngIf="!showPassword"></i>
        </div>
      </div>
    </div>

    <div class="btn">
      <button type="submit" id="submit-btn">Save Changes</button>
    </div>
  </form>
</div>
