.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1400px;
  z-index: 12;
  padding: 0px 0 0 0;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 100;
}

.loader-container {
  width: 100vw;
  height: 250px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result {
  display: flex;
  align-items: center;
  width: 100vw;
  grid-template-columns: repeat(1fr, 2fr);
  margin-inline: auto;
  cursor: pointer;
  padding: 0 0;
  padding-left: 35px;
  background: rgba(0, 0, 0, 1);
  color: #ffffff;

  &:hover {
    & .product-content {
      padding: 10px 10px;
      background-color: #ffff;
      color: #000000;
    }
  }

  & .product-img {
    margin-right: 30px;
    margin-bottom: 10px;

    & img {
      height: 72px;
      width: 72px;
      object-fit: contain;
    }
  }

  & .product-content {
    width: 100%;
    padding: 10px 10px;
    & .product-name {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
      letter-spacing: 1.1px;
    }

    & .product-description {
      font-size: 15px;
      height: auto;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.search-underlay {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

@media (max-width: 995px) {
  .search-results {
    // padding-left: 20px;
  }
}

@media (max-width: 957px) {
  .search-results {
    padding-left: 0px;
  }
}

@media (max-width: 450px) {
  .search-result {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-inline: auto;
    cursor: pointer;
    padding: 0 52px;
    background: rgba(0, 0, 0, 1);

    & .product-img {
      width: 50px;
      height: 70px;
      margin-right: 15px;

      & img {
        height: 72px;
        width: 72px;
        object-fit: contain;
      }
    }

    & .product-content {
      & .product-name {
        font-size: 16px;
        margin-bottom: 8px;
        letter-spacing: 1.1px;
      }
    }
  }
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
