mat-icon{
    font-size: 18px;
}

.js-upload {
    width: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 72px;
    background: 0 0;
    border: 0.8px solid #BDBDBD;
    border-radius: 8px;
    cursor: pointer;
}

.bord {
    background: #F6F6FD;
    border: 0.4px solid #BDBDBD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.main-img {
    background: #F6F6FD;
    border: 0.4px solid #BDBDBD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 300px;
}

.pointer {
    cursor: pointer;
}

.w-400 {
    width: 400px;
}

.w-600 {
    width: 600px;
}

.w-200 {
    width: 200px;
}

.kg-border {
    border-left: 1px solid rgb(201, 201, 201);
}

.add-store-btn {
    cursor: pointer;
    color: blue;
    margin: 0px;
}

.wrapper-style {
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.wrapper-style2 {
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: auto;
}

.number-count {
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.count-bg {
    display: flex;
    align-self: center;
}

.btn-add {
    background: #000000;
    color: white;
    border: 0.8px solid #FFFFFF;
    box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
    border-radius: 8px;
    padding: 15px 50px;
}

.btn-edit {
    background: #FFFFFF;
    color: 000000;
    border: 0.8px solid #000000;
    box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
    border-radius: 8px;
    padding: 15px 50px;
    width: 250px;
}

.carder {
    width: 200px;
    margin-right: 10px;
}

.active-img {
    border: 1px solid black !important;
}

.card-name {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.card-price {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.btn-submit {
    background: #000000;
    color: white;
    border: 0.8px solid #FFFFFF;
    box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
    border-radius: 8px;
    padding: 15px 50px;
    width: 250px;
}

.the-btn {
    background-color: #F6F6FD;
    border: 1px solid #BDBDBD;
    box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
    border-radius: 8px;
    color: black;
    width: 250px;
    padding: 10px;
}

span svg {
    color: #243853;
}
span svg [stroke*='#'] {
    stroke: #243853;
}
.uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    stroke: #243853;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}
.option {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.item-name {
    font-family: Avenir;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.num {
    font-family: Avenir;
    font-size: 32px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
}

.gen-st {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.num {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.value {
    background-color: #F6F6FD;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: black;
    padding: 5px;
    width: auto;
}

.item-price {
    font-family: Avenir;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.description {
    font-family: Avenir LT Std;
    font-size: 18px;
    font-weight: 350;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 70%;
}

.underline {
    border-bottom: 1px solid #BDBDBD;
}

@media screen and (max-width: 767px) {
    .main {
        display: block !important;
        width: 100% !important;
    }

    .full-width {
        width: 100% !important;
    }

    .no-mobile-margin {
        margin: 0px !important;
    }

    .del-mobile {
        display: flex;
        justify-content: end;
    }

    .upload-text {
        text-align: left !important;
    }

    .mobile-space {
        margin-top: 10px;
    }
    .description {
        width: 100% !important;
    }

    .w-400 {
        width: 100% !important;
    }

    .w-600 {
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .w-400 {
        width: 300px !important;
    }

    .w-600 {
        width: 400px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    
}