<h1 class="uk-margin-bottom">Enter Your Product(s) Details</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">
    <div class="uk-width-1-2">
      <mat-form-field class="uk-width-expand">
        <mat-label>
          Product name
          <span *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
            <span
              class="uk-text-warning"
              style="font-size: smaller"
              *ngIf="f.name.errors.required"
            >
              Product Name required <br
            /></span>
          </span>
        </mat-label>

        <input
          type="text"
          formControlName="name"
          matInput
          placeholder="eg Samsung s11"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field
        class="uk-width-expand"
        *ngIf="stores$ | async as stores"
      >
        <mat-label>Store Address</mat-label>
        <mat-select 
          formControlName="storeIds" 
          multiple
          required
        >
          <mat-option>Select</mat-option>
          <mat-option
            *ngFor="let store of stores.data"
            value="{{ store.id }}"
          >
            {{ store.fullAddress }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="uk-width-expand"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option>Select</mat-option>
          <mat-option
            *ngFor="let category of categories.data"
            value="{{ category.id }}"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="uk-grid-small uk-grid uk-child-width-1-2@s">
        <mat-form-field class="">
          <mat-label
            >Price
            <span *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)">
              <span
                class="uk-text-warning"
                style="font-size: smaller"
                *ngIf="f.price.errors.required"
              >
                Price required <br
              /></span>
            </span>
          </mat-label>

          <input
            type="number"
            matInput
            formControlName="price"
            placeholder="eg 1000"
            formControlName="price"
            required
          />
        </mat-form-field>

        <mat-form-field class="">
          <mat-label
            >Avaliable Unit
            <span *ngIf="f.unit.invalid && (f.unit.dirty || f.unit.touched)">
              <span
                class="uk-text-warning"
                style="font-size: smaller"
                *ngIf="f.unit.errors.required"
              >
                unit required <br
              /></span>
            </span>
          </mat-label>
          <input
            type="number"
            formControlName="unit"
            matInput
            placeholder="200"
            formControlName="unit"
            required
          />
        </mat-form-field>
        <!-- <mat-form-field class="uk-width-1-2@s">
        <mat-label>Default Shipping cost</mat-label>
        <input type="number" matInput placeholder="200" required />
      </mat-form-field> -->
      </div>
      <mat-form-field class="">
        <mat-label>Weight</mat-label>
        <input
          type="number"
          formControlName="weight"
          matInput
          placeholder="eg 2000"
          formControlName="weight"
        />
      </mat-form-field>
      <mat-form-field class="uk-width-expand">
        <mat-label
          >Description

          <span
            *ngIf="
              f.description.invalid &&
              (f.description.dirty || f.description.touched)
            "
          >
            <span
              class="uk-text-warning"
              style="font-size: smaller"
              *ngIf="f.description.errors.required"
            >
              Product Description required <br
            /></span>
          </span>
        </mat-label>
        <textarea
          matInput
          placeholder="Ex. 100 Main St"
          formControlName="description"
          required
        >
          provide full detail of this Product
        </textarea>
      </mat-form-field>
      <hr />
    </div>
    <div class="uk-width-1-2 uk-flex uk-flex-center">
      <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <h3 class="uk-text-center">Upload Pictures of Product</h3>
        <div class="js-upload uk-text-center" (click)="upload()">
          <span uk-icon="icon: cloud-upload; ratio: 3" style="color: #243853;"></span>
        </div>
        <div
          class="uk-margin uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-small uk-grid"
        >
          <div class="uk-margin-small-bottom" *ngFor="let image of images">
            <div class="uk-inline uk-dark">
              <img style="max-height: 90px" src="{{ image }}" alt="{{ image }}" />
              <div
                class="uk-position-center uk-overlay uk-overlay-primary"
                style="padding: 5px; border-radius: 20px"
                (click)="removeImage(image)"
              >
                <span
                  class="iconify"
                  data-icon="ri:delete-bin-6-line"
                  data-inline="false"
                  style="color: rgb(177, 55, 55)"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-flex uk-flex-center uk-flex-column">
    <div
      formArrayName="variations"
      *ngFor="let variation of variations()['controls']; let i = index"
    >
      <div class="uk-flex uk-flex-center" [formGroupName]="i">
        <div class="uk-flex uk-flex-center uk-flex-middle uk-width-3-4 option">
          <mat-form-field class="uk-width-1-4">
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" required>
              <mat-option>--- Select Variation ---</mat-option>
              <mat-option
                *ngFor="let productVariation of productVariations"
                value="{{ productVariation.toLowerCase() }}"
                >{{ productVariation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="uk-width-1-4 uk-margin-left">
            <mat-label>Value</mat-label>
            <input
              type="text"
              matInput
              placeholder="--- Add Value---"
              formControlName="value"
              required
            />
          </mat-form-field>
          <mat-form-field class="uk-width-1-4 uk-margin-left">
            <mat-label>Price </mat-label>
            <input
              type="number"
              matInput
              placeholder="--- Input Price ---"
              formControlName="cost"
              required
            />
          </mat-form-field>
          <div class="uk-margin-left">
            <button
              mat-raised-button
              (click)="removeVariation(i)"
              color="warn"
              type="button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-flex uk-flex-center">
      <button
        mat-raised-button
        matTooltip="Add Variations of the Product"
        aria-label="Add Product Variation"
        (click)="addVariation()"
        class="uk-margin uk-button-default"
        type="button"
      >
      <mat-icon>plus_one</mat-icon>
        Add Variation
      </button>
    </div>
    <hr />
  </div>

  <div class="uk-flex uk-flex-center uk-flex-column">
    <div
      formArrayName="options"
      *ngFor="let option of options()['controls']; let j = index"
    >
      <div class="uk-flex uk-flex-center" [formGroupName]="j">
        <div class="uk-flex uk-flex-wrap uk-flex-center uk-flex-middle uk-width-3-4 option">
          <mat-form-field class="uk-width-2-5">
            <mat-label>Product Name</mat-label>
            <input
              type="text"
              matTooltip="Provide Product Title"
              matInput
              placeholder="Product Name"
              formControlName="title"
              required
            />
          </mat-form-field>
          <mat-form-field class="uk-width-2-5 uk-margin-left">
            <mat-label>Price</mat-label>
            <input
              type="number"
              matInput
              matTooltip="Enter cost for this product"
              placeholder="eg Enter cost for this Product"
              formControlName="cost"
            />
          </mat-form-field>
          <mat-form-field class="uk-width-3-5 uk-margin-left">
            <mat-label>Short Description</mat-label>
            <textarea
              type="text"
              matInput
              placeholder="provide short description  of this option"
              formControlName="shortDescription"
            ></textarea>
          </mat-form-field>

          <div class="uk-width-1-5 uk-flex uk-flex-center">
            <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-middle uk-text-center">
              <div class="js-upload uk-text-center">
                <span uk-icon="icon: cloud-upload; ratio: 3" style="color: #243853;"></span>
              </div>
              <div
                class="uk-margin uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-small uk-grid"
              >
                <div class="uk-margin-small-bottom" *ngFor="let image of images">
                  <div class="uk-inline uk-dark">
                    <img style="max-height: 90px" src="{{ image }}" alt="{{ image }}" />
                    <div
                      class="uk-position-center uk-overlay uk-overlay-primary"
                      style="padding: 5px; border-radius: 20px"
                      (click)="removeImage(image)"
                    >
                      <span
                        class="iconify"
                        data-icon="ri:delete-bin-6-line"
                        data-inline="false"
                        style="color: rgb(177, 55, 55)"
                      >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="uk-text-center">Upload Pictures of Product</h3>
            </div>
          </div>

          <div class="uk-width-1-2 uk-margin-left">
            <button
              mat-raised-button
              (click)="removeOption(j)"
              color="warn"
              class="uk-margin"
              type="button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-flex uk-flex-center">
      <button
        mat-raised-button
        matTooltip="Add Variations of the Product"
        aria-label="Add Product Variation"
        (click)="addProductOption()"
        class="uk-margin uk-button-default"
        type="button"
      >
      <mat-icon>plus_one</mat-icon>
        Add Complementary Product
      </button>
    </div>
    <hr />
  </div>
  <button mat-raised-button type="submit" class="btn-default" 
    [class.spinner]="loading" [disabled]="loading">
    Add Product
  </button>
</form>
