      <div class="signup-form-section">
        <div class="signup-form-container">
          <div class="signup-form-header">
            <div class="signup-tiltle uk-margin-small-bottom ">Join Us</div>
            <div class="login-subtitle uk-margin-small-bottom">Create an account</div>
            <div class="signup-form">
              <form [formGroup]="registerForm" (ngSubmit)="submit()" id="form">

                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Jane" type="text" formControlName="firstname" required />
                </mat-form-field>
                <section class="error-sec">
                  <div *ngIf="
                        f.firstname.invalid &&
                        (f.firstname.dirty || f.firstname.touched)
                      ">
                    <div *ngIf="f.firstname.errors.required">
                      firstname required
                    </div>
                  </div>
                </section>

                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Doe" type="text" formControlName="lastname" required />
                </mat-form-field>
                <section class="error-sec">
                  <div *ngIf="
                        f.lastname.invalid &&
                        (f.lastname.dirty || f.lastname.touched)
                      ">
                    <div *ngIf="f.lastname.errors.required">
                      lastname required
                    </div>
                  </div>
                </section>

                <!-- <mat-form-field appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="08023434567" type="text" formControlName="phoneNumber" required />
                </mat-form-field>
                <section class="error-sec">
                  <div *ngIf="
                        f.phoneNumber.invalid &&
                        (f.phoneNumber.dirty || f.phoneNumber.touched)
                      ">
                    <div *ngIf="f.phoneNumber.errors.required">
                      Phone Number required
                    </div>
                  </div>
                </section> -->

                <div class="time-picker-component">
                <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <!-- <div class="uk-flex icon-section">
                  <div class="dropdown-icon uk-flex" type="button"
                    >
                   
                    +234
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 9L12 15L18 9" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                 </div>
                  <div uk-dropdown="boundary: !contain; shift: false; flip: false; mode: click; target: !.contain; stretch: x; pos: bottom-left; auto-update: false"  class="uk-dropdown dropdown" #target>
        
                  <ng-template [ngIf]="codeList?.length > 0">
                    <div class="dropdown-contents">
                      <div *ngFor="let item of codeList" [ngClass]="item?.abbr?.toLowerCase() === selectedCode?.toLowerCase() ? 'contents-item contents-item-selected mb-1' : 'contents-item mb-1'" (click)="handleSelect($event, item)">
                        <p>{{item.abbr}}</p>
                      </div>
                    </div>
                  </ng-template>
                  </div> -->
                  
                <input matInput #myInput placeholder="08023434567" pattern="^(7|8|9){1}(0|1){1}[0-9]{8}$" type="number" formControlName="phoneNumber" required />
                <!-- </div> -->
                <div class="country-code" matPrefix>
                  <!-- <mat-select #template>
                  <mat-option [value]="item.code" *ngFor="let item of codeList">{{item.abbr}}</mat-option>
              </mat-select> -->

              <mat-select [(ngModel)]="selectedValue" name="food">  
      <mat-option *ngFor="let food of foods" [value]="food.value">  
        {{food.viewValue}}  
      </mat-option>  
    </mat-select>  
                </div>
              </mat-form-field>
              </div>
              <section class="error-sec">
                <div *ngIf="
                      f.phoneNumber.invalid &&
                      (f.phoneNumber.dirty || f.phoneNumber.touched)
                    ">
                  <div *ngIf="f.phoneNumber.errors.required">
                    Phone Number required
                  </div>
                  <div *ngIf="f.phoneNumber.errors.pattern">
                    Phone Number must be valid
                  </div>
                </div>
              </section>

                <mat-form-field appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <div class="d-flex">
                    <input matInput placeholder="example@email.com" type="email" formControlName="email" required />
                    <span *ngIf="f.email.valid">
                      <img src="assets/icons/success-check.svg" alt="check" />
                    </span>
                  </div>
                </mat-form-field>
                <section class="error-sec">
                  <div *ngIf="
                        f.email.invalid && (f.email.dirty || f.email.touched)
                      ">
                    <div *ngIf="f.email.errors.required">
                      Email required <br />
                    </div>
                    <div *ngIf="f.email.errors.email">
                      Valid email required
                    </div>
                  </div>
                </section>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <div class="d-flex">
                    <input matInput placeholder="********" [type]=" passwordType ?  'text' : 'password'" formControlName="password" required />
                    <span (click)="showPassword()">
                      <img src="assets/icons/eye-open.svg" alt="check" />
                    </span>
                  </div>

                </mat-form-field>
                <!-- <section class="error-sec">
                  <div *ngIf="
                    f.password.invalid &&
                    (f.password.dirty || f.password.touched)
                  ">
                    <div *ngIf="f.password.errors.required">
                      Password required, must contain number, special character, uppercase and lowercase characters <br />
                    </div>
                    <div *ngIf="f.password.errors.minLength">
                      Password should be at least 6 characters <br />
                    </div>
                  </div>
                </section> -->

                 <section>
                <div *ngIf="(f.password.value && f.password.invalid) || f.password.dirty || f.password.touched" class="err-sec">
                   <div [ngClass]="minLengthValid ? '': 'error'">
                    Password should be at least 6 characters <br />
                  </div>
                  <div [ngClass]="requiresUppercaseValid ? '': 'error'">
                    Password must contain Uppercase letter<br />
                  </div>
                  <div [ngClass]="requiresLowercaseValid ? '': 'error'">
                    Password must contain Lowercase letter<br />
                  </div>
                  <div [ngClass]="requiresDigitValid ? '': 'error'">
                    Password must contain a number <br />
                  </div>
                  <div [ngClass]="requiresSpecialCharsValid ? '': 'error'">
                    Password must contain special character<br />
                  </div>
                </div>
               
              </section>

                <button [disabled]="registerForm.invalid" class="uk-button uk-width-1-1 signup-btn1" type="submit">
                  Sign Up
                </button>

              </form>
              <div id="signup-or">
                <div class="signup-hr1"></div>
                <div class="signup-or">or</div>
                <div class="signup-hr2"></div>
              </div>

              <div id="login-btn">
                <div id="buttonDiv"></div>

                <button class="uk-button login-btn2" (click)="facebookSignup()">
                  <img src="https://res.cloudinary.com/mindset/image/upload/v1625923180/facebook__uzmrzq.png" alt=""
                    class="signup-img" />
                </button>
              </div>
              <div class="signup-route">Already registered? <a (click)="toggleSignupModal()" class="fw-500">Login</a></div>
            </div>
          </div>
        </div>
      </div>
