
h6 {
    text-align: center;
    padding: 40px;
    font-size: 16px;
  }

  .signup-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 2rem;
  }
  .signup-form-container {
    width: 100%;
  }
  .signup-back-btn a {
    color: #333333;
  }
  .signup-back {
    display: flex;
    align-items: center;
  }
  .signup-back img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .signup-form-header {
    text-align: center;
    margin-top: 3rem;

    .signup-form a {
      color: #000;
    }
  }
  .signup-form-header h2 {
    font-weight: 600;
    font-size: 2rem;
  }
  .signup-form-header p {
    font-size: 1rem;
  }
  form {
    margin: 2rem auto;
  }
  .open-market-sm {
    display: none;
  }
  .signup-form-section mat-form-field {
    width: 100%;
  }
  
  .signup-form .mat-input-element {
    color: #000;
  }
  
  .signup-forgot {
    margin-left: auto;
    padding-top: 2px;
    color: #584dcd;
  }
  .signup-btn1 {
    margin: 20px 0px 0px 0px;
    height: 54px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background-color: #000000;
    &:hover {
      background: #01000ab2;
      color: #fff;
    }
  }
  #signup-or {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 0 auto;
    width: 100%;
  }
  .signup-hr1 {
    color: #000;
    height: 1px;
    background-color: #000;
  }
  .signup-hr2 {
    color: #000;
    height: 1px;
    background-color: #000;
  }
  .signup-or {
    margin-top: -11px;
    text-align: center;
  }
  #signup-btn {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem auto;
  }
  .signup-btn2 {
    display: flex;
    margin: 20px 0;
    height: 44px;
    width: 140px;
    border-radius: 6px;
    padding: 2px;
    text-align: center;
    background-color: #f2f2f2;
  }

  .signup-img {
    padding-right: 20px;
    width: 124px;
  }
  .img-1 {
    padding-right: 20px;
    width: 124px;}
  
  .mat-mdc-form-field-error {
    display:inline;
  }
  
  #login-btn {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .signup-tiltle {
    font-weight: 750;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  
  @media only screen and (max-width: 769px) {
    .signup-form-section {
      height: fit-content;
      min-height: 100vh;
    }
    .signup-form-container {
      width: 100%;
    }
    .signup-form-header h2 {
      color: #f2f2f2;
    }
    .signup-form-header p {
      color: #f2f2f2;
    }
    .signup-form {
      margin: 1rem auto;
      border-radius: 6px;
      padding: 1rem 2rem;
    }
    .signup-back-btn {
      display: block;
      padding: 0 2rem;
    }
    form,
    .signup-form-section mat-form-field,
    .signup-btn1,
    #signup-or,
    #signup-btn {
      width: 100%;
    }
    .open-market-sm {
      display: block;
      text-align: center;
      font-weight: 800;
      font-size: 2rem;
      margin-top: 1rem;
    }
    .open-market-lg {
      display: none;
    }
    #login-btn {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }
  }
  
  input[type="checkbox"] {
    width: 20px;
  }
  