<!-- This is the seller-edit modal -->
<div class="edit-store">
  <div mat-dialog-content class="seller-store-modal">
    <button
      class="uk-modal-close-default seller-store-modalCloseBtn"
      type="button"
      uk-close
      [mat-dialog-close]="false"
    ></button>
    <form
      (submit)="onSave()"
      [formGroup]="sellerStoreAddressForm"
      class="uk-form-stacked edit-form uk-form"
    >
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Store Name*</label>
        <div class="uk-form-controls">
          <input
            formControlName="storeName"
            class="uk-input"
            id="form-stacked-text"
            type="text"
            placeholder="Please type your store name"
          />
          <div
            *ngIf="storeName.invalid && (storeName.dirty || storeName.touched)"
          >
            <small
              class="uk-text-danger"
              *ngIf="storeName.hasError('required')"
            >
              Store name is a required field
            </small>
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"
          >Store Address*</label
        >
        <div
          *ngIf="mode !== 'edit' || (mode === 'edit' && !notReady)"
          class="uk-form-controls"
        >
          <input
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)"
            class="uk-input"
            type="text"
            placeholder="Please type your store name"
          />
          <div
            *ngIf="
              fullAddress.invalid && (fullAddress.dirty || fullAddress.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="fullAddress.hasError('required')"
            >
              Store address is a required field
            </small>
          </div>
        </div>
        <p
          *ngIf="mode === 'edit' && notReady"
          (click)="setAddressField()"
          class="setter"
        >
          {{ setter }}
        </p>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">City*</label>
          <input
            formControlName="city"
            class="uk-input"
            type="text"
            placeholder="Lagos"
          />
          <div *ngIf="city.invalid && (city.dirty || city.touched)">
            <small class="uk-text-danger" *ngIf="city.hasError('required')">
              city is a required field
            </small>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">State*</label>
          <input
            formControlName="state"
            class="uk-input"
            type="text"
            placeholder="Nigeria"
          />
          <div *ngIf="state.invalid && (state.dirty || state.touched)">
            <small class="uk-text-danger" *ngIf="state.hasError('required')">
              state is a required field
            </small>
          </div>
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Landmark</label>
          <input
            formControlName="landmark"
            class="uk-input"
            type="text"
            placeholder="Please enter Landmark"
          />
          <div *ngIf="landmark.invalid && (landmark.dirty || landmark.touched)">
            <small class="uk-text-danger" *ngIf="landmark.hasError('required')">
              lanmark nearest to store is a required field
            </small>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label for="">Postal Code*</label>
          <input
            formControlName="postalCode"
            class="uk-input"
            type="text"
            placeholder="Please enter postal code"
          />
          <div
            *ngIf="
              postalCode.invalid && (postalCode.dirty || postalCode.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="postalCode.hasError('required')"
            >
              Store postal code is a required field
            </small>
          </div>
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Country*</label>
          <input
            formControlName="country"
            class="uk-input"
            type="text"
            placeholder="Nigeria"
          />
          <div *ngIf="country.invalid && (country.dirty || country.touched)">
            <small class="uk-text-danger" *ngIf="country.hasError('required')">
              Country of store address is a required field
            </small>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <label for="">Phone Number*</label>
          <!-- <span>+234</span> -->
          <input
            type="tel"
            formControlName="contactPhoneNumber"
            class="uk-input"
            type="text"
            placeholder="--- 2348012345678---"
            (keypress)="preventLetter($event)"
          />
          <div
            *ngIf="
              contactPhoneNumber.invalid &&
              (contactPhoneNumber.dirty || contactPhoneNumber.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="contactPhoneNumber.hasError('required')"
            >
              Contact phone number is a required field
            </small>
            <!-- <small class="uk-text-danger" *ngIf="contactPhoneNumber.hasError('pattern')">Please enter a valid phone number</small> -->
          </div>
        </div>
      </div>

      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s uk-autocomplete">
          <label for="openeingTime">Opening Time*</label>
          <select
            class="time-select"
            name=""
            id="openingTime"
            formControlName="openingTime"
          >
            <option [value]="null">Select a time</option>
            <option [value]="time" *ngFor="let time of times">
              {{ time }}
            </option>
          </select>
        </div>

        <div class="uk-width-1-2@s">
          <label for="closingTime">Closing Time*</label>
          <select
            class="time-select"
            name=""
            id="closingTime"
            formControlName="closingTime"
          >
            <option [value]="null">Select a time</option>
            <option [value]="time" *ngFor="let time of times">
              {{ time }}
            </option>
          </select>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"
          >Availability(days)*</label
        >
        <div class="uk-form-controls">
          <input
            formControlName="availability"
            class="uk-input"
            id="form-stacked-text"
            type="text"
            placeholder="Please type your store
          name"
          />
          <div
            *ngIf="storeName.invalid && (storeName.dirty || storeName.touched)"
          >
            <small
              class="uk-text-danger"
              *ngIf="storeName.hasError('required')"
            >
              Store name is a required field
            </small>
          </div>
        </div>
      </div>

      <p class="uk-text-center uk-margin-top">
        <button
          class="uk-button uk-button-default uk-modal-close"
          type="submit"
        >
          <span *ngIf="!loading">
            <span *ngIf="mode !== 'edit'">Save</span>
            <span *ngIf="mode === 'edit'">Update</span>
          </span>
          <span *ngIf="loading">
            <span *ngIf="mode !== 'edit'">saving...</span>
            <span *ngIf="mode === 'edit'">updating...</span>
          </span>
        </button>
      </p>
    </form>
  </div>
</div>
