<!-- This is the seller-edit modal -->
<div class="edit-store">
  <div mat-dialog-content class="seller-store-modal">
    <button
      class="uk-modal-close-default seller-store-modalCloseBtn"
      type="button"
      uk-close
      [mat-dialog-close]="false"
    ></button>
    <form
      (submit)="onSave()"
      [formGroup]="sellerStoreAddressForm"
      class="uk-form-stacked edit-form uk-form"
    >
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Store Name*</label>
        <div class="uk-form-controls">
          <input
            formControlName="storeName"
            class="uk-input"
            id="form-stacked-text"
            type="text"
            placeholder="Please type your store name"
          />
          <div
            *ngIf="storeName.invalid && (storeName.dirty || storeName.touched)"
          >
            <small
              class="uk-text-danger"
              *ngIf="storeName.hasError('required')"
            >
              Store name is a required field
            </small>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"
          >Store Address*</label
        >
        <div
          *ngIf="mode !== 'edit' || (mode === 'edit' && !notReady)"
          class="uk-form-controls"
        >
          <input
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)"
            class="uk-input"
            type="text"
            placeholder="Please type your store name"
            formControlName="fullAddress"
          />
          <div
            *ngIf="
              fullAddress.invalid && (fullAddress.dirty || fullAddress.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="fullAddress.hasError('required')"
            >
              Store address is a required field
            </small>
          </div>
        </div>
        <p
          *ngIf="mode === 'edit' && notReady"
          (click)="setAddressField()"
          class="setter"
        >
          {{ setter }}
        </p>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"
          >Availability*</label
        >
        <div
          *ngIf="mode !== 'edit' || (mode === 'edit' && !notReady)"
          class="uk-form-controls"
        >
          <div class="input-group" [mat-menu-trigger-for]="availMenu">
            <div class="uk-input select-availability">
              <span
                *ngIf="
                  formattedAvailabilities.length == 0;
                  else availabilityDays
                "
              >
                Select the days your store is available to deliver and pickup
              </span>
              <ng-template #availabilityDays>
                Available on:
                <span
                  *ngFor="
                    let availability of formattedAvailabilities;
                    let i = index
                  "
                  class="available-days"
                  ><span *ngIf="i != 0"> ,</span>
                  {{ availability.dayOfWeek }}
                </span>
              </ng-template>
            </div>

            <div class="select-availability-icon">
              <i class="fa fa-angle-down"></i>
            </div>
          </div>

          <mat-menu #availMenu class="avail-menu">
            <div class="avail-container" (click)="$event.stopPropagation()">
              <div class="avail-heading">
                <img src="assets/image/clock-01.png" alt="" />

                <div class="avail-heading-container">
                  <div class="avail-heading-main">General Availability</div>

                  <div class="avail-copy">
                    Set when you’re regularly available for delivery agent to
                    pick up <a>Learn more</a>
                  </div>
                </div>
              </div>

              <div class="avails-main" formArrayName="storeAvailabilties">
                <div
                  class="avails"
                  *ngFor="
                    let controls of storeAvailability.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <div class="day">{{ days[i]?.substring(0, 3) }}</div>

                  <div class="time">
                    <div>
                      <div class="input-container" *ngIf="isEditing[i]">
                        <div class="form-group">
                          <label for="openingTime">Opening Time</label>
                          <input
                            type="text"
                            formControlName="openingTime"
                            [ngxTimepicker]="picker1"
                            id="openingTime"
                          />
                        </div>

                        <div class="form-group">
                          <label for="closingTime">Closing Time</label>
                          <input
                            type="text"
                            formControlName="closingTime"
                            [ngxTimepicker]="picker2"
                            id="closingTime"
                          />
                        </div>

                        <ngx-material-timepicker
                          #picker1
                        ></ngx-material-timepicker>
                        <ngx-material-timepicker
                          #picker2
                        ></ngx-material-timepicker>
                      </div>

                      <div class="time-container" *ngIf="!isEditing[i]">
                        <div
                          class="available"
                          *ngIf="
                            storeAvailabilties[i]?.openingTime &&
                              storeAvailabilties[i]?.closingTime;
                            else unavail
                          "
                          (click)="onEditAvail(i)"
                        >
                          {{ storeAvailabilties[i]?.openingTime }}
                          <span>-</span>
                          {{ storeAvailabilties[i]?.closingTime }}
                        </div>

                        <ng-template #unavail>
                          <div class="unavailable">Unavailable</div>
                        </ng-template>
                      </div>
                    </div>

                    <div class="avail-btns">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 17 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        (click)="deleteAvail(i)"
                        *ngIf="
                          storeAvailabilties[i]?.openingTime &&
                            storeAvailabilties[i]?.closingTime;
                          else addAvail
                        "
                      >
                        <path
                          d="M3.82812 3.33203L13.1615 12.6654"
                          stroke="#141B34"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M15.1615 7.9987C15.1615 4.3168 12.1767 1.33203 8.49479 1.33203C4.81289 1.33203 1.82812 4.3168 1.82812 7.9987C1.82812 11.6806 4.81289 14.6654 8.49479 14.6654C12.1767 14.6654 15.1615 11.6806 15.1615 7.9987Z"
                          stroke="#141B34"
                          stroke-width="1.5"
                        />
                      </svg>
                      <ng-template #addAvail>
                        <svg
                          width="22"
                          height="22"
                          viewBox="0 0 17 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="isEditingAvail(i)"
                        >
                          <path
                            d="M8.50521 4.66797V11.3346M11.8385 8.0013H5.17188"
                            stroke="#141B34"
                            stroke-width="1.5"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.1615 7.9987C15.1615 4.3168 12.1767 1.33203 8.49479 1.33203C4.81289 1.33203 1.82812 4.3168 1.82812 7.9987C1.82812 11.6806 4.81289 14.6654 8.49479 14.6654C12.1767 14.6654 15.1615 11.6806 15.1615 7.9987Z"
                            stroke="#141B34"
                            stroke-width="1.5"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>

        <div class="avail-error" *ngIf="!isAvailabilityAdded">
          Select availability day(s)
        </div>
      </div>

      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">City*</label>
          <input
            formControlName="city"
            class="uk-input"
            type="text"
            placeholder="Lagos"
          />
          <div *ngIf="city.invalid && (city.dirty || city.touched)">
            <small class="uk-text-danger" *ngIf="city.hasError('required')">
              city is a required field
            </small>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">State*</label>
          <input
            formControlName="state"
            class="uk-input"
            type="text"
            placeholder="Nigeria"
          />
          <div *ngIf="state.invalid && (state.dirty || state.touched)">
            <small class="uk-text-danger" *ngIf="state.hasError('required')">
              state is a required field
            </small>
          </div>
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Landmark</label>
          <input
            formControlName="landmark"
            class="uk-input"
            type="text"
            placeholder="Please enter Landmark"
          />
          <div *ngIf="landmark.invalid && (landmark.dirty || landmark.touched)">
            <small class="uk-text-danger" *ngIf="landmark.hasError('required')">
              lanmark nearest to store is a required field
            </small>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label for="">Postal Code*</label>
          <input
            formControlName="postalCode"
            class="uk-input"
            type="text"
            placeholder="Please enter postal code"
          />
          <div
            *ngIf="
              postalCode.invalid && (postalCode.dirty || postalCode.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="postalCode.hasError('required')"
            >
              Store postal code is a required field
            </small>
          </div>
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Country*</label>
          <input
            formControlName="country"
            class="uk-input"
            type="text"
            placeholder="Nigeria"
          />
          <div *ngIf="country.invalid && (country.dirty || country.touched)">
            <small class="uk-text-danger" *ngIf="country.hasError('required')">
              Country of store address is a required field
            </small>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label for="phone">Phone Number*</label>
          <div class="contact-inputs">
            <input
              type="tel"
              placeholder="8023434567"
              formControlName="contactPhoneNumber"
              class="uk-input input-field"
              id="phone"
              (keypress)="preventLetter($event)"
            />

            <div class="country-code" matPrefix>
              <mat-select
                (change)="changeOption($event)"
                formControlName="countryCode"
                class="my-mat-select"
              >
                <mat-select-trigger class="country-code-text">
                  {{ countryCode.value }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let country of countryInfo"
                  [value]="country.phoneCode"
                >
                  <img [src]="country.flag" alt="" width="25px" height="25px" />
                  <span
                    style="font-size: 14px; margin-left: 7px; font-weight: bold"
                    >{{ country.countryName }}
                  </span>
                  <span style="font-size: 14px">
                    {{ country.phoneCode }}
                  </span>
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div
            *ngIf="
              contactPhoneNumber.invalid &&
              (contactPhoneNumber.dirty || contactPhoneNumber.touched)
            "
          >
            <small
              class="uk-text-danger"
              *ngIf="contactPhoneNumber.hasError('required')"
            >
              Contact phone number is a required field
            </small>
          </div>
          <div
            *ngIf="
              contactPhoneNumber.touched &&
              contactPhoneNumber.invalid &&
              !contactPhoneNumber.hasError('required')
            "
            class="uk-text-danger"
          >
            Enter a valid phone number
          </div>
        </div>
      </div>

      <button
        class="uk-button uk-button-default uk-modal-close submit-btn"
        type="submit"
      >
        <span *ngIf="!loading">
          <span *ngIf="mode !== 'edit'">Save</span>
          <span *ngIf="mode === 'edit'">Update</span>
        </span>
        <span *ngIf="loading">
          <span *ngIf="mode !== 'edit'">saving...</span>
          <span *ngIf="mode === 'edit'">updating...</span>
        </span>
      </button>
    </form>
  </div>
</div>
