<div class="transactions-actions">
  <div class="heading">Locked Funds</div>
</div>

<div class="transactions-main">
  <div class="transaction" *ngFor="let fund of funds">
    <div class="transaction-details">
      <div class="img-container">
        <img
          [alt]="fund.remark"
          src="assets/icons/locked-funds.png"
          width="40"
          height="41"
        />
      </div>

      <div class="details-copy">
        <div class="heading">{{ fund.heading }}</div>

        <div class="main-copy">
          <div class="remark">{{ fund.remark }}</div>
          <div class="date">{{ fund.date }}</div>
        </div>
      </div>
    </div>

    <div class="transaction-amount">
      {{ fund.amount | currency: "N" }}
    </div>
  </div>
</div>
