<div class="signup-main">
  <div class="signup-flex-container">
    <div class="signup-image-section"></div>
    <div class="signup-form-section">
      <div class="signup-form-container">
        <div class="signup-back-btn">
          <a [routerLink]="['']" onclick="UIkit.modal('#modal-auth').hide()">
            <div class="signup-back">
              <img
                src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png"
                alt="go-back"
              />
              Go Home
            </div>
          </a>
        </div>
        <div class="signup-form-header">
          <h1 class="open-market-lg">
            <img
              src="../../../../assets/logos/Rena-Market-Transparent-WHT-2.png"
              alt="RENA MARKET"
              width="200"
            />
          </h1>
          <h2>Join Us!</h2>
          <p>Create an account</p>
          <div class="signup-form">
            <h1 class="open-market-sm">
              <img
                src="../../../../assets/logos/Rena-Market-Transparent-WHT-2.png"
                alt="RENA MARKET"
                width="200"
              />
            </h1>
            <form [formGroup]="registerForm" (ngSubmit)="submit()" id="form">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    placeholder="Jane"
                    type="text"
                    formControlName="firstname"
                    required
                  />
                  <mat-error *ngIf="errorMessage != ''">{{
                    errorMessage
                  }}</mat-error>
                  <mat-error
                    class="uk-text-success"
                    *ngIf="message != '' && hasError == false"
                    >{{ message }}</mat-error
                  >
                  <mat-error *ngIf="hasError">
                    <mat-error *ngFor="let i of errors">
                      {{ i }}
                    </mat-error>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      f.firstname.invalid &&
                      (f.firstname.dirty || f.firstname.touched)
                    "
                  >
                    <mat-error *ngIf="f.firstname.errors.required">
                      firstname required
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    placeholder="Doe"
                    type="text"
                    formControlName="lastname"
                    required
                  />
                  <mat-error
                    *ngIf="
                      f.lastname.invalid &&
                      (f.lastname.dirty || f.lastname.touched)
                    "
                  >
                    <mat-error *ngIf="f.lastname.errors.required">
                      lastname required
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input
                    matInput
                    placeholder="example@email.com"
                    type="email"
                    formControlName="email"
                    required
                  />
                  <mat-error
                    *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    "
                  >
                    <mat-error *ngIf="f.email.errors.required">
                      Email required <br />
                    </mat-error>
                    <mat-error *ngIf="f.email.errors.email">
                      Valid email required
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    placeholder="********"
                    type="password"
                    formControlName="password"
                    required
                  />
                  <mat-error
                    *ngIf="
                      f.password.invalid &&
                      (f.password.dirty || f.password.touched)
                    "
                  >
                    <mat-error *ngIf="f.password.errors.required">
                      Password required <br />
                    </mat-error>
                    <mat-error *ngIf="f.password.errors.minLength">
                      Password should be at least 6 characters <br />
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    placeholder="********"
                    type="password"
                    formControlName="confirmPassword"
                    required
                  />
                  <mat-error
                    *ngIf="
                      f.confirmPassword.invalid &&
                      (f.confirmPassword.dirty || f.confirmPassword.touched)
                    "
                  >
                    <mat-error *ngIf="f.confirmPassword.errors.required">
                      Confirm Password required <br />
                    </mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors.mustMatch">
                      Confirm Password must match <br />
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <div style="margin-bottom: 20px; margin-top: 0px">
                <div style="display: flex; align-items: center">
                  <input type="checkbox" required />
                  <a routerLink="/private-policy" style="margin-left: 10px"
                    >Privacy Policy</a
                  >
                </div>
                <div
                  style="display: flex; align-items: center; margin-top: 10px"
                >
                  <input type="checkbox" required /><a
                    routerLink="/terms"
                    style="margin-left: 10px"
                    >Terms and Conditions</a
                  >
                </div>
              </div>
              <p>
                <button
                  class="uk-button uk-width-1-1 signup-btn1"
                  type="submit"
                >
                  Sign Up
                </button>
              </p>
            </form>
            <div id="signup-or">
              <div class="signup-hr1"></div>
              <div class="signup-or">or</div>
              <div class="signup-hr2"></div>
            </div>

            <div id="signup-btn">
              <button
                class="uk-button signup-btn2"
                (click)="this.authService.signInWithGoogle()"
              >
                <img
                  src="https://res.cloudinary.com/mindset/image/upload/v1625917475/google__1_epmkfp.png"
                  alt=""
                  class="img-1"
                />
              </button>
              <button
                class="uk-button signup-btn2"
                (click)="this.authService.signInWithFacebook()"
              >
                <img
                  src="https://res.cloudinary.com/mindset/image/upload/v1625923180/facebook__uzmrzq.png"
                  alt=""
                  class="img-1"
                />
              </button>
            </div>
            <h6>Already registered? <a routerLink="/login">Login</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
