/* @use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles; */

/* checkbox  */

h6 {
  text-align: center;
  padding: 40px;
  font-size: 16px;
}
.signup-main {
  width: 100%;
  min-height: 100vh;
}
.signup-main .signup-flex-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.signup-image-section,
.signup-form-section {
  width: 50%;
  height: 100%;
}

.signup-image-section {
  height: 100%;
  background-image: url("/assets/image/Rectangle 164.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 2rem;
}
.signup-form-container {
  width: 70%;
}
.signup-back-btn a {
  color: #333333;
}
.signup-back {
  display: flex;
  align-items: center;
}
.signup-back img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.signup-form-header {
  text-align: center;
  margin-top: 3rem;
}
.signup-form-header h2 {
  font-weight: 600;
  font-size: 2rem;
}
.signup-form-header p {
  font-size: 1rem;
}
form {
  width: 343px;
  margin: 3rem auto;
}
.open-market {
  display: none;
}
.signup-form-section mat-form-field {
  width: 343px;
}
.signup-forgot {
  margin-left: auto;
  padding-top: 2px;
  color: #584dcd;
}
.signup-btn1 {
  margin: 20px 0px;
  height: 54px;
  width: 343px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
  background-color: #584dcd;
}
#signup-or {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin: 0 auto;
  width: 343px;
}
.signup-hr1 {
  width: 142px;
  color: #000;
  height: 1px;
  background-color: #000;
}
.signup-hr2 {
  width: 142px;
  color: #000;
  height: 1px;
  background-color: #000;
}
.signup-or {
  margin-top: -11px;
  /* padding-right: 10px; */
  text-align: left;
}
#signup-btn {
  display: flex;
  justify-content: space-between;
  width: 343px;
  margin: 0.2rem auto;
}
.signup-btn2 {
  display: flex;
  margin: 20px 0;
  height: 44px;
  width: 140px;
  color: #fff;
  background-color: #584dcd;
  border-radius: 6px;
  padding: 2px;
  text-align: center;
  padding-left: 30px;
  border: solid 0.5px #584dcd;
  background-color: #f2f2f2;
  color: #584dcd;
}
.img-1 {
  padding-right: 20px;
  padding-top: 10px;
}

@media only screen and (max-width: 769px) {
  .signup-main .signup-flex-container {
    display: block;
  }
  .signup-image-section,
  .signup-form-section {
    width: 100%;
    height: 100%;
  }
  .signup-image-section {
    display: none;
  }
  .signup-form-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("/assets/image/Rectangle 165.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
  }
  .signup-form-container {
    width: 100%;
  }
  .signup-form-header h2 {
    color: #f2f2f2;
  }
  .signup-form-header p {
    color: #f2f2f2;
  }
  .signup-form {
    width: 95%;
    max-width: 390px;
    background: #f2f2f2;
    margin: 1rem auto;
    border-radius: 6px;
    padding: 1rem 1rem;
  }
  .signup-back-btn {
    display: none;
  }
  form,
  .signup-form-section mat-form-field,
  .signup-btn1,
  #signup-or,
  #signup-btn {
    width: 100%;
  }
  .open-market {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1rem;
  }
}

input[type="checkbox"] {
  width: 20px;
}
