
.main{
        background-image: linear-gradient(0deg, rgba(66, 61, 64, 0.3), rgba(15, 14, 15, 0.3)),url("/assets/image/Rectangle 164.png") ;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       height: 1324px;
    }

    .with{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        padding-top:20px;
        margin-left: 10px;
        margin-right: 10px;
        color: #111111;
      }

      .line{
        width: 185px;
                 height: 1px;
                 background-color: #333333;
                 margin-top: 31px;
     }
    a:hover{
        text-decoration: none;
    
    }
   
    
    #hero h1{
        font-weight: 800;
        font-size: 50px;
        color: #ffffff;
        padding-top: 350px;
        padding-left: 150px;
        width: 13em;
        line-height: 68px;
    }
    
    #hero p{
        color: #ffffff; 
        padding-left: 150px;
        padding-top: 50px;
        font-weight: 400;
        font-size: 24px;  
    }
    
    
    .back{
        display: flex;
    }
    .back img{
        width: 30px;
        height: 30px;
        margin-left: -20px;
        margin-top: -5px;
    }
    .form{
        background-color: #F2F2F2;
        margin-top: 90px;
        margin-left: 15em;
        /* margin-right:10px; */
        height: auto;
        width: 500px;
        padding-top: 20px;
        align-self: center;
        border-radius: 6px;
    }
    
    .form h1{
        font-size: 32px;
        font-weight: 800;
        color:#293146;
        text-align: center;
        margin-bottom: 30px;
        
    }
    input:focus { 
        outline: none !important;
        border-color: #6200ee;
    }
    input[type="text"]:focus{
        outline: none !important;
        border-color: #6200ee;
    }
    .form p{
        margin-left: 20px;
    }
    
    .input_wrap{
        margin-bottom: 30px;
        height: 50px;
        margin-left: -15px;
        position:relative;
        /* padding: 30px; */
        width: 200px;
      }
      input{
        height: 44px;
        /* width: 123px; */
        border: .5px solid #000;
        border-radius: 6px;
      }
      label{
          padding: 20px;
          margin-left: 10px;
      }
      input[type="text"] {
        border: .5px solid #000;
        border-radius: 5px;
        color: #584DCD;
        font-size: 14px;
        /* padding-left: 20px; */
        box-shadow: none; 
        width: 400px; 
        margin-left: 15px;
        padding-left: 15px;
      }

      input[type="email"] {
        width: 400px; 
        margin-left: 15px;
        padding-left: 20px;
      }
      input[type="password"] {
        width: 400px; 
        margin-left: 15px;
        padding-left: 15px;
      }
      /* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */
      
      input:focus + label, input:valid + label{
          position: relative;
        font-size: 1rem;
        color: #afbdcf;
        top: -55px;
        left:10px;
        background: #ffffff;
        border-radius: 10px;
        padding: 0px 5px 0px 5px;
      }
      
      .input_wrap {
          /* width:auto;  */
          height:auto;
      }
      
      .input_wrap label {
        
        font-family:arial;
        font-size:16px;
        color: #afbdcf;
        position: relative;
        top: -30px;
        left: 0;
        /* z-index: 2; */
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        pointer-events: none;
      
      }
      
      input[type="text"]:focus {outline:none;}
      .forgot{
        margin-left: 62%;
        margin-top: -20px;
        color: #584DCD;
    }
    
    #btn{
        display: flex;
        /* margin-left: -15px; */
    }
    
   
    .btn-1{
        
        margin-left: 0px;
        height: 54px;
        width: 400px;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        padding-bottom: 10px;
        color:#fff;
        background-color: #584DCD;
        
    }
    
    .btn-2{
        display: flex;
        margin: 10px;
        margin-left: 5px;
        height: 42px;
        width: 171px;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        border: solid .5px #584DCD;
        background-color: #f2f2f2;
        color:#584DCD;
    }
    .google{
        margin-top:-15px;
    }
    
    .btn-3{
        display: flex;
        margin: 10px;
        margin-left: 40px;
        height: 42px;
        width: 171px;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        border: solid .5px #fff;
        background-color: #fff;
        color:#000;
        text-align: center;
    
    }
    .img-1{
        margin-top: -15px;
    }
  
    
    h6{
        text-align: center;
        padding: 40px;
        font-size: 16px;
    }


@media only screen and (max-width:790px){

    .main{
        background-image: linear-gradient(0deg, rgba(66, 61, 64, 0.3), rgba(15, 14, 15, 0.3)),url("/assets/image/Rectangle 164.png") ;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       height: 1224%;
       position: relative;
    }
    /* .hero{
        display: flex;
        flex-direction: column;
    } */

    #hero h1{
        font-weight: 800;
        font-size: 1.2rem;
        color: #ffffff;
        padding-top: 30px;
        padding-left: 10px;
        text-align: center;
        /* width: 100%; */

    }
    
    #hero p{
        color: #ffffff; 
        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
        padding-left: 1em;
        text-align: center;
    }

    .form{
        background-color: #F2F2F2;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 3em;
        height: 800px;
        width: 90vw;
        padding-top: 20px;
        align-self: center;
    }

    .form p{
        margin-left: 20px;
       
    }

    .form h1{
        font-size: 32px;
        font-weight: 800;
        color:#293146;
        text-align: center;
        margin-bottom: 30px;
        
    }
    input{
        margin-left: -40px;
        height: 34px;
        width: 310px;
        border: .5px solid #000;
        border-radius: 6px;
      }
      label{
        padding: 4px;
        font-size: 12px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn1{
        margin-left: 1px;
        height: 34px;
        width: 310px;
        border-radius: 6px;
        text-align: center;
        color:#fff;
        font-size: 16px;
        padding-top: 2px;
        background-color: #584DCD;
    }
    
    .btn2{
     
        margin-left: 1px;
        height: 44px;
        width: 130px;
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        border: solid .5px #584DCD;
        background-color: #f2f2f2;
        color:#584DCD;
        /* padding-left: 4px; */
    }
    
    .btn3{
        margin-left: 1px;
        margin-left: 46px;
        height: 44px;
        font-size: 16px;
        width:130px;
        border-radius: 6px;
        text-align: center;
        background-color: #fff;
        color:#000;
        padding-left: 4px;
    
    }
    .btn2 img{
        width: 15px;
        height: 15px;
        /* padding-left: -10px; */
    }
    .btn3 img{
        width: 15px;
        height: 15px;
    }
    
    h6{
        font-size: 16px;
        text-align: center;
        padding: 40px;
    }
    #or{
        display: grid;
        grid-template-columns: 27% 26% 33%;
        text-align: center;
        margin-left: 30px;
    }
    .hr1{
        width: 30vw;
        color: #000;
        height: 1px;
        background-color: #000;
        margin-left: -35%;
    }
    .hr2{
        width: 30vw;
        color: #000;
        height: 1px;
        background-color: #000;
        margin-left: -5%;
    }
    .or{
        margin-top: -13px;
        /* padding: 20px; */
    }
}

@media only screen and (max-width:650px){

    .main{
        background-image: linear-gradient(0deg, rgba(66, 61, 64, 0.3), rgba(15, 14, 15, 0.3)),url("/assets/image/Rectangle 164.png") ;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       height: 1224px;
       position: relative;
       overflow-x: hidden;
    }
    .google{
        margin-top:0px;
    }
    .with{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        padding-top:22px;
        margin-left: 10px;
        margin-right: 10px;
        color: #111111;
      }

      .line{
        width: 115px;
                 height: 1px;
                 background-color: #333333;
                 margin-top: 31px;
                 margin-left: -5px;
     }


     .img-1{
        margin-top: 0px;
    }
    #hero h1{
        width: 359px;
        font-weight: 800;
        font-size: 26px;
        line-height:44px;
        color: #f2f2f2;
        padding-top: 30px;
        margin-left: -20px;

    }
    
    #hero p{
        color: #f2f2f2; 
        font-weight: normal;
        font-size: 15px;
        line-height:33px;
        margin-left: 5px;
        
    }

    .form{
        background-color: #F2F2F2;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 4.5em;
        height: auto;
        width: 83vw;
        padding-top: 20px;
        align-self: center;
        border-radius: 6px;
    }

    .form p{
        margin-left: 20px;
        font-size: .8em;
        text-align: left;
       
    }

    .form h1{
        font-size: 32px;
        font-weight: 800;
        color:#293146;
        text-align: center;
        /* margin-bottom: 30px; */
        margin-top: 40px;
        
    }
    input{
        margin-left: -10px;
        height: 34px;
        width: 200px;
        border: .5px solid #000;
        border-radius: 6px;
      }

      input[type="text"] {
        border: .5px solid #000;
        border-radius: 5px;
        color: #584DCD;
        font-size: 14px;
        /* padding-left: 20px; */
        box-shadow: none; 
        width: 250px; 
        margin-left: 3px;
      }

      input[type="email"] {
        width: 250px; 
        margin-left: 3px;
      }
      input[type="password"] {
        width: 250px; 
        margin-left: 3px;
      }
      label{
        /* padding: 4px; */
        padding-left: 20px;
        font-size: 12px;
    }
    

    input:focus + label, input:valid + label{
        position: relative;
      font-size: 1rem;
      color: #afbdcf;
      top: -45px;
      left:20px;
      background: #f2f2f2;
      border-radius: 10px;
      padding: 0px 5px 0px 5px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-1{
        margin-left: -10px;
        height: 44px;
        justify-content: center;
        width: 260px;
        border-radius: 6px;
        text-align: center;
        color:#fff;
        font-size: 16px;
        padding-top: 10px;
        align-content: center;
        background-color: #584DCD;   
    }
    
    .btn-2{
     
        margin-left: -5px;
        height: 44px;
        width: 110px;
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        border: solid .5px #584DCD;
        background-color: #f2f2f2;
        color:#584DCD;
        /* padding-left: 4px; */
    }
    
    .btn-3{
        /* margin-left: 1px; */
        margin-left: 30px;
        height: 44px;
        font-size: 16px;
        width:110px;
        border-radius: 6px;
        text-align: center;
        border: solid .5px #fff;
        background-color: #fff;
        color:#000;
        padding-left: 4px;
    
    }
    .btn2 img{
        width: 15px;
        height: 15px;
        /* padding-left: -10px; */
    }
    .btn3 img{
        width: 15px;
        height: 15px;
    }
    
    h6{
        font-size: 12px;
        text-align: center;
        padding: 40px;
        font-size: 16px;
    }
    
  
}

@media only screen and (min-width: 411px){
    input{
        width: 310px;
    }
    .btn1{
        width: 310px;
    }
}
@media only screen and (max-width: 380px){
    input{
        width: 285px;
    }
    .btn1{
        width: 285px;
    }
}
@media only screen and (min-width: 600px){
    input{
        width: 450px;
    }
    .btn1{
        width: 450px;
    }
    .hr1{
        margin-left: -25px;
    }
    .btn2{
        width: 200px;
    }
    .btn3{
        width: 200px;
    }
}
@media only screen and (max-width: 360px){
    input{
        width: 270px;
    }
    .btn1{
        width: 270px;
    }
}