.form-container {
  width: 100%;
  height: 100vh;
}

.form-img,
.form {
  width: 50%;
  height: 100%;
}

.form-img {
  min-width: 350px;
  height: 100%;
  background-image: url("../../../../assets/images/seller-registration.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  height: 100vh !important;
  padding: 50px 30px;
  overflow-y: scroll;
}

.seller-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.seller-info-main {
  width: 100%;
}

.go-back {
  cursor: pointer;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.go-back img {
  width: 20px;
  display: block;
}

.form-heading {
  text-align: center;
}

.form-heading .bold {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form {
  margin-top: 50px;
  width: 80%;
  margin-inline: auto;
}

.business-status {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.business-status label {
  display: flex;
  align-items: center;
}

.business-status label:first-child {
  margin-right: 20px;
}

.business-status label input {
  width: 16px;
  height: 16px;
}

.business-status label span {
  margin-left: 7px;
  font-size: 16px;
  font-weight: bold;
}

.form-group label {
  display: block;
  color: rgba(51, 51, 51, 0.8);
}
.form-group label.invalid {
  color: red;
}

.form-group input {
  border: 2px solid rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  padding: 13px 20px;
  width: 100%;
}
.form-group input:focus {
  outline: none;
}
.form-group input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.form-group input#logo-input {
  cursor: pointer;
}

.form-group.logo-group {
  position: relative;
}

.form-group.logo-group img {
  position: absolute;
  right: 5%;
  top: 53%;
  width: 22px;
}

.reg-btn {
  display: block;
  border: none;
  border-radius: 5px;
  color: white;
  background: #584dcd;
  width: 100%;
  padding: 14px 20px;
  margin-top: 20px;
  transition: all 300ms ease-in-out;
}
.reg-btn:hover {
  background: #473fa8;
}

@media (max-width: 765px) {
  .modal-container {
    height: 100%;
    background: white;
    padding: 50px 0;
  }
  .form-container {
    height: 100%;
  }

  .form-img,
  .form {
    width: 80%;
    margin-inline: auto;
  }

  .form-img {
    display: none;
  }

  .form {
    height: 100% !important;
    padding: 0;
    overflow-y: initial;
  }

  .seller-info {
    width: 100%;
    margin-inline: auto;
    padding-bottom: 50px;
  }

  form {
    margin-top: 50px;
    width: 100%;
    margin-inline: auto;
  }

  .business-status {
    width: 400px;
    margin-inline: auto;
    flex-wrap: nowrap;
  }

  .business-status label:first-child {
    /* margin-right: 10px; */
  }

  .business-status label span {
    font-size: 15px;
    font-weight: bold;
  }
}

@media (max-width: 475px) {
  .business-status {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
