<div id="seller-modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close (click)="closeModal()"></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle seller-info" uk-grid>
            <div class="uk-padding-large uk-flex-top">
                <h1>Seller Registeration Form</h1>
                <div>
                  <form [formGroup]="componentForm" (submit)="submit()">

                    <div>
                        <mat-form-field class="uk-width-expand">
                          <mat-label>Business/Brand/Company Name</mat-label>
                          <input type="text" matInput formControlName="businessName">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="uk-width-expand">
                          <mat-label>Business/Brand/Company Phone Number</mat-label>
                          <input type="tel" matInput formControlName="businessPhone">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="uk-width-expand">
                          <mat-label>Business/Brand/Company Email Address</mat-label>
                          <input type="email" matInput formControlName="businessEmail">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="uk-width-expand">
                          <mat-label>Business/Brand/Company Address</mat-label>
                          <input type="text" matInput formControlName="businessAddress">
                          <textarea
                            matInput
                            required
                            formControlName="businessAddress"
                          ></textarea>
                        </mat-form-field>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            <mat-form-field class="uk-width-expand">
                                <mat-label>Business/Brand/Country</mat-label>
                                <mat-select formControlName="businessCountryCode" required>
                                <mat-option value="ng">Nigeria</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="uk-width-1-3">
                            <mat-form-field class="uk-width-expand">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="businessState" required>
                                <mat-option
                                    *ngFor="let state of states"
                                    value="{{state}}"
                                    >{{ state }}</mat-option
                                >
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="uk-width-1-3">
                            <mat-form-field class="uk-width-expand">
                          <mat-label>City</mat-label>
                          <input type="text" matInput formControlName="businessCity">
                        </mat-form-field>
                        </div>

                    </div>

                    <div>
                        <mat-form-field class="uk-width-expand">
                          <mat-label>Business/Brand/Company Registration Number</mat-label>
                          <input type="tex" matInput formControlName="businessRegistrationNumber">
                        </mat-form-field>
                    </div>

                    <div class="js-upload uk-placeholder uk-text-center" (click)="upload()">
                      <span uk-icon="icon: cloud-upload"></span>
                      <span class="uk-text-middle">Business/Brand/Company logoUrl</span>
                      <div uk-form-custom>
                        &nbsp;
                        <span class="uk-link">Click to add</span>
                      </div>
                    </div>
                    <div class="uk-margin uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-small uk-grid">
                      <div class="uk-inline uk-dark" *ngIf="image">
                        <img style="max-height: 90px" src="{{ image }}" alt="{{ image }}" />
                      </div>
                    </div>

                    <div class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="closeModal()">Cancel</button>
                        <button class="uk-button uk-button-primary" type="submit" [disabled]="isLoading">
                          <span uk-spinner="ratio: 1" *ngIf="isLoading"></span>
                            Submit
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
