<ng-container>
  <div class="uk-card uk-card-default uk-card-body uk-margin-small seller-store-card">
    <div class="seller-radio">
      <label class="seller_label">
        <input class="uk-radio" type="radio" name="radio2" checked />
        Store
      </label>
    </div>

    <div class="seller-details-container">
      <div class="seller-top">
        <p class="seller_default">Default Store</p>
        <div>
          <a href="#edit-store" uk-toggle style="padding-right: 10px">
            <img class="edit-imgIcon" src="../../../../assets/svg/edit-seller-store-icon.svg" alt="" />
          </a>
          <a href="#delete-store" uk-toggle>
            <img class="del-imgIcon" src="../../../../assets/svg/delete-seller-store-icon.svg" alt="" />
          </a>
        </div>
      </div>
  
      <div class="uk-grid-small uk-child-width-1-3@m uk-grid-small uk-grid-match store-grid" uk-grid>
        <div class="uk-width-1-4@s">
          <h6>Street Address</h6>
          <p>Street Address</p>
        </div>
        <div class="uk-width-1-4@s">
          <h6>City, State</h6>
          <p>City, State</p>
        </div>
        <div class="uk-width-1-4@s">
          <h6>Country</h6>
          <p>Country</p>
        </div>
      </div>
      <div class="uk-grid-small uk-child-width-1-3@m uk-grid-small uk-grid-match store-grid" uk-grid>
        <div class="uk-width-1-4@s">
          <h6>Landmark</h6>
          <p>Landmark</p>
        </div>
        <div class="uk-width-1-4@s">
          <h6>Postal Code</h6>
          <p>Postal Code</p>
        </div>
        <div class="uk-width-1-4@s">
          <h6>Phone Number</h6>
          <p>Phone Number</p>
        </div>
      </div>
      <div class="uk-grid-small uk-child-width-1-3@m uk-grid-small uk-grid-match store-grid" uk-grid>
        <div class="uk-width-1-3@s">
          <h6>Number of Products in Store:</h6>
          <p>Number of Products in Store</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div class="seller-right">
  <button class="uk-button uk-button-primary seller-btn" type="button">
    + Add More Store
  </button>
</div>



<!-- This is the seller-delete modal -->
<div id="delete-store" class="delete-store" uk-modal>
  <div class="uk-modal-dialog uk-modal-body seller-store-modal">
    <button class="uk-modal-close-default seller-store-modalCloseBtn" type="button" uk-close></button>
    <div>
      <h6>Delete Store?</h6>
      <p>Are you sure you want to delete <b>“Store 1”</b>?</p>
      <p>You can’t undo this action.</p>
      <div class="border">
        <div style="display: flex">
          <img src="../../../../assets/img/danger.png" alt="" class="danger-icon" />
          <p class="warning">Warning</p>
        </div>
        <p class="delete-text">
          By deleting this store, <b>12 Products</b> in this store will
          automatically move to the Default Store.
        </p>
      </div>
    </div>
    <!-- <h6>Delete Store?</h6>
    <p>Are you sure you want to delete <b>“Store 1”</b>?</p>
    <p>You can’t undo this action.</p> -->
    <div class="uk-text-center" style="justify-content: space-between">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Cancel
      </button>
      <button class="uk-button uk-button-primary" type="button">
        Delete
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
</div>

<!-- This is the seller-edit modal -->
<div id="edit-store" class="edit-store" uk-modal>
  <div class="uk-modal-dialog uk-modal-body seller-store-modal">
    <button class="uk-modal-close-default seller-store-modalCloseBtn" type="button" uk-close></button>
    <form class="uk-form-stacked edit-form">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Store Name*</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="text" placeholder="Please type your store name" />
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Store Address*</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="text" placeholder="Please type your store name" />
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">City*</label>
          <select aria-label="Custom controls">
            <option value="1">-- select sub-category --</option>
            <option value="2">Option 02</option>
            <option value="3">Option 03</option>
            <option value="4">Option 04</option>
          </select>
        </div>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-text">State*</label>
          <select aria-label="Custom controls">
            <option value="1">-- select sub-category --</option>
            <option value="2">Option 02</option>
            <option value="3">Option 03</option>
            <option value="4">Option 04</option>
          </select>
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Landmark*</label>
          <input class="uk-input" type="text" placeholder="₦ 0.00" aria-label="100" />
        </div>
        <div class="uk-width-1-2@s">
          <label for="">Postal Code*</label>
          <input class="uk-input" type="text" placeholder="₦ 0.00" aria-label="100" />
        </div>
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label for="">Country*</label>
          <input class="uk-input" type="text" placeholder="₦ 0.00" aria-label="100" />
        </div>
        <div class="uk-width-1-2@s">
          <label for="">Phone Number*</label>
          <span>+234</span>
          <input class="uk-input" type="text" placeholder="₦ 0.00" aria-label="100" />
        </div>
      </div>

      <p class="uk-text-center uk-margin-top">
        <button class="uk-button uk-button-default uk-modal-close" type="button">
          Save
        </button>
        <!-- <button class="uk-button uk-button-primary" type="button">Save</button> -->
      </p>
    </form>
  </div>
</div>