.main {
  padding: 0rem 6rem 2rem 6rem;
}

section {
  margin: 50px auto;
}

// UTILITIES
// img {
//   max-width: 100%;
//   height: auto;
//   vertical-align: middle;
//   font-style: italic;
// }
// END OF UTILITIES

// section {
//   width: 100%;
// }

.hero-container {
  display: flex;
  align-self: flex-start;
  height: max-content;

  .categories-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5.27px 15px 0px rgba(0, 0, 0, 0.08);

    .category {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      gap: 8px;
      font-size: 0.9rem;
      //text-transform: capitalize;
    }
  }
  

  .thumbnail {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      //min-height: 414px;
      //width: 919px;
      flex-shrink: 1;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
}

.uk-slideshow-image {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.promoted-product-container,
.recommended-product-container {
  .header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    & .see-all-heading {
      margin-bottom: 0;
    }

    h2 {
      color: #000;
      font-family: "Avenir LT Std", sans-serif;
      font-size: 36.589px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
    }

    span {
      color: #ff8b00;
      font-family: "Avenir LT Std", sans-serif;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      text-decoration-line: underline;
      display: flex;
      align-items: center;
    }
  }
}

.section-image {
  width: 100%;
  height: 70vw;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.ghost-button {
  border: 0;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.ghost-button:hover {
  background-color: #e8b076; /* Blue background on hover */
  color: white;
}

@media (max-width: 768px) {
  .main {
    padding: 0 2rem 1rem 2rem;
  }
}

@media (max-width: 573px) {
  .small-img,
  .large-img {
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .ghost-button {
    padding: 5px 10px;
    font-size: 1em;
  }

  .see-all-heading {
    font-size: 16px !important;
  }
}

.banner-carousels {
  min-height: 0 !important;
  height: 100% !important;
  & li {
    height: 75vh;
  }
}
