.uk-width-3-4 {
  flex: 4;
  padding: 31px 14px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: static;
}

.uk-width-3-4 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #333333;
}

.uk-width-3-4 .item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.uk-width-3-4 .search {
  display: flex;
  justify-content: center;
  padding-left: 550px;
}

.uk-width-3-4 input {
  border: none;
  outline: none;
  width: 550px;
  padding: 12px 4px 12px 40px;
  background: #f1f1f1 url("../../../../assets/img/searchIcon.png") no-repeat
    13px center;
  border-radius: 6px;
}

.uk-width-3-4 input::placeholder {
  font-size: 14px;
}
