<div class="uk-grid uk-child-width-1-1" >
    <div class="dashboard-title">Orders</div>
    <ul uk-tab>
        <li class="uk-active"><a>All</a></li>
        <li><a>Pending</a></li>
        <li><a href="#">In Transit</a></li>
        <li><a href="#">Deliver</a></li>
        <!-- <li class="uk-disabled"><a>Disabled</a></li> -->
    </ul>
    <ul class="uk-switcher uk-margin">
      <li><app-order-list></app-order-list></li>
      <li><app-order-list></app-order-list></li>
      <li><app-order-list></app-order-list></li>
      <li><app-order-list></app-order-list></li>
    </ul>
</div>
