<div class="uk-grid uk-child-width-1-1 uk-margin-small-left uk-margin-remove-left@m" >
    <div class="dashboard-title">Orders</div>
    <ul uk-tab>
        <li class="uk-active"><a>Paid</a></li>
        <li><a>Confirmed </a></li>
        <li><a>Canceled </a></li>
        <li><a>Refunded </a></li>
        <li><a>Deliver</a></li>
        <li><a>InTransit</a></li>
        <li><a>Pending</a></li>
        <!-- <li class="uk-disabled"><a>Disabled</a></li> -->
    </ul>
    <ul class="uk-switcher uk-margin">
      <li><app-order-list status="paid"></app-order-list></li>
      <li><app-order-list status="confirmed"></app-order-list></li>
      <li><app-order-list status="canceled"></app-order-list></li>
      <li><app-order-list status="refunded"></app-order-list></li>
      <li><app-order-list status="deliver"></app-order-list></li>
      <li><app-order-list status="intransit"></app-order-list></li>
      <li><app-order-list status="pending"></app-order-list></li>
    </ul>
</div>