<!--=======  single product  =======-->
<div class="uk-card uk-card-default uk-card-hover uk-card-small" 
    *ngIf="product$ | async as product">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
        <ul class="uk-slideshow-items">
            <li>
                <img src="{{ product.data.imageUrl }}" data-src="{{ product.data.imageUrl }}" 
                    width="800" height="400" alt="" uk-cover>
            </li>
            <li>
                <img src="{{ product.data.imageUrl }}" data-src="{{ product.data.imageUrl }}" 
                    width="800" height="400" alt="" uk-cover>
            </li>
            <li *ngFor="let imageUrl of product.data.productImages">
                <img src="{{ imageUrl }}" data-src="{{ imageUrl }}" 
                    width="800" height="400" alt="" uk-cover>
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" 
            href="#" uk-slidenav-previous uk-slideshow-item="previous">
        </a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" 
            href="#" uk-slidenav-next uk-slideshow-item="next">
        </a>
    </div>

    <div class="uk-card-body uk-padding-small">
        <table class="uk-table uk-table-responsive uk-table-divider">
            <tbody>
                <tr>
                    <td>Name: </td><td>{{product.data.name}}</td>
                </tr>
                <tr>
                    <td>Price: </td><td>NGN {{numberWithCommas(product.data.price)}}</td>
                </tr>
                <tr>
                    <td>Previous Price: </td><td>NGN {{numberWithCommas(product.data.previousPrice)}}</td>
                </tr>
                <tr>
                    <td>Category: </td><td>{{product.data.category.name}}</td>
                </tr>
                <tr>
                    <td>Unit: </td><td>{{product.data.unit}}</td>
                </tr>
                <tr>
                    <td>Shipment: </td>
                    <td>
                        <table class="uk-table uk-table-responsive uk-table-divider">
                            <thead>
                                <tr>
                                  <th>State</th>
                                  <th>City</th>
                                  <th>Cost</th>
                                </tr>
                              </thead>
                            <tbody>
                                <tr *ngFor="let shipment of product.data.productShipments">
                                    <td>{{shipment.state}}</td>
                                    <td>{{shipment.city}}</td>
                                    <td>NGN {{numberWithCommas(shipment.cost)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Options: </td>
                    <td>
                        <table class="uk-table uk-table-responsive uk-table-divider">
                            <thead>
                                <tr>
                                  <th>Title</th>
                                  <th>Value</th>
                                  <th>Cost</th>
                                </tr>
                              </thead>
                            <tbody>
                                <tr *ngFor="let option of product.data.productOptions">
                                    <td>{{option.title}}</td>
                                    <td>{{option.value}}</td>
                                    <td>NGN {{numberWithCommas(option.cost)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Created On: </td><td>{{formatDate(product.data.createdOn)}}</td>
                </tr>
                <tr>
                    <td>Description: </td><td>{{product.data.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
