@import "config";

.buyer-container {
  height: 100%;
}

.buyer-main-container {
  width: 95%;
  margin-inline: auto;
  margin-top: 40px;

  & .main-content {
    width: 100%;
    padding-bottom: 30px;
  }
}
