<div class="container-wrapper">
    <app-home-nav></app-home-nav>
    <router-outlet></router-outlet>
    <div id="social-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    
            <button class="uk-modal-close-default" type="button" uk-close></button>
    
            <app-social-modal></app-social-modal>
        </div>
    </div>


    <div id="signup-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    
            <button class="uk-modal-close-default" type="button" uk-close></button>
    
            <app-signup-modal></app-signup-modal>
        </div>
    </div>

    <div id="login-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    
            <button class="uk-modal-close-default" type="button" uk-close></button>
    
            <app-login-modal></app-login-modal>
        </div>
    </div>

    <app-landing-footer></app-landing-footer>
</div>
