<div class="signup-main">
  <div class="signup-flex-container">
    <div class="signup-image-section"></div>
    <section class="signup-form-section">
      <div class="signup-form-container">
        <div class="signup-back-btn">
          <div class="ds-md ">
            <img src="/assets/image/quality-logo.svg" alt="logo" class="login-logo w-9 uk-margin-small-bottom" />
          </div>
          <a [routerLink]="['']" onclick="UIkit.modal('#modal-auth').hide()">
            <div class="signup-back">
              <img src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png" alt="go-back" />
              Go Home
            </div>
          </a>
        </div>
        <div class="signup-component">
          <app-signup></app-signup>
        </div>
      </div>
    </section>
  </div>
</div>