<div class="signup-main">
  <div class="signup-flex-container">
    <div class="signup-image-section"></div>
    <div class="signup-form-section">
      <div class="signup-form-container">
        <div class="login-back-btn">
          <div class="ds-md ">
            <img src="/assets/image/quality-logo.svg" alt="logo" class="login-logo w-9 uk-margin-small-bottom" />
          </div>
          <a [routerLink]="['']" onclick="UIkit.modal('#modal-auth').hide()">
            <div class="login-back">
              <img src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png" alt="go-back" />
              Go Home
            </div>
          </a>
        </div>
        <div class="signup-form-header">
          <div class="login-tiltle uk-margin-small-bottom ">Join Us!</div>
          <div class="login-subtitle uk-margin-small-bottom">Create an account</div>
          <div class="signup-form">
            <!-- <h1 class="open-market-sm">
              <img src="../../../../assets/logos/Rena-Market-Transparent-WHT-2.png" alt="RENA MARKET" width="200" />
            </h1> -->
            <form [formGroup]="registerForm" (ngSubmit)="submit()" id="form">

              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Jane" type="text" formControlName="firstname" required />
              </mat-form-field>
              <section class="error-sec">
                <!-- <div *ngIf="errorMessage != ''">{{
                  errorMessage
                  }}</div>
                <div class="uk-text-success" *ngIf="message != '' && hasError == false">{{ message
                  }}</div>
                <div *ngIf="hasError">
                  <div *ngFor="let i of errors">
                    {{ i }}
                  </div>
                </div> -->
                <div *ngIf="
                      f.firstname.invalid &&
                      (f.firstname.dirty || f.firstname.touched)
                    ">
                  <div *ngIf="f.firstname.errors.required">
                    firstname required
                  </div>
                </div>
              </section>

              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Doe" type="text" formControlName="lastname" required />
              </mat-form-field>
              <section class="error-sec">
                <div *ngIf="
                      f.lastname.invalid &&
                      (f.lastname.dirty || f.lastname.touched)
                    ">
                  <div *ngIf="f.lastname.errors.required">
                    lastname required
                  </div>
                </div>
              </section>

              
               <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                
                  
                <input matInput #myInput placeholder="08023434567" pattern="^(7|8|9){1}(0|1){1}[0-9]{8}$" type="number" formControlName="phoneNumber" required />
                <div class="country-code" matPrefix>
              
                <mat-select (change)="changeOption($event)"
                  formControlName="countryCode">  
                  <mat-select-trigger>
                    {{f.countryCode.value}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let el of codeList" [value]="el.code">  
                  {{el.abbr}}   {{el.code}}  
                  </mat-option>  
                </mat-select>  
                </div>
              </mat-form-field>
              <section class="error-sec">
                <div *ngIf="
                      f.phoneNumber.invalid &&
                      (f.phoneNumber.dirty || f.phoneNumber.touched)
                    ">
                  <div *ngIf="f.phoneNumber.errors.required">
                    Phone Number required
                  </div>
                  <div *ngIf="f.phoneNumber.errors.pattern">
                    Phone Number must be valid
                  </div>
                </div>
              </section>

              <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <div class="d-flex">
                  <input matInput placeholder="example@email.com" type="email" formControlName="email" required />
                  <span *ngIf="f.email.valid">
                    <img src="assets/icons/success-check.svg" alt="check" />
                  </span>
                </div>
              </mat-form-field>
              <section class="error-sec">
                <div *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    ">
                  <div *ngIf="f.email.errors.required">
                    Email required <br />
                  </div>
                  <div *ngIf="f.email.errors.email">
                    Valid email required
                  </div>
                </div>
              </section>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <div class="d-flex">
                  <input matInput placeholder="********" [type]=" passwordType ?  'text' : 'password'" formControlName="password" required />
                  <span (click)="showPassword()">
                    <img src="assets/icons/eye-open.svg" alt="check" />
                  </span>
                </div>
                
              </mat-form-field>
              <section>
                <div *ngIf="f.password.value" class="err-sec">
                   <div *ngIf="!minLengthValid" [ngClass]="minLengthValid ? '': 'error'">
                    Password should be at least 6 characters <br />
                  </div>
                  <div *ngIf="!requiresUppercaseValid" [ngClass]="requiresUppercaseValid ? '': 'error'">
                    Password must contain Uppercase letter<br />
                  </div>
                  <div *ngIf="!requiresLowercaseValid" [ngClass]="requiresLowercaseValid ? '': 'error'">
                    Password must contain Lowercase letter<br />
                  </div>
                  <div *ngIf="!requiresDigitValid" [ngClass]="requiresDigitValid ? '': 'error'">
                    Password must contain a number <br />
                  </div>
                  <div *ngIf="!requiresSpecialCharsValid" [ngClass]="requiresSpecialCharsValid ? '': 'error'">
                    Password must contain special character<br />
                  </div>
                </div>
               
              </section>

              <!-- <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="********" type="password" formControlName="confirmPassword" required />
              </mat-form-field>
              <section class="error-sec">
                <div *ngIf="
                      f.confirmPassword.invalid &&
                      (f.confirmPassword.dirty || f.confirmPassword.touched)
                    ">
                  <div *ngIf="f.confirmPassword.errors.required">
                    Confirm Password required <br />
                  </div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Confirm Password must match <br />
                  </div>
                </div>
              </section> -->

              <!-- <div style="margin-bottom: 20px; margin-top: 0px">
                <div style="display: flex; align-items: center">
                  <input type="checkbox" required />
                  <a routerLink="/private-policy" style="margin-left: 10px">Privacy Policy</a>
                </div>
                <div style="display: flex; align-items: center; margin-top: 10px">
                  <input type="checkbox" required /><a routerLink="/terms" style="margin-left: 10px">Terms and
                    Conditions</a>
                </div>
              </div> -->

              <button [disabled]="registerForm.invalid" class="uk-button uk-width-1-1 signup-btn1" type="submit">
                Sign Up
              </button>

            </form>
            <div id="login-or">
              <div class="login-hr1"></div>
              <div class="login-or">or</div>
              <div class="login-hr2"></div>
            </div>

            <div id="login-btn">
              <div id="buttonDiv"></div>

              <button class="uk-button login-btn2" (click)="facebookSignup()">
                <img src="https://res.cloudinary.com/mindset/image/upload/v1625923180/facebook__uzmrzq.png" alt=""
                  class="login-img-1" />
              </button>
            </div>
            <div class="signup-route">Already registered? <a class="fw-500" routerLink="/auth/login">Login</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>