@import "../../../../mixins";

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-container.uk-card {
  margin-top: 2.5rem;
  width: 100%;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;

  @include breakpoint-down(small) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.error {
  font-size: 0.75rem;
  margin-inline: auto;
  margin-top: 2rem;
  width: fit-content;
  color: rgba(255, 0, 0, 0.721);
}
.uk-modal-body {
  max-width: 25rem !important;

  @include breakpoint-down(small) {
    max-width: 100% !important;
  }
}

.sm-btn {
  font-size: 0.6rem;
  padding: 0;
}

.uk-button-primary {
  background-color: #000 !important;
}

.relative {
  position: relative;
}

.align-center {
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;

  p,
  a {
    margin-top: 1.5rem;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
}

.action-button {
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 12px;

  .uk-modal-close-default {
    position: relative !important;
  }
  button {
    width: 70%;
    margin-inline: auto;
    border-radius: 4px;
  }
}

.entity {
  gap: 1rem;
  align-items: center;

  input[type="radio"] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.2);
    accent-color: #000;
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;

    @include breakpoint-down(small) {
      font-size: 1rem;
    }
  }
}

.card-row {
  display: flex;
  gap: 1.5rem;
  // justify-content: space-between;
  align-items: center;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  div {
    flex-grow: 1;
  }

  p {
    width: 36%;
    max-width: 21rem;
    font-size: 1.25rem;
    color: #000;
  }

  @include breakpoint-down(small) {
    display: block;

    p {
      width: 100%;
      font-size: 0.8rem;
    }

    input {
      width: 100%;
    }
  }
}

.button {
  border-radius: 8px;
  width: 34.25rem;
  line-height: 1rem;
  min-height: 3rem;
  text-transform: capitalize;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;

  &:disabled {
    background-color: #000;
    opacity: 0.7;
  }

  @include breakpoint-down(small) {
    width: 100%;
  }
}

.custom-input {
  flex-grow: 1;
  outline: none;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  padding: 12.5px 20px;
}

.action-section {
  margin-top: 2rem;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .item:not(:first-child) {
    margin-top: 2rem;
  }

  @include breakpoint-down(small) {
    width: 100%;

    .item:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.info {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;

  p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }

  p:last-child {
    font-weight: 700;
  }
}

.security-method {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  margin-inline: auto;
}

.uk-modal-body {
  padding: 20px;
}

.verification-prompt {
  width: 60%;
  margin-inline: auto;
  display: flex;
  align-items: flex-start;
  background: #000;
  border-radius: 8px;
  padding: 10px;
  color: #fff;

  & i {
    font-size: 25px;
  }

  & .comment {
    margin-left: 20px;

    &-main {
      margin-bottom: 5px;
    }

    & a {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
