<div class="uk-section uk-section-large">
  <div class="uk-container">
    <p class="container-heading">My Orders</p>
    <ul class="uk-tab-top" data-uk-tab="media: @s">
      <li class="uk-active"><a (click)="filter('all')">All</a></li>
      <li><a (click)="filter(filterType.pending)">Pending</a></li>
      <li><a (click)="filter(filterType.paid)">Sucess</a></li>
      <li><a (click)="filter('others')">Others</a></li>
    </ul>
    <!-- <div>
      <div class="uk-overflow-auto">
        <table
          class="uk-table uk-table-small uk-table-responsive uk-table-divider uk-table-divider"
        >
          <thead>
            <tr >
              <th>invoice No</th>
              <th>dates</th>
              <th>status</th>
              <th>items</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="invoices">
            <tr *ngFor="let invoice of filteredInvoice | paginate: { itemsPerPage: maximumItem, currentPage: pageNumber, totalItems:totalItemCount}">
              <td>#{{ invoice.id }}</td>
              <td>{{ formatDate(invoice.createdOn) }}</td>
              <td>{{ invoice.status }}</td>
              <td>
                <span class="uk-badge backgound-dark-green">{{
                  invoice.orders.length
                }}</span>
                <span> NGN {{ numberWithCommas(sumOrders(invoice.orders)) }} </span>
              </td>

              <td>
                <button
                  [routerLink]="['/order', invoice.id]"
                  class="uk-button uk-button-small"
                >
                  view
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <table class="table-container uk-table">
      <thead>
        <tr class="table-head-data">
          <div class="head-data">
            <th>Item</th>
            <th>Invoice no</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Unit</th>
            <th>Status</th>
            <th>&nbsp;</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <div class="mobile-view">
          <tr>
            <div class="productWrapper">
              <div class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </div>
              <div class="productDetails">
                <div class="productDesc">
                  <p class="order-number">#20</p>
                  <p class="description">Sneakers</p>
                  <p class="amt">₦50,000</p>
                </div>
                <div class="unitSold">
                  <p>10 units</p>
                </div>
                <div class="status-view">
                  <div class="success-detail">
                    <img src="./../../../assets/image/Ellipse 453.svg" alt="">
                    <span>Success</span>
                  </div>
                  <div class="view-btn">
                    <button [routerLink]="['/detail']">View</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>

          <tr>
            <div class="productWrapper">
              <div class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </div>
              <div class="productDetails">
                <div class="productDesc">
                  <p class="order-number">#20</p>
                  <p class="description">Sneakers</p>
                  <p class="amt">₦50,000</p>
                </div>
                <div class="unitSold">
                  <p>10 units</p>
                </div>
                <div class="status-view">
                  <div class="success-detail">
                    <img src="./../../../assets/image/Ellipse 453.svg" alt="">
                    <span>Success</span>
                  </div>
                  <div class="view-btn">
                    <button [routerLink]="['/detail']">View</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="productWrapper">
              <div class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </div>
              <div class="productDetails">
                <div class="productDesc">
                  <p class="order-number">#20</p>
                  <p class="description">Sneakers</p>
                  <p class="amt">₦50,000</p>
                </div>
                <div class="unitSold">
                  <p>10 units</p>
                </div>
                <div class="status-view">
                  <div class="success-detail">
                    <img src="./../../../assets/image/Ellipse 453.svg" alt="">
                    <span>Success</span>
                  </div>
                  <div class="view-btn">
                    <button [routerLink]="['/detail']">View</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          <tr>
            <div class="productWrapper">
              <div class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </div>
              <div class="productDetails">
                <div class="productDesc">
                  <p class="order-number">#20</p>
                  <p class="description">Sneakers</p>
                  <p class="amt">₦50,000</p>
                </div>
                <div class="unitSold">
                  <p>10 units</p>
                </div>
                <div class="status-view">
                  <div class="success-detail">
                    <img src="./../../../assets/image/Ellipse 453.svg" alt="">
                    <span>Success</span>
                  </div>
                  <div class="view-btn">
                    <button [routerLink]="['/detail']">View</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </div>
        <div class="desktop-view">
          <tr>
              <td class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </td>

              <td class="order-number">#20</td>
              <td class="description">Sneakers</td>
              <td class="amt">₦50,000</td>

              <td class="unitSold">
                <p>10 units</p>
              </td>
              <td class="success-detail">
                <img src="./../../../assets/image/Ellipse 453.svg" alt="">
                <span> Success</span>
              </td>
              <td class="view-btn">
                <button [routerLink]="['/detail']">View</button>
              </td>
          </tr>
          <tr>
              <td class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </td>

              <td class="order-number">#20</td>
              <td class="description">Sneakers</td>
              <td class="amt">₦50,000</td>

              <td class="unitSold">
                <p>10 units</p>
              </td>
              <td class="success-detail">
                <img src="./../../../assets/image/Ellipse 455.svg" alt="">
                <span> Pending</span>
              </td>
              <td class="view-btn">
                <button [routerLink]="['/detail']">View</button>
              </td>
          </tr>
          <tr>
              <td class="productThumbnail">
                <img src="./../../../assets/image/Rectangle 703.svg" alt="">
              </td>

              <td class="order-number">#20</td>
              <td class="description">Sneakers</td>
              <td class="amt">₦50,000</td>

              <td class="unitSold">
                <p>10 units</p>
              </td>
              <td class="success-detail">
                <img src="./../../../assets/image/Ellipse 455.svg" alt="">
                <span> Pending</span>
              </td>
              <td class="view-btn">
                <button [routerLink]="['/detail']">View</button>
              </td>
          </tr>
          <tr>
            <td class="productThumbnail">
              <img src="./../../../assets/image/Rectangle 703.svg" alt="">
            </td>

            <td class="order-number">#20</td>
            <td class="description">Sneakers</td>
            <td class="amt">₦50,000</td>

            <td class="unitSold">
              <p>10 units</p>
            </td>
            <td class="success-detail">
              <img src="./../../../assets/image/Ellipse 453.svg" alt="">
              <span> Success</span>
            </td>
            <td class="view-btn">
              <button [routerLink]="['/detail']">View</button>
            </td>
        </tr>
        <tr>
          <td class="productThumbnail">
            <img src="./../../../assets/image/Rectangle 703.svg" alt="">
          </td>

          <td class="order-number">#20</td>
          <td class="description">Sneakers</td>
          <td class="amt">₦50,000</td>

          <td class="unitSold">
            <p>10 units</p>
          </td>
          <td class="success-detail">
            <img src="./../../../assets/image/Ellipse 453.svg" alt="">
            <span> Success</span>
          </td>
          <td class="view-btn">
            <button [routerLink]="['/detail']">View</button>
          </td>
      </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>



<!-- <div class="uk-grid uk-grid-small uk-grid-match uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-5@m uk-margin"> -->
<!-- <app-single-product
        *ngFor="let invoice of filteredInvoice | paginate: { itemsPerPage: maximumItem, currentPage: pageNumber, totalItems:totalItemCount}"
        [product]="invoice"
        class="uk-margin-bottom"
      >
      </app-single-product> -->

<!-- </div>
<div class="uk-flex uk-flex-center">
  <pagination-controls (pageChange)="fetchNextProducts($event)"></pagination-controls>
</div> -->