.uk-section-large {
  padding: 0rem;
}

.uk-container {
  margin-top: 2rem;
  padding: 0rem;
  margin: 0rem;
}

.container-heading {
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 750;
  font-size: 1.5rem;
}

.uk-tab {
    flex-wrap: nowrap;
}
.uk-tab > .uk-active > a {
    color: black;
    border-color: black;
}

.uk-tab li a {
    text-transform: none;
}

.uk-tab li a:hover {
    font-weight: 750;
}

.table-container .table-head-data {
    display: none;
}

.table-container .productWrapper {
    display: flex;
    gap: 0.5rem;
    /* padding: 1rem; */
    margin: 0.5rem 0rem;
}

.productThumbnail {
    width: 30%;
}

.productThumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.productDetails {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
}

.productDesc {
    display: flex;
    flex-direction: column;
    order: 0;
    font-family: 'Avenir LT Std';
}

.order-number {
    font-weight: 750;
    font-size: 0.75rem;
}

.description .amt {
    font-weight: 400;
    font-size: 0.7rem;
}

.unitSold {
    /* order: 1; */
    font-size: 12px;
    color: #584DCD;
    background: rgba(88, 77, 205, 0.1);
    border-radius: 50px;
    /* width: fit-content; */
    padding: 0.5rem 1rem;
    font-family: 'Avenir LT Std';
  }

  .status-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .success-detail {
    display: flex;
  }

  .view-btn button{
    background: black;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.1rem 1.5rem;
    font-size: 0.6rem;
    font-family: 'Avenir LT Std';
  }