<div class="deactivate-container">
  <div class="nav-back" routerLink="..">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="delete-heading">Deactivate Account</div>
  <app-buyer-delete-account></app-buyer-delete-account>
  <!-- <div class="heading">
    Deactivating your account would delete all your information from the
    RenaMarket Platform. To Proceed please enter your account password.
  </div>
  <form id="deactivate-form">
    <div class="form-group">
      <label for="password">Enter Password</label>
      <div class="input-group">
        <input type="password" id="password" />

        <div class="eye">
          <i class="fa-solid fa-eye"></i>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div class="btn">
      <button type="submit" id="submit-btn">Save Changes</button>
    </div>
  </form> -->
</div>
