<div class="change-password-container">
  <div class="nav-back" routerLink="..">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="heading">Change Password</div>
  <app-buyer-change-password></app-buyer-change-password>
  <!-- <form id="address-edit-form">
    <div class="form-group">
      <label for="cur-password">Current Password</label>
      <div class="input-group">
        <input type="password" id="cur-password" placeholder="********" />

        <div class="eye">
          <i class="fa-solid fa-eye"></i>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="new-password">New Password</label>
      <div class="input-group">
        <input type="password" id="new-password" placeholder="********" />

        <div class="eye">
          <i class="fa-solid fa-eye"></i>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <div class="input-group">
        <input type="password" id="confirm-password" placeholder="********" />

        <div class="eye">
          <i class="fa-solid fa-eye"></i>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div class="btn">
      <button type="submit" id="submit-btn">Save Changes</button>
    </div>
  </form> -->
</div>
