<div class="personal-info-container">
  <div class="fetch-loader" *ngIf="isFetching">
    <img src="/assets/svg/loader-icon.svg" alt="" />
  </div>
  <div class="profile-info-main" *ngIf="!isEditing && !isFetching">
    <div class="profile-picture">
      <img [src]="profileImgUrl" alt="" />
    </div>

    <div class="profile-details">
      <div class="profile-detail">
        <div class="profile-detail-heading">First Name</div>

        <div class="profile-detail-main">{{ user?.firstName }}</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Last Name</div>

        <div class="profile-detail-main">{{ user?.lastName }}</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Email</div>

        <div class="profile-detail-main">{{ user?.email }}</div>

        <div class="email-verification" *ngIf="!isEmailVerified">
          <p>Email is unverified</p>

          <button (click)="onVerifyEmail()">
            <span class="login-btn-text" *ngIf="!isVerifying"> Verify </span
            ><span class="login-btn-loader" *ngIf="isVerifying"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="edit" (click)="onEdit()">
      <span *ngIf="!isEditing">
        <svg
          width="18"
          height="17"
          viewBox="0 0 18 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.99998 15.6666H16.5M1.5 15.6666H2.89545C3.3031 15.6666 3.50693 15.6666 3.69874 15.6206C3.8688 15.5798 4.03138 15.5124 4.1805 15.421C4.34869 15.318 4.49282 15.1738 4.78107 14.8856L15.25 4.41663C15.9404 3.72628 15.9404 2.60699 15.25 1.91663C14.5597 1.22628 13.4404 1.22628 12.75 1.91663L2.28105 12.3856C1.9928 12.6738 1.84867 12.818 1.7456 12.9862C1.65422 13.1353 1.58688 13.2979 1.54605 13.4679C1.5 13.6597 1.5 13.8636 1.5 14.2712V15.6666Z"
            stroke="#344054"
            stroke-width="1.67"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        Edit
      </span>
    </div>
  </div>

  <div class="profile-info-edit" *ngIf="isEditing">
    <div class="profile-photo-edit">
      <div class="heading">Profile Photo</div>

      <div class="profile-photo-edit-main">
        <div class="profile-picture">
          <img [src]="newImageUrl ? newImageUrl : profileImgUrl" alt="" />
        </div>
        <div class="actions">
          <span id="remove-photo" (click)="onRemoveProfilePhoto()">Remove</span>
          <span id="change-photo" (click)="onChangeProfilePhoto()">Change</span>
        </div>
      </div>
    </div>

    <form
      id="personal-info-form"
      [formGroup]="personalInfoForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="profile-name-edit">
        <div class="heading">Full Name</div>

        <div class="name-edit-inputs">
          <div class="input-group">
            <label for="first-name">First Name</label>
            <input
              type="text"
              id="first-name"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>

          <div class="input-group">
            <label for="last-name">Last Name</label>
            <input
              type="text"
              id="last-name"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>

      <div class="profile-email-edit">
        <div class="heading">Email</div>

        <div class="email-edit-inputs">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            placeholder="myemail@gmail.com"
            formControlName="email"
          />
        </div>
      </div>

      <div class="btn">
        <button type="submit" id="submit-btn">
          <span class="login-btn-text" *ngIf="!isSubmitting">
            Save Changes </span
          ><span class="login-btn-loader" *ngIf="isSubmitting"></span>
        </button>
      </div>
    </form>
  </div>
</div>
