<div class="personal-info-container">
  <div class="fetch-loader" *ngIf="isFetching">
    <img src="/assets/svg/loader-icon.svg" alt="" />
  </div>
  <div class="profile-info-main" *ngIf="!isEditing && !isFetching">
    <div class="profile-picture">
      <img [src]="profileImgUrl" alt="" />
    </div>

    <div class="profile-details">
      <div class="profile-detail">
        <div class="profile-detail-heading">First Name</div>

        <div class="profile-detail-main">{{ user?.firstName }}</div>
      </div>

      <!-- <div class="profile-detail">
        <div class="profile-detail-heading">Middle Name</div>

        <div class="profile-detail-main">Shedrack</div>
      </div> -->

      <div class="profile-detail">
        <div class="profile-detail-heading">Last Name</div>

        <div class="profile-detail-main">{{ user?.lastName }}</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Email</div>

        <div class="profile-detail-main">{{ user?.email }}</div>
      </div>
    </div>
  </div>

  <div class="profile-info-edit" *ngIf="isEditing">
    <div class="profile-photo-edit">
      <div class="heading">Profile Photo</div>

      <div class="profile-photo-edit-main">
        <div class="profile-picture">
          <img [src]="newImageUrl ? newImageUrl : profileImgUrl" alt="" />
        </div>
        <div class="actions">
          <span id="remove-photo" (click)="onRemoveProfilePhoto()">Remove</span>
          <span id="change-photo" (click)="onChangeProfilePhoto()">Change</span>
        </div>
      </div>
    </div>

    <form
      id="personal-info-form"
      [formGroup]="personalInfoForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="profile-name-edit">
        <div class="heading">Full Name</div>

        <div class="name-edit-inputs">
          <div class="input-group">
            <label for="first-name">First Name</label>
            <input
              type="text"
              id="first-name"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>

          <!-- <div class="input-group">
            <label for="middle-name">Middle Name</label>
            <input
              type="text"
              id="middle-name"
              placeholder="Middle Name"
              formControlName="middleName"
            />
          </div> -->

          <div class="input-group">
            <label for="last-name">Last Name</label>
            <input
              type="text"
              id="last-name"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>

      <div class="profile-email-edit">
        <div class="heading">Email</div>

        <div class="email-edit-inputs">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            placeholder="myemail@gmail.com"
            formControlName="email"
          />
        </div>
      </div>

      <div class="btn">
        <button type="submit" id="submit-btn">
          <span class="login-btn-text" *ngIf="!isSubmitting">
            Save Changes </span
          ><span class="login-btn-loader" *ngIf="isSubmitting"></span>
        </button>
      </div>
    </form>
  </div>
</div>
