.variant-heading {
  font-size: 20px;
}

.variant-main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.variant:not(:last-child) {
  margin-right: 10px;
}

.color-tag {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 0.5rem;
  cursor: pointer;
  margin-bottom: 0;
}

.main-img {
  background: #f6f6fd;
  border: 0.4px solid #bdbdbd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 300px;
}

.al {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.active-img {
  border: 1px solid black !important;
}

.item-price {
  font-family: Avenir;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

.summary-card {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 15px;
}

.gen-st {
  font-family: Avenir;
  font-size: 25px !important;
  font-weight: 800 !important;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

.imcome-amt {
  font-family: Avenir LT Std;
  font-size: 24px;
  font-weight: 750;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.income {
  font-family: Avenir LT Std;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #979797;
  letter-spacing: 0em;
  text-align: left;
}

.item-name {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

.text-sty {
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.num {
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.gen-st {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

.description {
  font-family: Avenir LT Std;
  font-size: 18px;
  font-weight: 350;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 70%;
}

.value {
  background-color: #f6f6fd;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: black;
  padding: 5px;
  width: auto;
}

.underline {
  border-bottom: 1px solid #bdbdbd;
}
.capitalize {
  text-transform: capitalize;
}

.btn-add {
  background: #000000;
  color: white;
  border: 0.8px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
  border-radius: 8px;
  padding: 15px 50px;
}

.btn-submit {
  background: #000000;
  color: white;
  border: 0.8px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
  border-radius: 8px;
  padding: 15px 50px;
  width: 250px;
}

.btn-edit {
  background: #ffffff;
  color: 000000;
  border: 0.8px solid #000000;
  box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
  border-radius: 8px;
  padding: 15px 50px;
  width: 250px;
}

.read-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.even-flex {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.w-30 {
  width: 40%;
}

.mt-2 {
  margin-top: 5px;
}

.mr-3 {
  margin-right: 10px;
}

.p-5 {
  padding: 20px;
}

.p-3 {
  padding: 10px;
}

.mt-5 {
  margin-top: 3rem;
}

.flex-section-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.items-center {
  align-items: center;
}

.ml-3 {
  margin-left: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.py-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mr-2 {
  margin-right: 5px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-3 {
  margin-bottom: 10px;
}

.w-70 {
  width: 60%;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .w-30,
  .w-70 {
    width: 100%;
  }
  .mobile-space {
    margin-top: 10px;
  }
  .description {
    width: 100% !important;
  }

  .mobile-block {
    display: block !important;
  }
  .summary-card {
    margin-bottom: 1rem;
  }
  .parent-wrapping {
    justify-content: center !important;
  }
  .carder {
    width: 40% !important;
  }

  .btn-edit,
  .btn-submit {
    width: 100px !important;
    padding: 10px;
  }

  .even-flex {
    width: 100% !important;
  }

  .m-left {
    margin-left: 5px !important;
  }

  .m-right {
    margin-right: 5px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-block {
    display: flex !important;
  }

  .m-left {
    margin-left: 5px !important;
  }

  .m-right {
    margin-right: 5px !important;
  }

  .summary-card {
    margin-bottom: 1rem;
  }
  .parent-wrapping {
    justify-content: center !important;
  }
  .carder {
    width: 150px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .parent-wrapping {
    justify-content: center !important;
  }
  .carder {
    width: 150px !important;
  }
}
