<h3 class="headline">Most Selling Products</h3>
<table class="uk-table uk-table-responsive uk-table-divider">
  <thead>
    <tr>
      <td></td>
      <th>Product</th>
      <th>Category</th>
      <th>Unit Sold</th>
      <th>Amount Generated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productDetail of productDetails">
      <td>
        <img
          class="uk-img"
          src="{{ productDetail.imageUrl }}"
        />
      </td>
      <td>{{ productDetail.name }}</td>
      <td>{{ productDetail.name }}</td>
      <td>{{ productDetail.unit }}</td>
      <td>NGN 40,000</td>
    </tr>
    <tr>
      <td>
        <img
          class="uk-img"
          src="https://source.unsplash.com/100x100/?smart watch"
        />
      </td>
      <td>Smart watch</td>
      <td>Men Acessories</td>
      <td>10</td>
      <td>NGN 40,000</td>
    </tr>
    <tr>
      <td>
        <img
          class="uk-img"
          src="https://source.unsplash.com/100x100/?smart watch"
        />
      </td>
      <td>Smart watch</td>
      <td>Men Acessories</td>
      <td>10</td>
      <td>NGN 40,000</td>
    </tr>
  </tbody>
</table>
<div class="uk-text-center">
  <button class="uk-button uk-button-default">View More</button>
</div>
