<div class="gen">
    <div class="back">
        <div class="uk-flex default-width">
            <div>
                <img src="https://res.cloudinary.com/mindset/image/upload/v1628005823/Rectangle168_4_ydlozg.png" alt="">
            </div>
            <div class="test">
                <h1>Connecting sellers with buyers.</h1>
                <p>Open market connects sellers with customers interested on their product, helping them sell and earn faster, just as traditional market.</p>
            </div>
        </div>
    </div>

    <div class="back2">
        <div class="uk-flex default-width">
            
            <div class="text">
                <h1>Your safety is very important to us.</h1>
                <p>We ensure that sellers keep to their word by providing a trust system that handles fraud and refunds.</p>
            </div>
            <div class="test2">
                <img src="https://res.cloudinary.com/mindset/image/upload/v1628005826/Rectangle168_7_esfajy.png" alt="">
            </div>
        </div>
    </div>

    <div class="back">
        <div class="uk-flex default-width">
            <div class="">
                <img src="https://res.cloudinary.com/mindset/image/upload/v1628005824/Rectangle168_5_ivxvve.png" alt="" >
            </div>
            <div class="test ">
                <h1>Join the Open Market Community.</h1>
                <h2>Sign up and be a part of a fast growing online community that’s trusted and capable of making buying and selling a piece of cake for you.</h2>
                <button>Get Started</button>
            </div>

            
        </div>
    </div>
</div>