<ng-container [ngSwitch]="switching">
  <ng-container *ngSwitchCase="approved">
    <ng-container *ngTemplateOutlet="dashboard"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="pending">
    <ng-container *ngTemplateOutlet="sellerPendingStatus"></ng-container>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="sellerForm"></ng-container>
  </ng-container>
</ng-container>

<ng-template #dashboard>
  <div class="topbar">
    <div class="uk-flex">
      <!-- Menu for large or desktop screen -->
      <div class="uk-width-1-5@m uk-visible@m uk-padding topbar__left">
        <app-seller-sidebar></app-seller-sidebar>
      </div>

      <div class="uk-width-4-5@m main_content">
        <app-seller-header></app-seller-header>

        <div class="uk-margin-large-top">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- popup if user is not a seller yet -->
<ng-template #sellerForm>
  <app-seller-registeration-form
    (modalStatus)="modalStatus($event)"
  ></app-seller-registeration-form>
</ng-template>

<ng-template #sellerPendingStatus>
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-expand">
      <div class="uk-card uk-card-default uk-card-body">
        <h1>Your Registeration is {{ pending }} Approval</h1>
        <h1>Please check back later</h1>
      </div>
    </div>
  </div>
</ng-template>
