
.topbar {
  height: 100%;
}

.topbar__left {
  background-color: #000 !important;
  padding: 20px 0px 0px 40px;
  flex: 1.2;
  height: 200vh;
  overflow-x: hidden;
}

.topbar__left p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 750;
  font-size: 24px;
  color: #f2f2f2;
  padding: 15px 0px 0px 60px;
  text-transform: capitalize;
}

/* .main_content {
  padding-left: 30px;
  padding-right: 30px;
} */