<button
  class="uk-button uk-button-secondary radius"
  type="button" routerLink="/seller/products/add">
  Add Product
</button>
<!-- uk-toggle="target: #modal-add-product" -->

<app-product-item (cp)="cp($event)" 
  (productIdSend)="editProduct.setProduct($event)" 
  (viewedMore)="viewMore.setProduct($event)" 
  #productList>
</app-product-item>

<!-- This is the modal with the outside close button -->
<!-- <div id="modal-add-product" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body height-auto">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close #closeCreate></button>
    <app-add-product 
      (closed)="closeAddProductModal()" 
      (added)="productList.addProduct($event)">
    </app-add-product>
  </div>
</div> -->

<!-- This is the modal with the outside close button -->
<div id="modal-edit-product" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close #closeEdit></button>
    <app-edit-product #editProduct
      (closed)="closeEditProductModal()"
      (edited)="productList.updateProduct($event)">
    </app-edit-product>
  </div>
</div>

<!-- This is the modal with the outside close button -->
<div id="modal-view-more" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <app-view-more #viewMore></app-view-more>
  </div>
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
