.uk-grid>* {
  text-align: left !important;
}


.seller__main p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  color: #000000;
}

.seller__form {
  max-width: 650px;
}

.seller__upload {
  max-width: 150px;
}
