<div class="profile-settings-container">
  <div class="change-settings change-password">
    <div class="change-settings-heading">Change Password</div>

    <div class="change-settings-main">
      <form class="change-settings-form">
        <div class="form-group">
          <label>New Password</label>
          <input type="password" placeholder="New Password" />
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" placeholder="Confirm Password" />
        </div>

        <button>Verify via OTP</button>
      </form>
    </div>
  </div>

  <div class="change-settings change-pin">
    <div class="change-settings-heading">Change Transaction Pin</div>

    <div class="change-settings-main">
      <form class="change-settings-form">
        <div class="form-group">
          <label>New Pin</label>
          <input type="password" placeholder="New Pin" />
        </div>

        <div class="form-group">
          <label>Confirm Pin</label>
          <input type="password" placeholder="Confirm Pin" />
        </div>

        <button>Verify via OTP</button>
      </form>
    </div>
  </div>

  <div class="change-settings deactivate">
    <div class="change-settings-heading">Other Settings</div>

    <div class="change-settings-main">
      <div class="toggler" (click)="toggle()" [ngClass]="{ roll: isToggled }">
        <div class="roller"></div>
      </div>

      <div class="deactivate-main">
        <div class="deactivate-main-text warn">Deactivate Account</div>
        <div class="deactivate-main-text">Deactivate my seller Account</div>
      </div>
    </div>
    <button>Verify via OTP</button>
  </div>
</div>
