<div class="uk-container">
  <section id="nav">
    <nav aria-label="Breadcrumb">
      <ul class="uk-breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/homepage/storefront">Winmall</a></li>
      </ul>
    </nav>
  </section>
  <section id="banner">
    <img
      src="assets/img/Storefront-frame.png"
      alt="Storefront"
      width="1248"
      height="300"
    />
  </section>

  <section id="hero">
    <div class="hero-section">
      <img
        class="circle-storefront"
        src="assets/img/circle-storefront.jpg"
        alt=""
      />

      <div class="hero-text">
        <p>WinMall Store</p>
        <div class="store-location">
          <img src="assets/svg/map-pin.svg" class="pointer" alt="" />
          Lagos, Nigeria
        </div>
        <div class="store-link">
          www.winmall.renastore
          <img src="assets/svg/copy.svg" class="pointer" alt="" />
        </div>
        <div class="store-ratings">
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star-background.svg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section id="tabbed-navigation">
    <nav>
      <ul uk-tab>
        <li class="uk-active">
          <a (click)="selectTab('products')">Products</a>
        </li>
        <li><a (click)="selectTab('about')">About</a></li>
      </ul>
    </nav>
  </section>

  <section id="tab-navigation">
    <div *ngIf="activeTab === 'products'">
      <app-product-list></app-product-list>
    </div>
    <div *ngIf="activeTab === 'about'">THIS IS THE ABOUT PAGE!</div>
  </section>
</div>
