<div class="contact-information-container">
  <!-- <div class="profile-details">
    <div class="profile-detail">
      <div class="profile-detail-heading">Phone Number</div>

      <div class="profile-detail-main">234-809-3458-89</div>
    </div>
  </div> -->

  <div class="contact-info-edit">
    <form id="contact-form" [formGroup]="contactForm">
      <div class="contact-edit">
        <div class="heading">Phone Number</div>

        <div class="contact-inputs">
          <input type="text" placeholder="8023434567" />
          <div class="country-code" matPrefix>
            <mat-select
              (change)="changeOption($event)"
              formControlName="countryCode"
            >
              <mat-select-trigger>
                {{ f.countryCode.value }}
              </mat-select-trigger>
              <mat-option
                *ngFor="let country of countryInfo"
                [value]="country.phoneCode"
              >
                <img [src]="country.flag" alt="" width="25px" height="25px" />
                <span
                  style="font-size: 14px; margin-left: 7px; font-weight: bold"
                  >{{ country.countryName }}
                </span>
                <span style="font-size: 14px">
                  {{ country.phoneCode }}
                </span>
              </mat-option>
            </mat-select>
          </div>
          <!-- <mat-form-field class="custom-text-field custom-text-field-business">
            <input
              matInput
              #myInput
              placeholder="8023434567"
              pattern="^(7|8|9){1}(0|1){1}[0-9]{8}$"
              type="tel"
              class="tel-input"
              required
            />
            <div class="country-code" matPrefix>
              <mat-select
                (change)="changeOption($event)"
                formControlName="countryCode"
              >
                <mat-select-trigger>
                  {{ f.countryCode.value }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let country of countryInfo"
                  [value]="country.phoneCode"
                >
                  <img [src]="country.flag" alt="" width="25px" height="25px" />
                  <span
                    style="font-size: 14px; margin-left: 7px; font-weight: bold"
                    >{{ country.countryName }}
                  </span>
                  <span style="font-size: 14px">
                    {{ country.phoneCode }}
                  </span>
                </mat-option>
              </mat-select>
            </div>
          </mat-form-field> -->
        </div>
      </div>

      <div class="btn">
        <button type="submit" id="submit-btn">Save Changes</button>
      </div>
    </form>
  </div>
</div>
