<div class="main">
    <div class="mb-3 d-flex align-items-center">
        <svg routerLink="/homepage/history" class="pointer" width="25" height="25" viewBox="0 0 38 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.4266 17.7002H7.74414" stroke="black" stroke-width="1.22102" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.5854 28.025L7.74414 17.7L18.5854 7.375" stroke="black" stroke-width="1.22102" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> &nbsp; 
        <span class="back-txt">Order Details</span>            
    </div>

    <div class="p-4 section">
        <p class="title">Item in order</p>
        <div class="">
            <div class="mb-3">
                <span class="txt">Status</span> &nbsp;
                <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4.8999" r="4" fill="#F9AA4B"/>
                </svg> &nbsp;
                <span class="txt">Pending</span>  
            </div>
            
            <div class="d-flex">
                <img src="/assets/images/laptop-img.png" alt="laptop-img" class="item-img" width="200" height="150" />
                &nbsp; &nbsp;
                <div>
                    <p class="txt-2">Sneakers</p>
                    <div>
                        <div class="mb-3">
                            <span class="qty">Quantity:</span> &nbsp;
                            <span class="qty-tag">1 item</span>
                        </div>
                        <p class="txt mb-0">N5000.00</p><br>
                        <div class="mb-3 d-flex align-items-center">
                            <p class="qty mb-0">Color:</p> &nbsp;
                            <p class="color-tag mb-0">Yellow</p>  
                        </div>
                        <p class="pay-mode mb-0">Pay Online</p>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <p class="title">Selected Complementary Product</p>

                <div class="d-flex align-items-center">
                    <div>
                        <img src="/assets/images/item1.png" class="mb-2" alt="laptop-img" width="100" height="100" />
                        <p class="comp-prod">Keyboard</p>
                    </div>
                    &nbsp; &nbsp;
                    <div>
                        <img src="/assets/images/item2.png" class="mb-2" alt="laptop-img" width="100" height="100" />
                        <p class="comp-prod">Mouse</p>
                    </div>
                    &nbsp; &nbsp;
                    <div>
                        <img src="/assets/images/item3.png" class="mb-2" alt="laptop-img" width="100" height="100" />
                        <p class="comp-prod">Mobil Disk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 mt-3 section">
        <p class="title mb-4">Payment Information</p>
        <div class="">
            <p class="txt">
                <span>Payment Mode:</span> &nbsp;
                <span>PayStack</span>
            </p>
            <p class="txt">
                <span>Payment Status:</span> &nbsp;
                <span class="paid">Paid</span>
            </p>
            <p class="txt">
                <span>Transaction Reference:</span>
                &nbsp;
                <span>#23456</span>
            </p>
        </div>
    </div>

    <div class="p-4 mt-3 section">
        <p class="title mb-4">Receiver’s Contact Information</p>
        <div class="">
            <p class="txt">
                <span>Name:</span> &nbsp;
                <span>Pamela Okeke </span>
            </p>
            <p class="txt">
                <span>Phone Number:</span> &nbsp;
                <span>+234906789436</span>
            </p>
            <p class="txt">
                <span>Country:</span>
                &nbsp;
                <span>Nigeria</span>
            </p>
            <p class="txt">
                <span>State:</span>
                &nbsp;
                <span>Abuja</span>
            </p>
            <p class="txt">
                <span>Address:</span>
                &nbsp;
                <span>No 1 Adede Sree, Abuja</span>
            </p>
            <p class="txt">
                <span>Expected Delivery Date::</span>
                &nbsp;
                <span>31st march 2023</span>
            </p>
            <p class="txt">
                <span>Company Name:</span>
                &nbsp;
                <span>DHL Company</span>
            </p>
        </div>
    </div>

    <div class="p-4 mt-3 section web-only">
        <p class="title mb-4">Tracking Details</p>
        <div class="d-flex justify-content-center">
            <img src="/assets/images/tracking-frame.svg" alt="tracking-frame" />
        </div>
        <div class="mt-3 d-flex track justify-content-center">
            <p class="txt" style="margin-right: 5rem;">
                Order confirmation
            </p>
            
            <p class="txt" style="margin-right: 5rem;">
                Picked up by delivery agent
            </p>
            
            <p class="txt" style="margin-right: 5rem;">
                On transit
            </p>
            <p class="txt">
                Delivered
            </p>
        </div>

        <div class="table">
            <div class="bottom-border head">
                <p class="mb-0">Date and time</p>
                <p class="mb-0 middle">Location/Remark</p>
                <p class="mb-0 last">Status</p>
            </div>
    
            <div class="bottom-border body">
                <p class="mb-0">23rd April, 2022, 12:04pm </p>
                <p class="mb-0 middle">Ikeja, Lagos</p>
                <p class="mb-0 last">Ready for pickup</p>
            </div>

            <div class="bottom-border body">
                <p class="mb-0">23rd April, 2022, 10:04pm </p>
                <p class="mb-0 middle">ABU, Zaria</p>
                <p class="mb-0 last">On transit</p>
            </div>

            <div class="bottom-border body">
                <p class="mb-0">23rd April, 2022, 09:04pm </p>
                <p class="mb-0 middle">Asokoro, Abuja</p>
                <p class="mb-0 last">Picked up by delivery agent</p>
            </div>
        </div>
    </div>

    <div class="p-4 mt-3 section mobile-only">
        <p class="title mb-4">Tracking Details</p>
        
        <div class="d-flex">
            <svg width="22" height="103" viewBox="0 0 22 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10.9186" cy="10.4859" r="10.1295" fill="#070614"/>
                <path d="M7.22461 11.0136L9.33492 13.1239L14.6107 7.84814" stroke="white" stroke-width="1.26619" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="10.418" y="102.615" width="82" height="1" transform="rotate(-90 10.418 102.615)" fill="#070614"/>
            </svg> &nbsp; &nbsp;
            <span>
                <p class="mb-2 tick">Order confirmation</p>
                <p class="mb-0">23rd April, 2023, 12:04pm</p>
                <p class="mb-0">ABU, Zaria</p>
            </span>
        </div>
        <div class="d-flex">
            <svg width="22" height="103" viewBox="0 0 22 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10.9186" cy="10.4859" r="10.1295" fill="#070614"/>
                <path d="M7.22461 11.0136L9.33492 13.1239L14.6107 7.84814" stroke="white" stroke-width="1.26619" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="10.418" y="102.615" width="82" height="1" transform="rotate(-90 10.418 102.615)" fill="#070614"/>
            </svg> &nbsp; &nbsp;
            <span>
                <p class="mb-2 tick">Picked up by delivery agent</p>
                <p class="mb-0">27th April, 2023, 10:00am</p>
                <p class="mb-0">ABU, Zaria</p>
            </span>
        </div>
        <div class="d-flex">
            <svg width="22" height="103" viewBox="0 0 22 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10.9186" cy="10.4859" r="10.1295" fill="#070614"/>
                <path d="M7.22461 11.0136L9.33492 13.1239L14.6107 7.84814" stroke="white" stroke-width="1.26619" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="10.418" y="102.615" width="82" height="1" transform="rotate(-90 10.418 102.615)" fill="#070614"/>
            </svg> &nbsp; &nbsp;
            <span>
                <p class="mb-2 tick">On transit</p>
                <p class="mb-0">30th April, 2022, 01:15pm</p>
                <p class="mb-0">ABU, Zaria</p>
            </span>
        </div>
    </div>
</div>