<div *ngIf="isLoading" class="loader-container">
  <span class="loader"></span>
</div>
<div class="main" *ngIf="!isLoading">
  <div class="mb-3 d-flex align-items-center">
    <svg
      class="pointer"
      fill="none"
      height="25"
      routerLink="/homepage/history"
      viewBox="0 0 38 36"
      width="25"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M29.4266 17.7002H7.74414"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.22102"
      />
      <path
        d="M18.5854 28.025L7.74414 17.7L18.5854 7.375"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.22102"
      />
    </svg>
    &nbsp;
    <span class="back-txt">Order Details</span>
  </div>

  <div class="p-4 section">
    <div class="btn-top">
      <p class="title">Item in order</p>
      <button
        (click)="onRefundRequest()"
        *ngIf="
          order?.deliveryStatus.toLowerCase() === 'delivered' &&
          !refundRequested
        "
        id="request-btn"
      >
        Request for refund
      </button>
    </div>

    <div class="">
      <div class="mb-3">
        <span class="txt">Status:</span> &nbsp;
        <span>
          <span
            *ngIf="
              order?.orderStatus.toLowerCase() === 'pending' ||
              order?.orderStatus.toLowerCase() === 'notset'
            "
          >
            <svg
              fill="none"
              height="9"
              viewBox="0 0 8 9"
              widspan="8"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" fill="#F9AA4B" r="4" />
            </svg>
            &nbsp;
            <span class="txt">Pending</span>
          </span>
          <span *ngIf="order?.orderStatus.toLowerCase() === 'confirmed'">
            <svg
              fill="none"
              height="9"
              viewBox="0 0 8 9"
              widspan="8"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" fill="#4CAF50" r="4" />
            </svg>
            &nbsp;
            <span class="txt">{{ order?.orderStatus }}</span>
          </span>
          <span
            *ngIf="
              order?.orderStatus.toLowerCase() === 'rejected' ||
              order?.orderStatus.toLowerCase() === 'returned'
            "
          >
            <svg
              fill="none"
              height="9"
              viewBox="0 0 8 9"
              widspan="8"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="4" cy="4.5" fill="#EF0606" r="4" />
            </svg>
            &nbsp;
            <span class="txt">{{ order?.orderStatus }}</span>
          </span>
        </span>
      </div>

      <div class="mb-3">
        <span class="txt"
          >Order No: <strong>{{ order?.orderNo || "N/A" }}</strong></span
        >
      </div>

      <div class="d-flex sm-blk">
        <div
          *ngIf="
            order?.cartProduct?.product?.imageUrl === '' ||
            order?.cartProduct?.product?.imageUrl === null
          "
          class="d-flex mobile-full nocomp-img2"
        >
          <span class="m-auto">No image found</span>
        </div>
        <img
          *ngIf="
            order?.cartProduct?.product?.imageUrl !== '' &&
            order?.cartProduct?.product?.imageUrl !== null
          "
          class="mobile-full comp-img2"
          src="{{ order?.cartProduct?.product?.imageUrl }}"
        />
        &nbsp; &nbsp;
        <div>
          <p class="txt-2 name-70">
            {{ order?.cartProduct?.product?.name || "N/A" }}
          </p>
          <div>
            <div class="mb-3">
              <span class="qty">Quantity:</span> &nbsp;
              <span *ngIf="order.unit === 1" class="qty-tag"
                >{{ order?.unit }} item</span
              >
              <span *ngIf="order.unit > 1" class="qty-tag"
                >{{ order?.unit }} items</span
              >
            </div>
            <p class="txt mb-0">
              {{ order?.amountPaid || 0 | currency: "₦" }}
            </p>
            <br />
            <div
              *ngFor="let item of variations"
              class="mb-3 d-flex align-items-center"
            >
              <p class="qty mb-0">{{ item[0]?.title || "N/A" }}:</p>
              &nbsp;
              <p *ngFor="let it of item" class="color-tag mb-0">
                <span>{{ it?.value || "N/A" }}</span>
              </p>
            </div>
            <p
              *ngIf="
                order?.cartProduct?.paymentOption.toLowerCase() === 'online'
              "
              class="pay-mode mb-0"
            >
              Pay Online
            </p>
            <p
              *ngIf="
                order?.cartProduct?.paymentOption.toLowerCase() !== 'online'
              "
              class="pay-mode mb-0"
            >
              N/A
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf="order.cartProduct.complementaryProducts.length > 0"
        class="mt-5"
      >
        <p class="title">Selected Complementary Product</p>

        <div class="d-flex align-items-center flex-wrap">
          <div
            *ngFor="let item of order.cartProduct.complementaryProducts"
            class="m-right"
          >
            <img
              *ngIf="item?.imageUrl !== '' && item?.imageUrl !== null"
              alt="img"
              class="mb-2 comp-img"
              src="{{ item?.imageUrl }}"
            />
            <div
              *ngIf="item?.imageUrl === '' || item?.imageUrl === null"
              class="d-flex nocomp-img"
            >
              <span class="m-auto">No image found</span>
            </div>
            <p class="comp-prod">{{ item?.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-4 mt-3 section">
    <p class="title mb-4">Payment Information</p>
    <div class="">
      <p class="txt d-flex">
        <span class="w-200-px">Payment Mode:</span> &nbsp;
        <span class="capitalize">{{
          order?.cartProduct?.paymentOption || "N/A"
        }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Payment Status:</span> &nbsp;
        <span
          *ngIf="order?.paymentStatus.toLowerCase() === 'paid'"
          class="paid"
          >{{ order?.paymentStatus }}</span
        >
        <span
          *ngIf="
            order?.paymentStatus.toLowerCase() === 'pending' ||
            order?.paymentStatus.toLowerCase() === 'notset'
          "
          class="pending"
        >
          Pending
        </span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Transaction Reference:</span>
        <span>{{ order?.paymentReferenceNumber || "N/A" }}</span>
      </p>
    </div>
  </div>

  <div class="p-4 mt-3 section">
    <p class="title mb-4">Receiver's Contact Information</p>
    <div class="">
      <p class="txt d-flex">
        <span class="w-200-px">Name:</span> &nbsp;
        <span
          >{{ order?.destination?.firstname }}
          {{ order?.destination?.lastname }}</span
        >
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Phone Number:</span> &nbsp;
        <span
          >{{
            order?.destination?.phoneNumber?.substring(
              0,
              order?.destination?.phoneNumber?.length - 3
            )
          }}***</span
        >
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Country:</span> &nbsp;
        <span>{{ order?.destination?.country }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">City:</span> &nbsp;
        <span>{{ order?.destination?.city }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">State:</span> &nbsp;
        <span>{{ order?.destination?.state }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Address:</span> &nbsp;
        <span>{{ order?.destination?.address }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Expected Delivery Date:</span> &nbsp;
        <span>{{ order?.expectedDeliveryTimeline || "N/A" }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Company Name:</span> &nbsp;
        <span>{{ order?.logistic?.logisticName || "N/A" }}</span>
      </p>
      <p class="txt d-flex">
        <span class="w-200-px">Shipping cost:</span> &nbsp;
        <span>{{
          (order?.logistic?.estimateShippingCost | currency: "NGN") || "N/A"
        }}</span>
      </p>
    </div>
  </div>

  <div class="p-4 mt-3 section web-only">
    <p class="title mb-4">Tracking Details</p>
    <div
      *ngIf="getObjectByStatus('rejected') === null"
      class="d-flex justify-content-center"
    >
      <div *ngIf="getObjectByStatus('paid') !== null">
        <div class="d-flex justify-content-center">
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Payment Made</p>
      </div>
      <div *ngIf="getObjectByStatus('paid') === null">
        <div class="d-flex justify-content-center">
          <img alt="delivery-cancel" src="/assets/icons/delivery-cancel.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Payment failed</p>
      </div>
      <div *ngIf="getObjectByStatus('confirmed') !== null">
        <div>
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Order Confirmed</p>
      </div>
      <div *ngIf="getObjectByStatus('confirmed') === null">
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Awaiting Confirmation</p>
      </div>
      <div *ngIf="getObjectByStatus('scheduled') !== null">
        <div>
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Picked up for delivery</p>
      </div>
      <div *ngIf="getObjectByStatus('scheduled') === null">
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Awaiting pick up</p>
      </div>
      <div *ngIf="getObjectByStatus('intransit') !== null">
        <div>
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">In Transit</p>
      </div>
      <div *ngIf="getObjectByStatus('intransit') === null">
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Not yet shipped</p>
      </div>
      <div *ngIf="getObjectByStatus('delivered') !== null">
        <div>
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        </div>
        <p class="txt mt-2">Delivered</p>
      </div>
      <div *ngIf="getObjectByStatus('delivered') === null">
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        </div>
        <p class="txt mt-2">Not Delivered</p>
      </div>
    </div>

    <div
      *ngIf="getObjectByStatus('rejected') !== null"
      class="d-flex justify-content-center"
    >
      <div>
        <div class="d-flex justify-content-center">
          <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Payment Made</p>
      </div>
      <div>
        <div class="">
          <img alt="delivery-cancel" src="/assets/icons/delivery-cancel.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Order Rejected</p>
      </div>
      <div>
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Awaiting Pick Up</p>
      </div>
      <div>
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
          <img alt="delivery-line" src="/assets/icons/delivery-line.svg" />
        </div>
        <p class="txt mt-2">Not Yet Shipped</p>
      </div>
      <div>
        <div>
          <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        </div>
        <p class="txt mt-2">Not Delivered</p>
      </div>
    </div>

    <div class="table">
      <div class="bottom-border head">
        <p class="mb-0">Date and time</p>
        <p class="mb-0 middle">Location/Remark</p>
        <p class="mb-0 last">Status</p>
      </div>

      <div
        *ngFor="let item of order?.deliveryTrackingEvents"
        class="bottom-border body"
      >
        <p class="mb-0">{{ item?.dateTime | date: "medium" }}</p>
        <p class="mb-0 middle">{{ item?.remark || "N/A" }}</p>
        <p class="mb-0 last">
          <span
            *ngIf="
              item?.status.toLowerCase() === 'paid' ||
              item?.status.toLowerCase() === 'delivered'
            "
            class="delivered mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'confirmed'"
            class="total mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'rejected'"
            class="cancelled mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'intransit'"
            class="processing mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'scheduled'"
            class="scheduled mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'returned'"
            class="returned mb-0"
            >{{ item?.status || "N/A" }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="p-4 mt-3 section mobile-only">
    <p class="title mb-4">Tracking Details</p>

    <div *ngIf="getObjectByStatus('rejected') === null">
      <span *ngIf="getObjectByStatus('paid') !== null">
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> Payment Made </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("paid").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{ getObjectByStatus("paid").dateTime || "N/A" | date: "medium" }}
            </span>
          </span>
        </span>
      </span>
      <span *ngIf="getObjectByStatus('paid') === null">
        <img alt="delivery-cancel" src="/assets/icons/delivery-cancel.svg" />
        <span class="txt"> Payment failed </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span *ngIf="getObjectByStatus('confirmed') !== null">
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> Order Confirmed </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("confirmed").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{
                getObjectByStatus("confirmed").dateTime || "N/A"
                  | date: "medium"
              }}
            </span>
          </span>
        </span>
      </span>
      <span *ngIf="getObjectByStatus('confirmed') === null">
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Awaiting Confirmation </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span *ngIf="getObjectByStatus('scheduled') !== null">
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> Picked up for delivery </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("scheduled").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{
                getObjectByStatus("scheduled").dateTime || "N/A"
                  | date: "medium"
              }}
            </span>
          </span>
        </span>
      </span>
      <span *ngIf="getObjectByStatus('scheduled') === null">
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Awaitiing Pick Up </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span *ngIf="getObjectByStatus('intransit') !== null">
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> In Transit </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("intransit").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{
                getObjectByStatus("intransit").dateTime || "N/A"
                  | date: "medium"
              }}
            </span>
          </span>
        </span>
      </span>
      <span *ngIf="getObjectByStatus('intransit') === null">
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Not Yet Shipped </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span *ngIf="getObjectByStatus('delivered') !== null">
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> Delived </span>
        <br />
        <span class="one-rem-left d-flex">
          <!-- <img src="/assets/icons/delivery-line2.svg" alt="delivery-line" /> -->
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("delivered").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{
                getObjectByStatus("delivered").dateTime || "N/A"
                  | date: "medium"
              }}
            </span>
          </span>
        </span>
      </span>
      <span *ngIf="getObjectByStatus('delivered') === null">
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Not Delivered </span>
      </span>
    </div>

    <div *ngIf="getObjectByStatus('rejected') !== null">
      <span>
        <img alt="delivery-tick" src="/assets/icons/delivery-tick.svg" />
        <span class="txt"> Payment Made </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("paid").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{ getObjectByStatus("paid").dateTime || "N/A" | date: "medium" }}
            </span>
          </span>
        </span>
      </span>
      <span>
        <img alt="delivery-cancel" src="/assets/icons/delivery-cancel.svg" />
        <span class="txt"> Order Rejected </span>
        <br />
        <span class="one-rem-left d-flex">
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
          <span class="one-rem-left">
            <span class="txt">
              {{ getObjectByStatus("rejected").remark || "N/A" }}
            </span>
            <br />
            <span class="txt">
              {{
                getObjectByStatus("rejected").dateTime || "N/A" | date: "medium"
              }}
            </span>
          </span>
        </span>
      </span>
      <span>
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Awaitiing Pick Up </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span>
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Not Yet Shipped </span>
        <br />
        <span
          class="d-flex align-items-center justify-content-center"
          style="width: 30px"
        >
          <img alt="delivery-line" src="/assets/icons/delivery-line2.svg" />
        </span>
      </span>
      <span>
        <img alt="delivery-dot" src="/assets/icons/delivery-dot.svg" />
        <span class="txt"> Not Delivered </span>
      </span>
    </div>
  </div>

  <div class="p-4 mt-3 section mobile-only">
    <h2>Tracking Logs</h2>
    <div *ngIf="order?.deliveryTrackingEvents.length > 0">
      <div
        *ngFor="let item of order?.deliveryTrackingEvents"
        class="bottom-border body"
      >
        <p class="txt">{{ item?.dateTime | date: "medium" }}</p>
        <p class="txt">{{ item?.remark || "N/A" }}</p>
        <p class="txt">
          <span
            *ngIf="
              item?.status.toLowerCase() === 'paid' ||
              item?.status.toLowerCase() === 'delivered'
            "
            class="delivered mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'confirmed'"
            class="total mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'rejected'"
            class="cancelled mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'intransit'"
            class="processing mb-0"
            >{{ item?.status || "N/A" }}
          </span>
          <span
            *ngIf="item?.status.toLowerCase() === 'scheduled'"
            class="scheduled mb-0"
            >{{ item?.status || "N/A" }} </span
          ><span
            *ngIf="item?.status.toLowerCase() === 'returned'"
            class="returned mb-0"
            >{{ item?.status || "N/A" }}
          </span>
        </p>
      </div>
    </div>
    <div *ngIf="order?.deliveryTrackingEvents.length === 0">
      <p class="txt p-5">No tracking logs to show</p>
    </div>
  </div>
</div>
