.navbar-wrapper {
  background-color: #fff;
  padding: 0.25rem 1rem;
}

.container-wrapper {
  margin: 1rem 1.25rem;
}

.order-detail {
  margin: 2rem 0rem 3rem 0rem;
}

.order-detail span {
  color: black;
  font-family: 'Avenir LT Std';
  font-weight: 400;
  font-size: 1.25rem;
}

.uk-card-body {
  padding: 0rem;
}

.detail-box {
    background-color: #fff;
    padding: 1rem 0rem 2rem 1.5rem;
}

.order-heading {
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 750;
  font-size: 1rem;
  color: black;
}

.order-text {
  color: black;
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 400;
  font-size: 0.65rem;
}

.item-in-order {

    display: flex;
    gap: 0.5rem;
}

.item-in-order img {
    /* width: 30%; */
}