.navbar-wrapper {
  background-color: #fff;
  padding: 0.25rem 1rem;
}

.container-wrapper {
  margin: 1rem 1.25rem;
}

.order-detail {
  margin: 2rem 0rem 3rem 0rem;
}

.order-detail span {
  color: black;
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-size: 1.25rem;
}

.uk-card-body {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: none;
}

.detail-box {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.25rem;
}

.order-heading {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 1rem;
  color: black;
}

.order-text {
  color: black;
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0rem;
}

.order-quantity {
  font-size: 0.625rem;
  color: #979797;
  font-family: "Avenir LT Std";
  font-style: normal;
  margin: 0rem;
  span {
    color: black;
  }
}

.item-in-order {
  display: flex;
  gap: 0.5rem;

  img {
    object-fit: cover;
    width: 4rem;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;

    button {
      border-radius: 0.25rem;
      font-size: 0.625rem;
      outline: none;
    }

    :nth-child(1) {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.35);
    }
    :nth-child(2) {
      background-color: black;
      color: #fff;
      border: none;
    }
  }
}

.item-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.item-in-order {
  /* width: 30%; */
}

.detail-box {

  .tracking-info-container {
    display: flex;
    flex-direction: column;

    .tracking-box {
      position: relative;
      border-left: 1px solid black;
      padding-left: 1rem;

      .icon-img {
        position: absolute;
        top: -0.125rem;
        left: -0.625rem;
      }

      .tracking-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;


        .heading {
          font-family: "Avenir LT Std";
          font-style: normal;
          font-weight:bold;
          font-size: 1rem;
          color: #000;
        }

        .tracking-info-detail {
          font-family: "Avenir LT Std";
          font-style: normal;
          font-weight: 400;
          font-size: 0.875rem;
          color: #333333;
          margin: 0rem;
        }
      }
    }
    :nth-child(4) {
      border-left: none;
    }
  }
}
