<div class="navbar-wrapper">
  <app-navbar></app-navbar>
</div>
<div class="container-wrapper">
  <div class="order-detail">
    <img class="order-arrow" src="../../../../../assets/image/back icon.svg" alt="">
    <span>Order details</span>
  </div>

  <div class="uk-card uk-card-default uk-card-body">
    <div class="detail-box">
      <p class="order-heading">Order #20</p>
      <p class="order-text">1 item</p>
      <p class="order-text">Placed on: 30-11-2022</p>
      <p class="order-text">Total: ₦50,000</p>
    </div>

    <div class="detail-box">
      <p class="order-heading">Customer’s Information</p>
      <p class="order-text">Name: Pamela Okeke </p>
      <p class="order-text">Phone numer: +234906789436</p>
    </div>

    <div class="detail-box">
      <p class="order-heading">Billing Address</p>
      <p class="order-text">Country: Pamela Okeke </p>
      <p class="order-text">State: Abuja</p>
      <p class="order-text">No 1 Adede Sree, Abuja</p>
    </div>

    <div class="detail-box">
      <p class="order-heading">Item in order</p>
      <p class="order-text">Status: <img src="../../../../../assets/image/Ellipse 455.svg" alt="">
        <span class="order-text"> Pending</span></p>
      <div class="item-in-order">
        <img src="../../../../../assets/image/Rectangle 703.svg" alt="">
        <div class="item-details">
          <p class="order-text">Sneakers</p>
          <p class="order-quantity">Quatity: <span>1 items</span></p>
          <p class="order-text">₦50,000</p>
        </div>
        <div class="btn-group">
          <button>Cancel order</button>
          <button>Pay now</button>
        </div>
      </div>
    </div>
    <div class="detail-box">
      <p class="order-heading">Tracking details</p>
      <div class="tracking-info-container">
        <div class="tracking-box">
          <div class="icon-img">
            <img src="../../../../../assets/image/confirm-filled.svg" alt="">
            <!-- <img src="../../../../../assets/image/dot-empty.svg" alt=""> -->
          </div>
          <div class="tracking-info">
          <p class="heading">Order confirmation</p>
          <p class="tracking-info-detail date-time">23rd April, 2022, 12:04pm </p>
          <p class="tracking-info-detail address">ABU, Zaria</p>
        </div>
        </div>
        <div class="tracking-box">
          <div class="icon-img">
            <img src="../../../../../assets/image/confirm-filled.svg" alt="">
          </div>
          <div class="tracking-info">
          <p class="heading">Order confirmation</p>
          <p class="tracking-info-detail date-time">23rd April, 2022, 12:04pm </p>
          <p class="tracking-info-detail address">ABU, Zaria</p>
        </div>
        </div>
        <div class="tracking-box">
          <div class="icon-img">
            <img src="../../../../../assets/image/confirm-filled.svg" alt="">
          </div>
          <div class="tracking-info">
          <p class="heading">Order confirmation</p>
          <p class="tracking-info-detail date-time">23rd April, 2022, 12:04pm </p>
          <p class="tracking-info-detail address">ABU, Zaria</p>
        </div>
        </div>
        <div class="tracking-box">
          <div class="icon-img">
            <!-- <img src="../../../../../assets/image/confirm-filled.svg" alt=""> -->
            <img src="../../../../../assets/image/dot-empty.svg" alt="">
          </div>
          <div class="tracking-info">
          <p class="heading">Order confirmation</p>
          <p class="tracking-info-detail date-time">23rd April, 2022, 12:04pm </p>
          <p class="tracking-info-detail address">ABU, Zaria</p>
        </div>
        </div>
      </div>
    </div>


    <!-- <div class="uk-grid uk-child-width-1-2@s" *ngIf="invoice">
      <div *ngIf="user$ | async as user">
        <p>
          Invoice No <span>#{{ invoice.id }}</span>
        </p>
        <p>Date <span>21 feb, 2020</span></p>
        <h3>Customer Information</h3>
        <p>
          Name : <span>{{ user.data.firstName + " " + user.data.lastName }}</span>
        </p>
        <p>
          Phone : <span>{{ user.data.phoneNumber }}</span>
        </p>
        <h3>Billing Address</h3>
        <p>
          Country : <span>{{ invoice.country }}</span>
        </p>
        <p>
          State : <span>{{ invoice.state }}</span>
        </p>
        <p>
          Address : <span>{{ invoice.billingAddress }}</span>
        </p>
        <h3>Additional Infomation</h3>
        <p></p>
      </div>
      <div>
        <h3>Status: {{ invoice.status }}</h3>
        <h3>Reference No: {{ invoice.transReferenceNo }}</h3>
        <h3>Cost Summary</h3>
        <p>
          <b>Total: NGN {{ total.toLocaleString() }}</b>
        </p>
      </div>
    </div>
    <div class="uk-margin-top" *ngIf="invoice">
      <hr />
      <h1 class="uk-text-bold">ITEMS</h1>
      <div class="">
        <table class="uk-table uk-table-small uk-table-responsive uk-table-divider uk-table-divider">
          <thead>
            <tr>
              <th>Order No</th>
              <th>Item</th>
              <th>Name</th>
              <th>Option</th>
              <th>Shipment</th>
              <th>Unit</th>
              <th>Cost</th>
              <th>Payment Option</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of invoice.orders">
                <td>{{ order.id }}</td>
                <td>
                    <div>
                      <img class="uk-img" width="100" src="{{ order.product.imageUrl }}"/>
                    </div>
                </td>
                <td>{{ order.product.name }}</td>
                <td [innerHtml]="formatProductOptions(order.options)"></td>
                <td>{{formatShipmentOption(order.shipments)}}</td>
                <td>{{ order.unit }}</td>
                <td>NGN {{ order.price.toLocaleString() }}</td>
                <td>{{ order.paymentOption }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button">
                            Action
                        </button>
                        <div uk-dropdown="mode: click" style="z-index:99">
                            <ul class="uk-list uk-list-divider" style="z-index:99">
                                <li>
                                    <a uk-toggle="target: #modal-view-more" 
                                        (click)="setViewMore(order)">
                                        View More
                                    </a>
                                </li>
                                <li *ngIf="isUpdatable(order.status)">
                                    <a uk-toggle="target: #modal-update-delivery-status"
                                        (click)="setOrderId(order.id,order.status)">
                                        Update Delivery Status
                                    </a>
                                </li>
                                <li *ngIf="order.status === 'intransit'">
                                  <a (click)="updateLocation(order.id)">Update Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div>
    </div>

    <!-- This is the modal with the outside close button -->
    <!-- <div id="modal-view-more" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <app-order-view-more></app-order-view-more>
  </div>
</div> -->

    <!-- This is the modal with the outside close button -->
    <!-- <div id="modal-update-delivery-status" uk-modal="bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-outside" type="button" uk-close #closeUpdateStatus>
    </button>
    <app-update-delivery-status (closed)="closeUpdateStatusModal()">
    </app-update-delivery-status>
  </div>
</div> -->