.dashboard-container {
  margin-top: -30px;
}

.first-div-container {
  padding-bottom: 28px;
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.addProduct-btn {
  padding: 3px 31px;
  border-radius: 4px;
  color: #F2F2F2;
  font-size: 10px;
  text-transform: initial;
  margin-left: auto;
  font-family: 'Avenir LT Std';
  font-weight: 400;
}

.cards-div {
  flex-wrap: wrap;
  gap: 0.94rem;
}

.firstCard-container {
  gap: 0.5rem;
  width: 47.5%;
  border-radius: 8px;
  padding: 1rem;
}

.firstCard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.firstCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.firstCard-container>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.firstCard-num {
  padding: 0rem;
  margin: 0rem;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  font-family: 'Avenir LT Std';
}

.firstCard-text {
  padding: 0rem;
  margin: 0rem;
  color: #979797;
  font-size: 0.5rem;
  font-weight: 400;
  font-family: 'Avenir LT Std';
}

h5 {
  font-weight: 750;
  font-size: 18px;
  padding: 39px 0px 2px 0px;
  font-family: 'Avenir LT Std';
}

.table-container {
  background-color: #FFFFFF;
  border-radius: 8px;
}

.table-container .table-head-data {
  display: none;
}

.table-container .productWrapper {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0rem;
}

.productThumbnail {
  width: 30%;
}

.productThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.productDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center !important;
  justify-content: flex-start;
}

.productDesc {
  display: flex;
  flex-direction: column;
  order: 0;
}

.totalAmt {
  order: 2;
  width: 47.5%;
}

.totalAmt p {
  padding: 0px;
  margin: 0px;
  font-weight: 750;
}

.unitSold {
  order: 1;
  font-size: 8px;
}

.edit-detail {
  display: flex;
  order: 3;
  width: 47.5%;
  justify-content: flex-end;
  font-size: 7px;
}

.uk-table th {
  color: #979797;
  font-weight: 750;
  font-size: 16px;
  text-transform: initial;
  padding-top: 28px;
  font-family: 'Avenir LT Std';
}

.table-data-desc {
  color: #333333;
  font-family: 'Avenir LT Std';
  font-size: 14px;
}

.table-data-unit {
  color: #584DCD;
  background: rgba(88, 77, 205, 0.1);
  border-radius: 34px;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-family: 'Avenir LT Std';
}

.edit-detail {
  text-align: center;
  font-family: 'Avenir LT Std';
  font-size: 11px;
}

.edit-detail span {
  color: #D01717;
  margin-right: 6px;
  font-family: 'Avenir LT Std';
  font-size: 0.5rem;
}

.edit-detail img {
  width: 15px;
  font-size: 0.35rem;
}

.alert-div {
  display: none;
}



@media only screen and (min-width: 768px) {
  .alert-div {
    display: block;
  }

  .first-div-container {
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .alert-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .alert-text {
    color: #4CAF50;
    font-weight: 750;
    font-size: 16px;
    font-family: 'Avenir LT Std';
  }

  .addProduct-btn {
    font-size: 16px;
  }

  .cards-div {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .firstCard-container {
    gap: 1rem;
    width: 47.5%;
    padding: 1rem;
  }

  .firstCard-img {
    width: 30%;
  }

  .firstCard-container>div:nth-child(2) {
    gap: 0.25rem;
  }

  .firstCard-num {
    font-size: 1.25rem;
    font-weight: 750;
  }

  .firstCard-text {
    font-size: 0.875rem;
  }

  h5 {
    font-size: 18px;
    padding: 39px 0px 2px 0px;
  }

  .table-container .table-head-data {
    display: none;
  }

  .table-data-desc {
    color: #333333;
    font-family: 'Avenir LT Std';
    font-size: 16px;
  }

  .table-container .productWrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
  }

  .productThumbnail {
    width: 30%;
  }

  .productDetails {
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .productDesc {
    order: 0;
  }

  .totalAmt {
    order: 2;
    width: 47.5%;
  }

  .unitSold {
    order: 1;
    font-size: 14px;
  }

  .edit-detail {
    order: 3;
    width: 47.5%;
  }

  .uk-table th {
    font-size: 16px;
    padding-top: 28px;
  }

  .table-data-unit {
    /* width: auto; */
  }

  .edit-detail span {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .alert-div {
    display: block;
  }

  .first-div-container {
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .alert-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .alert-text {
    color: #4CAF50;
    font-weight: 750;
    font-size: 16px;
    font-family: 'Avenir LT Std';
  }

  .addProduct-btn {
    font-size: 16px;
  }

  .cards-div {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .firstCard-container {
    gap: 1rem;
    width: 47.5%;
    padding: 2rem;
  }

  .firstCard-img {
    width: 30%;
  }

  .firstCard-container>div:nth-child(2) {
    gap: 0.25rem;
  }

  .firstCard-num {
    font-size: 1.25rem;
    font-weight: 750;
  }

  .firstCard-text {
    font-size: 0.875rem;
  }

  h5 {
    font-size: 18px;
    padding: 39px 0px 2px 0px;
  }

  .table-container .table-head-data {
    display: block;
  }

  .table-head-data .table-header {
    display: flex;
    padding: 0rem 2rem;
  }

  .table-header th {
    width: 20%;
  }

  .table-container .productWrapper {
    display: flex;
    gap: 0rem;
    padding: 1rem 2rem;
  }

  .productThumbnail {
    width: 20%;
    padding-right: 1.5rem;
  }

  .productDetails {
    flex-wrap: nowrap;
    gap: 0rem;
    align-items: flex-start;
    flex-grow: 2;
  }

  .productDesc {
    order: 0;
    width: 25%;
    padding-left: 0.5rem;
  }

  .totalAmt {
    order: 1;
    width: 25%;
    padding-left: 0.5rem;
  }

  .unitSold {
    order: 2;
    width: 25%;
    padding-left: 0.5rem;
  }

  .edit-detail {
    order: 3;
    width: 25%;
    padding-left: 0.5rem;
  }

  .uk-table th {
    font-size: 16px;
    padding-top: 28px;
  }

  .table-data-unit {
    /* width: auto; */
  }

  .edit-detail span {
    font-size: 0.75rem;
  }
}