<div class="dashboard-container">
  <div class="first-div-container uk-flex uk-flex-between">
    <div
      *ngIf="user?.sellerApprovalStatus.toLowerCase() === 'approved'"
      class="alert-div"
    >
      <img
        class="mb-1 alert-img"
        src="../../../../assets/image/alert-icon.png"
        alt=""
      />
      <span class="alert-text"
        >congratulations your registration is approved, grow your sales</span
      >
    </div>
    <div *ngIf="user?.sellerApprovalStatus.toLowerCase() === 'failed'">
      <svg
        class="mb-1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 8V12"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 16H12.01"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      &nbsp;
      <span class="alert-text" style="color: #d01717"
        >Your verification failed
      </span>
    </div>
    <div *ngIf="user?.sellerApprovalStatus.toLowerCase() === 'none'">
      <svg
        class="mb-1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 8V12"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 16H12.01"
          stroke="#D01717"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      &nbsp;
      <span class="alert-text" style="color: #d01717"
        >To sell you need to start your verification process,
        <span [routerLink]="['/seller-form']">click here to start</span>
      </span>
    </div>
    <div *ngIf="user?.sellerApprovalStatus.toLowerCase() === 'pending'">
      <svg
        class="mb-1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
          stroke="#ffc400"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 8V12"
          stroke="#ffc400"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 16H12.01"
          stroke="#ffc400"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      &nbsp;
      <span class="alert-text" style="color: #ffc400"
        >Your registration is in progress</span
      >
    </div>
    <div>
      <button
        routerLink="/seller/products/create"
        class="addProduct-btn uk-button uk-button-secondary uk-button-small"
      >
        Add Product
      </button>
    </div>
  </div>

  <div class="cards-div uk-flex uk-flex-between">
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="../../../../assets/image/Frame 51514 (1).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingSummary">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingSummary" class="firstCard-num">
          {{ dashboardData?.pendingOrders }}
        </p>
        <div class="firstCard-text">New Orders</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="../../../../assets/image/Frame 51514 (2).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingSummary">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingSummary" class="firstCard-num">
          {{ dashboardData?.totalProducts }}
        </p>
        <div class="firstCard-text">Products</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="../../../../assets/image/Frame 51514 (3).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingSummary">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingSummary" class="firstCard-num">
          {{ dashboardData?.sales | currency: "₦" }}
        </p>
        <div class="firstCard-text">Total sales</div>
      </div>
    </div>
    <div
      class="firstCard-container uk-flex uk-card uk-card-default uk-card-body"
    >
      <div class="firstCard-img">
        <img src="../../../../assets/image/Frame 51514 (4).svg" alt="" />
      </div>
      <div>
        <div *ngIf="loadingSummary">
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="40"
            height="40"
          />
        </div>
        <p *ngIf="!loadingSummary" class="firstCard-num">
          {{ dashboardData?.totalOrders }}
        </p>
        <div class="firstCard-text">Total orders</div>
      </div>
    </div>
  </div>

  <h5>Most selling products</h5>

  <div
    class="p-0 uk-card uk-card-default uk-card-body"
    style="border-radius: 50px"
  >
    <table class="table-container uk-table">
      <thead>
        <tr class="table-head-data">
          <div class="table-header">
            <th>&nbsp;</th>
            <th>Product</th>
            <th>Cost</th>
            <th>Unit</th>
            <th>&nbsp;</th>
          </div>
        </tr>
      </thead>
      <tbody *ngIf="!loading && mostSelling.length > 0">
        <tr *ngFor="let item of mostSelling">
          <div class="productWrapper">
            <div class="productThumbnail">
              <img [src]="getImageResolution(item?.imageUrl, 80, 80)" alt="" />
            </div>
            <div class="productDetails">
              <div class="productDesc">
                <p class="table-data-desc">{{ item?.name }}</p>
                <p class="table-data-unit">
                  {{
                    item?.unit - item?.unitSold < 1
                      ? "0"
                      : item?.unit - item?.unitSold
                  }}
                  unit{{ item?.unit - item?.unitSold < 1 ? "" : "s" }} left
                </p>
              </div>
              <div class="totalAmt">
                <p>{{ item?.revenue | currency: "₦" }}</p>
              </div>
              <div class="unitSold">
                <p class="mb-0">{{ item?.unitSold }} units sold</p>
              </div>
              <div class="edit-detail">
                <div
                  routerLink="/seller/products/create/{{ item?.productId }}"
                  class="d-flex pointer"
                >
                  <span>Edit Details</span>
                  <img src="../../../../assets/image/right-arrow.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>

      <div
        *ngIf="loading"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 200px;
        "
      >
        <img
          src="/assets/svg/loader-icon.svg"
          alt=""
          width="100"
          height="100"
        />
      </div>

      <div
        *ngIf="mostSelling.length === 0 && !loading"
        style="display: flex; justify-content: center; padding: 20px"
      >
        <img
          class="py-5"
          src="/assets/image/empty-table.svg"
          alt="empty-table"
        />
      </div>
    </table>
  </div>
</div>
