@import "config";
.contact-info-edit {
  width: 100%;
  padding: 30px 20px;
  max-width: 700px;
}

#contact-form {
  width: 100%;
}

.contact-edit {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  & .heading {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }

  & .verify-alert {
    color: #667085;
    margin: 20px 0;
  }

  .prompt {
    margin-bottom: 5px;
    font-size: 16px;
    color: #344054;
  }

  & .contact-inputs {
    position: relative;
    width: 100%;

    & input {
      display: block;
      padding: 10px 15px;
      padding-left: 60px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid $input-border;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    & .country-code {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }
  }
}

.btn {
  align-self: flex-end;
  margin-top: 30px;
  padding: 0;
  width: 100%;

  & #submit-btn {
    border: none;
    height: 40px;
    width: 100%;
    padding: 10px 50px;
    border-radius: 8px;
    background: $black;
    color: $white;
    border: 1px solid $black;
    white-space: nowrap;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.disclaimer {
  margin-top: 40px;
  color: #667085;
  width: 300px;
}

.verification-complete {
  & .heading {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }

  & .prompt {
    margin-top: 15px;
    color: #667085;
    width: 300px;
  }

  & .btn {
    align-self: flex-end;
    margin-top: 30px;
    padding: 0;
    width: 100%;

    & button {
      border: none;
      height: 40px;
      width: 100%;
      padding: 10px 50px;
      border-radius: 8px;
      background: $black;
      color: $white;
      border: 1px solid $black;
      white-space: nowrap;
      transition: all 300ms;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $white;
        color: $black;
      }
    }
  }
}

.otp-dialog-container {
  padding: 30px 25px;
}

.otp-heading {
  font-size: 18px;
  color: $bold-text-color;
  margin-bottom: 20px;
}

.sent-text {
  color: $normal-text-color;
}

.otp-input-container {
  margin: 20px 0;

  &.mobile,
  &.mobile2 {
    display: none;
  }
}

::ng-deep .otp-c-input {
  font-size: 40px;
  font-weight: 700;
  &:focus {
    outline-style: solid;
    outline-color: $black;
  }
}

.code-resend {
  color: $normal-text-color;
  & .resend {
    color: $bold-text-color;
    text-decoration: none;

    & #resend-main {
      text-decoration: underline;
    }

    & #reload {
      color: $bold-text-color;
      font-weight: bold;
      text-decoration: none;
      cursor: none;
    }
  }
}

.verify-button {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  background: $black;
  color: $white;
  margin-top: 25px;
}

@media (max-width: 450px) {
  .otp-dialog-container {
    padding: 30px 10px;
  }
  .otp-input-container {
    &.desktop,
    &.mobile2 {
      display: none;
    }

    &.mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 350px) {
  .otp-input-container {
    &.desktop,
    &.mobile {
      display: none;
    }

    &.mobile2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// @media (max-width: 500px) {
//   .contact-info-edit {
//     width: 370px;
//   }
// }

// @media (max-width: 400px) {
//   .contact-info-edit {
//     width: 350px;
//   }
// }

.login-btn-loader {
  width: 20px;
  height: 20px;
  border: 3px solid $white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
