<div class="topbar">
  <div class="topbarWrapper">
    <div class="topbarLeft">
      <span class="topbarLogo">Open Market</span>
    </div>
    <div class="topbarRight">
      <div class="topbarRight__items">
        <p>Products</p>
        <div className="item">
          <div className="search">
            <input type="text" placeholder="Search" />
          </div>
        </div>
        <div className="item">
          <img src="../../assets/img/profileImg.png" alt=""  />
        </div>
      </div>
    </div>
  </div>
</div>
