<div class="topbar">
  <div class="topbarWrapper">
    <div class="topbarLeft">
      <span class="topbarLogo">Open Market</span>
      <div class="topbarLeft__sidebar">
        <ul class="sidebar__list">
          <li class="sidebar__listItem">
            <img src="../../assets/img/userIcon.png" class="sidebar__icon" /> Profile
          </li>
          <li class="sidebar__listItem">
            <img src="../../assets/img/mailboxIcon.png" class="sidebar__icon" /> Orders
          </li>
          <li class="sidebar__listItem">
            <img src="../../assets/img/productIcon.png" class="sidebar__icon" /> Products
          </li>
          <li class="sidebar__listItem active">
            <img src="../../assets/img/vouchersIcon.png" class="sidebar__icon" /> Vouchers
          </li>
        </ul>
        <div class="sidebar__btn">
            <ul class="sidebar__list">
              <li class="sidebar__listItem">
                <img src="../../assets/img/logoutIcon.png" class="sidebar__icon" /> Log out
              </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="topbarRight">
      <div class="topbarRight__items">
        <p>Products</p>
        <div class="item">
          <div class="search">
            <input type="text" placeholder="Search for products" />
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/profileImg.png" alt="" style="width: 48px; height: 48px" />
        </div>
      </div>

      <div class="topbarRight__product__form">
<p>Enter Your Product(s) Details</p>

<div></div>
      </div>
    </div>
  </div>
</div>
