.topbar {
  width: 100%;
  height: 50px;
}

.topbarWrapper {
  height: 100%;
  padding: 0;
  display: flex;
}

.topbarLeft {
  background-color: #000 !important;
  padding: 10px 40px;
  flex: 1;
}

.topbarLogo {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 750;
  font-size: 24px;
  color: #f2f2f2;
  padding: 15px 0px 0px 60px;
}

.topbarRight {
  flex: 4;
  padding: 10px;
}

.topbarRight__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbarRight__items p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #333333;
}

.topbarRight__items .item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.topbarRight__items .search {
  display: flex;
  justify-content: center;
}

.topbarRight__items input {
  border: none;
  outline: none;
  width: 300px;
  padding: 12px 4px 12px 40px;
  background: #f1f1f1  url("../../assets/img/searchIcon.png") no-repeat 13px
    center;
  /* box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2),
    inset 0px 1px 0px rgba(0, 0, 0, 0.02); */
  border-radius: 6px;
}

.topbarRight__items input::placeholder {
  font-size: 14px;
}


