<div class="topbar">
  <div class="topbarWrapper">
    <div class="topbarLeft">
      <span class="topbarLogo">Open Market</span>
      <div class="topbarLeft__sidebar">

      </div>
    </div>
    <div class="topbarRight">
      <div class="topbarRight__items">
        <p>Products</p>
        <div className="item">
          <div className="search">
            <input type="text" placeholder="Search for products" />
          </div>
        </div>
        <div className="item">
          <img src="../../assets/img/profileImg.png" alt="" style="width: 30px; height: 30px" />
        </div>
      </div>
    </div>
  </div>
</div>
