@import "config";

.profile-dashboard-container {
  width: 100%;
}

#profile-heading {
  font-weight: bold;
  margin-bottom: 30px;
}

.profile-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.profile-content-btn-mobile {
  display: none;
}

.carousel {
  display: none;
}

.profile-content-btn-main {
  width: 100%;
  margin: 0;
  border: 1px solid $border-line-color;
  padding: 0px 0px;
  border-radius: 9px;
  border-top-right-radius: 20px;
  overflow: hidden;
  text-align: left;
}

.profile-btn {
  list-style: none;
  font-size: 16px;
  padding: 15px 8px;
  cursor: pointer;
  white-space: nowrap;
  color: $normal-text-color;

  &.active {
    color: $bold-text-color;
    border-right: 2px solid black;
  }

  &:not(:first-child) {
    border-top: 1px solid $border-line-color;
  }
}

.profile-content-main {
  width: 100%;
  padding-left: 30px;
  background: $white;
}

@media (max-width: 840px) {
  .profile-content {
    align-items: center;
    flex-direction: column;
  }

  .profile-content-btn {
    display: none;
    width: 100%;

    & ::-webkit-scrollbar {
      height: 5px;
      cursor: pointer;
    }
  }

  .carousel-container-main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  ::ng-deep .carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border: none;
    border-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 2px solid $border-line-color;
  }

  .carousel-cells {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    padding-left: 50px;
  }

  .profile-btn,
  .carousel-cell {
    list-style: none;
    font-size: 16px;
    padding: 0 0;
    cursor: pointer;
    color: $normal-text-color;
    margin-bottom: 0;
    text-align: center;

    &.active {
      color: $bold-text-color;
      border-right: none;
      border-bottom: 2px solid black;
      font-weight: bold;
    }

    &:not(:first-child) {
      margin-left: 0px;
      border-top: none;
    }

    &:first-child {
      transform: translateX(40px) !important;
    }
    &:nth-child(2) {
      transform: translateX(260px) !important;
    }
    &:nth-child(3) {
      transform: translateX(460px) !important;
    }

    &-content {
      margin-bottom: -20px;
    }
  }

  .profile-content-main {
    padding-left: 0;
  }
}

::ng-deep .carousel-arrow {
  width: 30px !important;
  height: 30px !important;

  &-prev {
    left: 0 !important;
  }
  &-next {
    right: 0 !important;
  }
}
