<div class="profile-dashboard-container">
  <div class="profile-dashboard-main">
    <!-- <h1 id="profile-heading">Profile</h1> -->
    <div class="profile-content">
      <div class="profile-content-btn">
        <ul class="profile-content-btn-main">
          <li
            class="profile-btn"
            routerLink="personal-information"
            routerLinkActive="active"
          >
            Personal Information
          </li>

          <li
            class="profile-btn"
            routerLink="business-information"
            routerLinkActive="active"
          >
            Business Information
          </li>

          <li
            class="profile-btn"
            routerLink="kyc-verification"
            routerLinkActive="active"
          >
            KYC Verification
          </li>

          <li
            class="profile-btn"
            routerLink="settings"
            routerLinkActive="active"
          >
            Settings
          </li>
        </ul>
      </div>

      <div class="carousel-container-main">
        <carousel class="carousel" style="height: 40px">
          <div
            class="profile-btn carousel-cell"
            routerLink="personal-information"
            routerLinkActive="active"
          >
            <div class="profile-btn-content">Personal Information</div>
          </div>

          <div
            class="profile-btn carousel-cell"
            routerLink="business-information"
            routerLinkActive="active"
          >
            <div class="profile-btn-content">Business Information</div>
          </div>

          <div
            class="profile-btn carousel-cell"
            routerLink="kyc-verification"
            routerLinkActive="active"
          >
            <div class="profile-btn-content">KYC Verification</div>
          </div>

          <div
            class="profile-btn carousel-cell"
            routerLink="settings"
            routerLinkActive="active"
            style="transform: translateX(0)"
          >
            <div class="profile-btn-content">Settings</div>
          </div>
        </carousel>
      </div>

      <div class="profile-content-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
