<div class="profile-dashboard-container">
  <div class="profile-dashboard-main">
    <h1 id="profile-heading">Profile</h1>
    <div class="profile-content">
      <div class="profile-content-btn">
        <ul class="profile-content-btn-main">
          <li
            class="profile-btn"
            routerLink="personal-information"
            routerLinkActive="active"
          >
            Personal Information
          </li>

          <li
            class="profile-btn"
            routerLink="business-information"
            routerLinkActive="active"
          >
            Business Information
          </li>

          <li
            class="profile-btn"
            routerLink="kyc-verification"
            routerLinkActive="active"
          >
            KYC Verification
          </li>

          <li
            class="profile-btn"
            routerLink="settings"
            routerLinkActive="active"
          >
            Settings
          </li>
        </ul>
      </div>

      <div class="profile-content-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
