.main {
  padding: 2rem 8rem;
  display: flex;
  background-color: #ffffff;

  .loading {
    color: #c0c0c0;
  }

  .view-item-btn {
    font-weight: 350;
    font-size: 16px;
    cursor: pointer;
    line-height: 19px;
    text-decoration-line: underline;
    color: #a65d06;
  }

  .small-logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .capitalize {
    text-transform: uppercase;
  }

  .cartImg {
    width: 200px;
    height: 120px;
  }

  .mobile-view-only {
    display: none;
  }

  .left-section {
    width: 70%;
    margin-right: 2rem;

    .top-left {
      // background: #F8F8F8;
      border-radius: 5px;

      & .cart-items-main {
        background: #f8f8f8;
      }

      .name {
        font-weight: 400;
        font-size: 18px;
        line-height: 154%;
        color: #000000;
      }

      .ship {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
      }

      .naming {
        width: 70%;
      }

      .img-section {
        margin-right: 1rem;
      }

      .pricing {
        width: 30%;
        margin-left: 1rem;
      }

      .each-item {
        border-bottom: 0.5px solid black;
      }

      .price {
        font-size: 20px;
        line-height: 154%;
        color: #000000;
      }

      .strike {
        font-weight: 400;
        font-size: 14px;
        line-height: 154%;
        text-decoration-line: line-through;
        color: #979797;
      }

      .percent {
        font-weight: 400;
        font-size: 14px;
        line-height: 154%;
        color: #d01717;
      }

      .address-payment {
        border-top: 0.3px solid #b9b9b9;
      }

      .del-add {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #828282;
      }

      .del-type {
        font-style: italic;
        font-weight: 750;
        font-size: 14px;
        line-height: 154%;
        color: #666666;
      }
    }

    .del-btn {
      display: flex;
      align-items: center;
      color: #d01717;
    }

    .payment-section {
      background: #f8f8f8;
      border-radius: 5px;
      // height: 0px !important;

      input[type="radio"] {
        width: 20px;
        height: 20px;
        accent-color: black !important;
      }

      label {
        span {
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
        }
      }

      .info-title {
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
        color: #92921d;
      }

      .msg {
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #b6b62e;
      }

      .info-section {
        background: #ffffdf;
        border-left: 4px solid #ebeb5e;
      }

      .pay-btn {
        background: #000000;
        color: #ffffff;
        height: 55px;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
        border: none;
        outline: none !important;
        border-radius: 4px;
      }

      .personal-info {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6a6b6e;
      }
    }
  }

  .right-section {
    width: 30%;
    background: #ededed;
    border-radius: 5px;
    height: 400px;

    .big {
      font-weight: 700;
      font-size: 18px;
    }

    .apply-section {
      width: 100%;
      height: 45px;
      margin-bottom: 1rem;

      input {
        width: 75%;
        background: #ededed;
        height: 45px;
        outline: none !important;
        border: 1px solid #b9b9b9;
        border-radius: 4px 0px 0px 4px;
        padding: 0rem 10px;
      }

      button {
        width: 25%;
        height: 45px;
        outline: none !important;
        border: 1px solid #000000;
        background: black;
        text-align: center;
        color: #ffffff;
        border-radius: 0px 4px 4px 0px;
      }
    }
  }
}

.w-47 {
  width: 47%;
}

.cancel-btn {
  color: black;
  background: white;
  border-radius: 5px;
  height: 50px;
  outline: none !important;
}

.delete-btn {
  color: white;
  background: black;
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none !important;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 1rem;
    display: block;

    .mobile-view-only {
      display: block;
    }

    .web-only {
      display: none;
    }

    .left-section {
      margin-right: 0px;
      width: 100%;

      .address-payment {
        display: block !important;

        .del-add {
          font-size: 12px;
        }
      }

      .content {
        display: block !important;

        .naming {
          width: 100%;
          .name {
            font-size: 12px;
            margin-bottom: 0px !important;
          }

          .ship {
            font-size: 10px;
            margin-bottom: 0px !important;
          }
        }

        .pricing {
          width: 100%;
          margin-left: 0px;

          .price {
            font-size: 14px;
          }

          .counter {
            margin-top: 0px !important;
            margin-bottom: 5px;
          }
        }
      }
    }

    .right-section {
      margin-top: 1rem;
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 1rem;
    display: block;

    .mobile-view-only {
      display: block;
    }

    .web-only {
      display: none;
    }

    .left-section {
      margin-right: 0px;
      width: 100%;
    }

    .right-section {
      margin-top: 1rem;
      width: 100%;
      height: auto;
    }
  }
}
