<div class="main">
    <div class="left-section">
        <div class="top-left mb-3">
            <h2 class="px-3 pt-3">Shopping Cart(2)</h2>
            <div class="each-item d-flex mt-3 p-3">
                <div class="img-section">
                    <img src="/assets/images/laptop-img.png" 
                        alt="laptop-img" width="200" height="200" />
                    <span class="mt-3 del-btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.96484 5.92969H4.94149H20.7546" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.7779 5.92985V19.7663C18.7779 20.2906 18.5696 20.7933 18.199 21.164C17.8283 21.5347 17.3255 21.743 16.8013 21.743H6.91805C6.39381 21.743 5.89104 21.5347 5.52035 21.164C5.14966 20.7933 4.94141 20.2906 4.94141 19.7663V5.92985M7.90637 5.92985V3.9532C7.90637 3.42897 8.11462 2.9262 8.48531 2.55551C8.85601 2.18482 9.35877 1.97656 9.88301 1.97656H13.8363C14.3605 1.97656 14.8633 2.18482 15.234 2.55551C15.6047 2.9262 15.8129 3.42897 15.8129 3.9532V5.92985" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.88281 10.8716V16.8015" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.8369 10.8716V16.8015" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> &nbsp;
                        <span>Remove</span>                   
                    </span>
                </div>
                <div class="d-block">
                    <div class="content d-flex justify-content-between det-top">
                        <div class="naming">
                            <p class="name">Lenovo Ideapad Intel Celeron 1TB HDD 4GB RAM Win 10 PRO + Free Bag + Free Mouse</p>
                            <p class="ship">Shipping: Starting from NGN 3000</p>
                        </div>
                        <div class="pricing">
                            <h2 class="mb-0 price">NGN 160,839.04</h2>
                            <p class="mb-0 d-flex">
                                <span class="strike">NGN 182,372.00</span>
                                &nbsp; &nbsp; &nbsp;
                                <span class="percent">9%</span>
                            </p>
    
                            <div class="counter mt-3">
                                <svg (click)="decreaseQuantity()" class="pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" fill="#F2F2F2"/>
                                    <path d="M6.66699 10H13.3337" stroke="#D8D8D8" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <strong class="mx-3 txt">{{count}}</strong>  
                                <svg (click)="increaseQuantity()" class="pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" fill="#F2F2F2"/>
                                    <path d="M10 6.66675V13.3334" stroke="#666666" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.66699 10H13.3337" stroke="#666666" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                              
                            </div>
                        </div>
                    </div>
                    <div class="address-payment py-2 d-flex justify-content-between">
                        <p class="mb-0 del-add">
                            <span class="mb-3">From Abuja Station to Samaritan hospital via CMK</span>
                            <br>
                            <span>+2349056473212 </span>
                        </p>
                        <h3 class="mb-0 del-type">Payment On Delivery</h3>
                    </div>
                </div>
            </div>

            <div class="each-item d-flex mt-3 p-3">
                <div class="img-section">
                    <img src="/assets/images/item1.png" 
                        alt="laptop-img" width="200" height="200" />
                    <span class="mt-3 del-btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.96484 5.92969H4.94149H20.7546" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.7779 5.92985V19.7663C18.7779 20.2906 18.5696 20.7933 18.199 21.164C17.8283 21.5347 17.3255 21.743 16.8013 21.743H6.91805C6.39381 21.743 5.89104 21.5347 5.52035 21.164C5.14966 20.7933 4.94141 20.2906 4.94141 19.7663V5.92985M7.90637 5.92985V3.9532C7.90637 3.42897 8.11462 2.9262 8.48531 2.55551C8.85601 2.18482 9.35877 1.97656 9.88301 1.97656H13.8363C14.3605 1.97656 14.8633 2.18482 15.234 2.55551C15.6047 2.9262 15.8129 3.42897 15.8129 3.9532V5.92985" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.88281 10.8716V16.8015" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.8369 10.8716V16.8015" stroke="#D01717" stroke-width="1.6505" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> &nbsp;
                        <span>Remove</span>                   
                    </span>
                </div>
                <div class="d-block">
                    <div class="content d-flex justify-content-between det-top">
                        <div class="naming">
                            <p class="name">Red Plain Tees lightweight shirt without buttons, with short sleeves and no collar</p>
                            <p class="ship">Shipping: Starting from NGN 3000</p>
                        </div>
                        <div class="pricing">
                            <h2 class="mb-0 price">NGN 1,839.00</h2>
                            <p class="mb-0 d-flex">
                                <span class="strike">NGN 2,372.00</span>
                                &nbsp; &nbsp; &nbsp;
                                <span class="percent">11%</span>
                            </p>
    
                            <div class="counter mt-3">
                                <svg (click)="decreaseQuantity()" class="pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" fill="#F2F2F2"/>
                                    <path d="M6.66699 10H13.3337" stroke="#D8D8D8" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <strong class="mx-3 txt">{{count}}</strong>  
                                <svg (click)="increaseQuantity()" class="pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" fill="#F2F2F2"/>
                                    <path d="M10 6.66675V13.3334" stroke="#666666" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.66699 10H13.3337" stroke="#666666" stroke-width="1.39167" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                              
                            </div>
                        </div>
                    </div>
                    <div class="address-payment py-2 d-flex justify-content-between">
                        <p class="mb-0 del-add">
                            <span class="mb-3">From Abuja Station to Suleja</span>
                            <br>
                            <span>+2349011223216 </span>
                        </p>
                        <h3 class="mb-0 del-type">Payment Online</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-section p-4 mobile-view-only">
            <h2>Cart Summary</h2>
            <div class="mt-3">
                <p class="uk-flex uk-flex-between">
                    <span>Subtotal</span>
                    <span>N 500,000</span>
                </p>
    
                <p class="uk-flex uk-flex-between">
                    <span>Actual Shipping cost</span>
                    <span>N 30,000</span>
                </p>
    
                <p class="uk-flex uk-flex-between">
                    <span>Shipping Discount</span>
                    <span>N 30,000</span>
                </p>
    
                <p class="uk-flex uk-flex-between">
                    <span>Items Discount</span>
                    <span>N 20,000</span>
                </p>
    
                <p class="uk-flex uk-flex-between">
                    <span>Promo Code</span>
                    <span>Enter code here</span>
                </p>
    
                <p> A promo code is a combination of letters (case sensitive) and numbers without spacing</p>
    
                <div class="w-100 apply-section">
                    <input type="text" placeholder="Enter code here" />
                    <button>Apply</button>
                </div>
    
                <div class="uk-flex uk-flex-between">
                    <p class="big">Total</p>
                    <p class="big">N 530,000</p>
                </div>
            </div>
        </div>

        <div class="payment-section mt-3 p-4">
            <h2>Payment Methods</h2>
            <div class="d-flex align-items-center">
                <label class="d-flex align-items-center">
                    <input checked type="radio" name="payment-method" /> &nbsp; &nbsp;
                    <span>Card</span>
                </label>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <label class="d-flex align-items-center">
                    <input type="radio" name="payment-method" /> &nbsp; &nbsp;
                    <span>Bank</span>
                </label>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <label class="d-flex align-items-center">
                    <input type="radio" name="payment-method" /> &nbsp; &nbsp;
                    <span>Transfer</span>
                </label>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <label class="d-flex align-items-center">
                    <input type="radio" name="payment-method" /> &nbsp; &nbsp;
                    <span>Crypto</span>
                </label>
            </div>

            <div class="info-section d-flex w-100 p-4 mt-3">
                <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.332 29.5L19.082 1.375C18.8399 0.957031 18.4219 0.75 18 0.75C17.5781 0.75 17.1563 0.957031 16.918 1.375L0.667982 29.5C0.187513 30.3359 0.789076 31.375 1.75001 31.375H34.25C35.2109 31.375 35.8125 30.3359 35.332 29.5ZM16.75 12.3125C16.75 12.1406 16.8906 12 17.0625 12H18.9375C19.1094 12 19.25 12.1406 19.25 12.3125V19.5C19.25 19.6719 19.1094 19.8125 18.9375 19.8125H17.0625C16.8906 19.8125 16.75 19.6719 16.75 19.5V12.3125ZM18 26.0625C17.5094 26.0525 17.0422 25.8505 16.6987 25.5C16.3553 25.1495 16.1629 24.6783 16.1629 24.1875C16.1629 23.6967 16.3553 23.2255 16.6987 22.875C17.0422 22.5245 17.5094 22.3225 18 22.3125C18.4907 22.3225 18.9578 22.5245 19.3013 22.875C19.6448 23.2255 19.8371 23.6967 19.8371 24.1875C19.8371 24.6783 19.6448 25.1495 19.3013 25.5C18.9578 25.8505 18.4907 26.0525 18 26.0625Z" fill="#CBCB64"/>
                </svg>  
                &nbsp; &nbsp; &nbsp;        
                <div>
                    <p class="info-title">Info</p>
                    <p class="mb-0 msg">You are making an online payment of NGN 300,000, which will be deducted from your card</p>
                </div>       
            </div>

            <button routerLink="/homepage/details" class="w-100 pay-btn mt-4">Pay</button>

            <p class="personal-info mt-3">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
        </div>
    </div>
    <div class="web-only right-section p-4">
        <h2>Cart Summary</h2>
        <div class="mt-3">
            <p class="uk-flex uk-flex-between">
                <span>Subtotal</span>
                <span>N 500,000</span>
            </p>

            <p class="uk-flex uk-flex-between">
                <span>Actual Shipping cost</span>
                <span>N 30,000</span>
            </p>

            <p class="uk-flex uk-flex-between">
                <span>Shipping Discount</span>
                <span>N 30,000</span>
            </p>

            <p class="uk-flex uk-flex-between">
                <span>Items Discount</span>
                <span>N 20,000</span>
            </p>

            <p class="uk-flex uk-flex-between">
                <span>Promo Code</span>
                <span>Enter code here</span>
            </p>

            <p> A promo code is a combination of letters (case sensitive) and numbers without spacing</p>

            <div class="w-100 apply-section">
                <input type="text" placeholder="Enter code here" />
                <button>Apply</button>
            </div>

            <div class="uk-flex uk-flex-between">
                <p class="big">Total</p>
                <p class="big">N 530,000</p>
            </div>
        </div>
    </div>
</div>