<div class="sub-section uk-flex">
    <button
        class="uk-button uk-button-secondary button"
        type="button" routerLink="./withdraw"
        >
        <img src="../../../../assets/icons/cash-outline-light.svg" alt="" width="20" height="20" />
            Withdraw
    </button>
     <button
        class="uk-button uk-button-default button"
        type="button" routerLink="/seller/products/add"
        >
        <img src="../../../../assets/icons/cash-outline-dark.svg" alt="" width="20" height="20" />
            Fund Wallet
    </button>
</div>

<div class="action-section uk-flex">
    <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
         <div class="send card-img">
                <img src="../../../../assets/image/send.svg" alt="">
            </div>
            <div class="uk-flex uk-flex-column uk-flex-middle"><p class="action-text">Send Money</p>
            <small>Coming soon</small></div>
    </div>
    <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
        <div class="money card-img">
                <img src="../../../../assets/image/money.svg" alt="">
            </div>
            <div class="uk-flex uk-flex-column uk-flex-middle"><p class="action-text">Buy Airtime</p>
            <small>Coming soon</small></div>
    </div>
    <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
        <div class="wifi card-img">
                <img src="../../../../assets/image/wifi.svg" alt="">
            </div>
            <div class="uk-flex uk-flex-column uk-flex-middle"><p class="action-text">Buy Data</p>
            <small>Coming soon</small></div>
    </div>
</div>

<div class="transactions-section transactions-section-md">
    <div class="uk-flex uk-flex-between">
        <h2 class="title">Recent Transactions</h2>
    <div class="uk-flex filters">
        <div class="sort">
            <select name="month" #month required>
                <option [ngValue]="null" [disabled]="true" >Sort by Date</option>
                <option value="1">January</option>
       </select>
        </div>
       <div class="filter">
        <select name="month" #month required>
                <option [ngValue]="null" [disabled]="true" >Filter</option>
                <option value="1">January</option>
       </select>
       </div>
    </div>
    </div>

    <div class="card-container card-container-md hide-for-mobile uk-card uk-card-default uk-card-body">
        <table>
            <thead>
                <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Credit</td>
                    <td>Airtime Purchase</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Debit</td>
                    <td>Withdraw</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Credit</td>
                    <td>Funding</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Credit</td>
                    <td>Sales revenue</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Credit</td>
                    <td>Deposit</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>Invoice-#2309</td>
                    <td>₦25,000</td>
                    <td>12 Mar 2023, 12:03</td>
                    <td>Credit</td>
                    <td>Frozen-to-main-balance</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="card-container-sm">
         <div class="card-container uk-flex uk-flex-between uk-card uk-card-default uk-card-body">
            <div>
                <p class="transaction-hash">
                Transaction ID: Invoice-#2310
                </p>
                <h3 class="transaction-title">Airtime Purchase</h3>
                <p class="transaction-type">Credit</p>
                <p class="transaction-date">24 Jan 2023, <small>17:56</small></p>
            </div>
            <div class="uk-flex h-full uk-flex-column uk-flex-between">
                <p class="transaction-status">Pending</p>
                <p class="transaction-amount">₦25,000</p>
            </div>
        </div>
         <div class="card-container uk-flex uk-flex-between uk-card uk-card-default uk-card-body">
            <div>
                <p class="transaction-hash">
                Transaction ID: Invoice-#2310
                </p>
                <h3 class="transaction-title">Airtime Purchase</h3>
                <p class="transaction-type">Credit</p>
                <p class="transaction-date">24 Jan 2023, <small>17:56</small></p>
            </div>
            <div class="uk-flex uk-flex-column uk-flex-between">
                <p class="transaction-status">Pending</p>
                <p class="transaction-amount">₦25,000</p>
            </div>
        </div>
        <div class="card-container uk-flex uk-flex-between uk-card uk-card-default uk-card-body">
            <div>
                <p class="transaction-hash">
                Transaction ID: Invoice-#2310
                </p>
                <h3 class="transaction-title">Airtime Purchase</h3>
                <p class="transaction-type">Credit</p>
                <p class="transaction-date">24 Jan 2023, <small>17:56</small></p>
            </div>
            <div class="uk-flex h-full uk-flex-column uk-flex-between">
                <p class="transaction-status">Pending</p>
                <p class="transaction-amount">₦25,000</p>
            </div>
        </div>
        <div class="card-container uk-flex h-fit uk-flex-between uk-card uk-card-default uk-card-body">
            <div>
                <p class="transaction-hash">
                Transaction ID: Invoice-#2310
                </p>
                <h3 class="transaction-title">Airtime Purchase</h3>
                <p class="transaction-type">Credit</p>
                <p class="transaction-date">24 Jan 2023, <small>17:56</small></p>
            </div>
            <div class="uk-flex uk-flex-column uk-flex-between">
                <p class="transaction-status">Pending</p>
                <p class="transaction-amount">₦25,000</p>
            </div>
        </div>
    </div>
   
</div>


