<div class="verification-alert">
  <app-kyc-nin-snack-bar-alert [isKycVerified]="hasDoneKyc" [isNinVerified]="hasDoneNinVerification" />
</div>


<div class="sub-section uk-flex">
  <button [class.disabled]="!hasDoneNinVerification || !hasDoneKyc" (click)="withdraw()"
    [matTooltip]="!hasDoneNinVerification ? 'Complete your nin verification first' : !hasDoneKyc ? 'Complete your kyc verification first.' : ''"
    class="uk-button uk-button-secondary button" type="button">
    <img src="../../../../assets/icons/cash-outline-light.svg" alt="" width="20" height="20" />
    Withdraw
  </button>
  <button class="uk-button uk-button-default button" disabled type="button">
    <div>
      <img src="../../../../assets/icons/cash-outline-dark.svg" alt="" width="20" height="20" />
      Fund Wallet
    </div>
    <small>Coming soon!!</small>
  </button>
</div>

<div class="action-section uk-flex">
  <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
    <div class="send card-img">
      <img src="../../../../assets/image/send.svg" alt="" />
    </div>
    <div class="uk-flex uk-flex-column uk-flex-middle">
      <p class="action-text">Send Money</p>
      <small>Coming soon</small>
    </div>
  </div>
  <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
    <div class="money card-img">
      <img src="../../../../assets/image/money.svg" alt="" />
    </div>
    <div class="uk-flex uk-flex-column uk-flex-middle">
      <p class="action-text">Buy Airtime</p>
      <small>Coming soon</small>
    </div>
  </div>
  <div class="card-container uk-flex uk-flex-column uk-card uk-card-default uk-card-body">
    <div class="wifi card-img">
      <img src="../../../../assets/image/wifi.svg" alt="" />
    </div>
    <div class="uk-flex uk-flex-column uk-flex-middle">
      <p class="action-text">Buy Data</p>
      <small>Coming soon</small>
    </div>
  </div>
</div>

<div class="relative transactions-section transactions-section-md"
  style="margin: 2rem 0; padding: 1rem 0; min-height: 50vh">
  <div class="uk-flex uk-flex-between">
    <ul uk-tab class="tabs">
      <li tabindex="0" role="tab" (click)="tab = 1" (keyup.enter)="tab = 1" class="uk-active">
        <a>
          <h2 class="title">Recent Transactions</h2>
        </a>
      </li>
      <li tabindex="0" role="tab" (click)="tab = 2" (keyup.enter)="tab = 2">
        <a>
          <h2 class="title">Withdrawal Requests</h2>
        </a>
      </li>
    </ul>

    <mat-menu #dateRange="matMenu">
      <div mat-menu-item style="background: white; padding: 1.4rem; border-radius: 5px; margin-right: 1rem;">

        <date-range-picker (onApplyDateRange)="applyDateRange($event)" />
      </div>
    </mat-menu>
    <div class="uk-flex filters">

      <div class="filter">
        <select class="capitalize" [(ngModel)]="dateType" (change)="applyFilter()">
          <option [selected]="true" value="" class="capitalize">
            Sort by
          </option>

          <option value="all" class="capitalize">
            all
          </option>
          <option value="month" class="capitalize">
            month

          </option>
          <option value="week" class="capitalize">
            week
          </option>
          <option class="capitalize" value="today">
            today
          </option>


        </select>
        <button mat-button style="background-color: #000000; color: white;" [matMenuTriggerFor]="dateRange"
          value="custom" class="capitalize">
          custom
        </button>
      </div>
    </div>
  </div>

  <div class="card-container card-container-md hide-for-mobile uk-card uk-card-default uk-card-body">
    <table *ngIf="tab == 1 && transactionsList?.items.length > 0" style="width: 100% !important">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Type</th>
          <th>Category</th>
          <th>Status</th>
        </tr>
      </thead>
      <div *ngIf="loadingTransactions">
        <span class="loader" uk-spinner="ratio: 1"> </span>
      </div>

      <tbody>
        <tr *ngFor="let item of transactionsList?.items">
          <td>{{ item.id }}</td>
          <td>₦{{ item.amount }}</td>
          <td>
            <p>{{ formatDate(item?.createdAt) }}</p>
            <p>{{ formatTime(item?.createdAt) }}</p>
          </td>
          <td>{{ item.transactionTypeEnum }}</td>
          <td>{{ item.transactionCategory }}</td>
          <td>{{ item.withdrawalRequests?.status }}</td>
        </tr>
      </tbody>


    </table>
    <div class="items-not-found" *ngIf="!loadingTransactions && tab ==1 && transactionsList?.items.length <= 0">
      No transaction found.
    </div>
    <div *ngIf="tab === 2">
      <table *ngIf="
          tab === 2 && withdrawalRequests?.items.length > 0;
          else noRequest
        ">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <div *ngIf="loadingRequests">
          <span class="loader" uk-spinner="ratio: 1"> </span>
        </div>
        <tbody>
          <tr *ngFor="let item of withdrawalRequests?.items">
            <td>{{ item.id }}</td>
            <td>₦{{ item.amount }}</td>
            <td>
              <p>{{ formatDate(item?.createdAt) }}</p>
              <p>{{ formatTime(item?.createdAt) }}</p>
            </td>
            <td>{{ item.status }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #noRequest>
        <div>No withdrawal requests</div>
      </ng-template>
    </div>
  </div>

  <div class="card-container-sm" *ngIf="tab === 1">
    <div class="card-container" *ngIf="loadingTransactions">
      <span class="loader" uk-spinner="ratio: 1"> </span>
    </div>

    <div *ngIf="!loadingTransactions">
      <div class="relative card-container uk-flex uk-flex-between uk-card uk-card-default uk-card-body"
        *ngFor="let item of transactionsList?.items">
        <div>
          <p class="transaction-hash">
            Transaction ID: <span>{{ item.id }}</span>
          </p>
          <h3 class="transaction-title">{{ item.transactionCategory }}</h3>
          <p class="transaction-type">{{ item.transactionTypeEnum }}</p>
          <p class="transaction-date">
            {{ formatDate(item?.createdAt) }},
            <small>{{ formatTime(item?.createdAt) }}</small>
          </p>
        </div>
        <div class="h-full uk-flex uk-flex-column uk-flex-between">
          <p class="transaction-status">
            {{ item.withdrawalRequests?.status }}
          </p>
          <p class="transaction-amount">₦{{ item.amount }}</p>
        </div>
      </div>
    </div>
    <div class="items-not-found" *ngIf="!loadingTransactions && tab==1 && transactionsList?.items.length <= 0">
      No transaction found.
    </div>
  </div>

  <div class="card-container-sm" *ngIf="tab === 2">
    <div class="card-container" *ngIf="loadingRequests">
      <span class="loader" uk-spinner="ratio: 1"> </span>
    </div>

    <div *ngIf="!loadingRequests">
      <div class="relative card-container uk-flex uk-flex-between uk-card uk-card-default uk-card-body"
        *ngFor="let item of withdrawalRequests?.items">
        <div>
          <p class="transaction-hash">
            Transaction ID: <span>{{ item.id }}</span>
          </p>

          <p class="transaction-date">
            {{ formatDate(item?.createdAt) }},
            <small>{{ formatTime(item?.createdAt) }}</small>
          </p>
        </div>
        <div class="h-full uk-flex uk-flex-column uk-flex-between">
          <p class="transaction-status">{{ item.status }}</p>
          <p class="transaction-amount">₦{{ item.amount }}</p>
        </div>
      </div>
    </div>
    <div class="items-not-found" *ngIf="!loadingRequests && tab==2 && withdrawalRequests?.items.length <= 0">
      No withdrawal request found.
    </div>
  </div>
</div>