@import "../../../../mixins";

.h-full {
  height: 100%;
}

.h-fit {
  height: fit-content;
}

// .h-48 {
//     height: 12rem;
// }
.uk-tab {
  margin: 0 !important;

  ul {
    margin: 0;
  }
}

.filter-container{
  position: relative;
}

.items-not-found{
  width: 100%;
  min-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:  center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem auto;
  padding: 1rem 0;
}

.disabled{
 background: rgba(0, 0, 0, 0.5);
}


.verification-alert{
  width: 500px;
  max-width: 95vw;
  position: fixed;
  top: 0;
  left: 35%;
  margin: 0 auto;
  z-index: 1500;
}

  @media screen and (max-width: 640px){
    .verification-alert{
      width: 95vw;
      left: 2%;
    }
  }




.tabs {
  @include breakpoint-down(small) {
    width: 70%;
    display: flex;

    li {
      flex: 1;
    }

    .title {
      word-wrap: break-word;
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
}
.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.sub-section {
  margin-top: 2rem;
  margin-bottom: 5rem;
  gap: 1.5rem;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;

  @include breakpoint-down(small) {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
}

.button {
  border-radius: 8px;
  width: 12.75rem;
  line-height: 1rem;
  max-height: 3.3rem;
  text-transform: capitalize;
  padding: 0.8rem 1rem;

  @include breakpoint-down(small) {
    // width: 100%;
    width: 8rem;
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }

  &.uk-button-default {
    border-color: #222;
  }
}

.action-section {
  gap: 1.5rem;

  @include breakpoint-down(small) {
    gap: 0.5rem;
  }

  small {
    color: #979797;
    font-weight: 300;

    @include breakpoint-down(small) {
      font-size: 0.4rem;
    }
  }

  .card-container {
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #dadada;
    border-radius: 8px;

    @include breakpoint-down(small) {
      gap: 0.4rem;
    }
  }

  .card-img {
    width: 52px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    @include breakpoint-down(small) {
      width: 2rem;
      height: 1.5rem;

      img {
        scale: 0.7;
      }
    }

    &.send {
      background-color: #6c6ce41a;
    }

    &.money {
      background-color: #ffb55e33;
    }

    &.wifi {
      background-color: #fccf001a;
    }
  }

  .action-text {
    font-size: 1rem;
    color: #243853;
    font-weight: 300;

    @include breakpoint-down(small) {
      font-size: 0.75rem;
    }
  }
}

.transactions-section {
  margin-top: 20px;

  .title {
    font-weight: 400;
    color: #243853;
    margin: 0;

    @include breakpoint-down(small) {
      font-size: 0.7rem;
    }
  }

  .filters {
    gap: 1rem;

    @include breakpoint-down(small) {
      .sort {
        display: none !important;
      }
    }

    div {
      background-color: #f2f2f2;
      border: 1px solid #b7becd;
      border-radius: 4px;
      display: flex;
      align-items: center;

      @include breakpoint-down(small) {
        height: 2.8rem;
      }

      select {
        padding: 10px 18px;
        height: fit-content;
        border-right: 16px solid #f2f2f2;
        border-color: #f2f2f2;
        background-color: transparent;
        margin: 0;
        cursor: pointer;
        color: #072755;
        font-size: 18px;
        outline: none;

        @include breakpoint-down(small) {
          font-size: 0.8rem;
          padding: 6px 18px;
        }
      }
    }
  }

  .card-container {
    min-height: 6rem;
    width: 100%;
    display: flex;
    margin-top: 0.75rem;
    border-radius: 0.5rem;

    &-md {
      @include breakpoint-down(small) {
        display: none;
      }
    }

    &-sm {
      display: none;

      @include breakpoint-down(small) {
        display: block;

        .card-container {
          align-items: flex-start;
        }
      }
    }

    table {
      border-spacing: 0 0.5rem;
      width: 100%;
      border-collapse: separate;

      thead {
        tr {
          th {
            font-size: 1rem;
            padding: 0.875rem 1.25rem;
            color: #979797;
            min-width: 8rem;
            margin-right: 1rem;
          }
        }
      }

      tbody {
        tr {
          margin-top: 10px;
          background: #faf9f9;

          td {
            font-weight: 400;
            padding: 0.875rem 1.25rem;
            color: #333;
            margin-right: 1rem;
            min-width: 8rem;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

.transaction {
  &-hash {
    font-size: 0.75rem;
    span {
      font-weight: 600;
    }
  }

  &-title {
    margin: 0;
    font-size: 1rem;
  }

  &-type {
    font-size: 0.5rem;
    font-weight: 300;
  }

  &-date {
    font-size: 0.75rem;
  }

  &-amount {
    margin-top: 0.6rem !important;
  }
}

#recent-transactions {
  margin-top: 20px;
  border-radius: 4px;
  outline: none;
  padding: 0.8rem 1.5rem;
  box-shadow: none;
  color: white;
  background-color: #000;
  align-self: flex-end;
  width: auto;
  height: 45px;
}
