<div class="uk-card uk-card-default uk-card-body uk-margin-small">
    <h1>Orders</h1>
    <ul class="uk-tab-bottom" data-uk-tab="media: @s">
      <li class="uk-active"><a (click)="filter(filterType.Paid)">Paid</a></li>
      <li><a (click)="filter(filterType.Confirmed)">Confirmed</a></li>
      <li><a (click)="filter(filterType.Canceled)">Canceled</a></li>
      <li><a (click)="filter(filterType.Refunded)">Refunded</a></li>
      <li><a (click)="filter(filterType.Deliver)">Deliver</a></li>
      <li><a (click)="filter(filterType.InTransit)">InTransit</a></li>
      <li><a (click)="filter(filterType.Pending)">Pending</a></li>
    </ul>
    <div>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small uk-table-responsive uk-table-divider uk-table-divider">
          <thead>
            <tr>
              <th>invoiceNo</th>
              <th>date</th>
              <th>customer</th>
              <th>items</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tbody *ngIf="orderList">
            <tr *ngFor="let invoice of orderList | paginate: { itemsPerPage: maximumItem, currentPage: pageNumber, totalItems:totalItemCount}">
              <td>#{{ invoice.id }}</td>
              <td>{{ formatDate(invoice.createdOn) }}</td>
              <td *ngIf="invoice.user$ | async as user">
                {{ user.data.firstName + " " + user.data.lastName }}
              </td>
              <td>
                <span class="uk-badge backgound-dark-green">{{invoice.orders.length}}</span>
                <span> NGN {{orderService.getPrice(invoice.orders)}} </span>
              </td>
              <td>
                <button [routerLink]="['detail', invoice.id,invoice.userId]"
                  class="uk-button uk-button-small">
                  view
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="uk-flex uk-flex-center">
            <pagination-controls (pageChange)="fetchCurrentOrders($event)"></pagination-controls>
        </div>
      </div>
    </div>
</div>