<div class="uk-container">
  <section id="banner">
    <img
      src="assets/img/Storefront-frame.png"
      alt="Storefront"
      width="1248"
      height="300"
    />
  </section>

  <section id="hero">
    <div class="hero-section">
      <img
        class="circle-storefront"
        src="assets/img/circle-storefront.jpg"
        alt=""
      />

      <div class="hero-text">
        <h2>WinMall Store</h2>
        <div class="store-location">
          <img src="assets/svg/map-pin.svg" alt="" />
          Lagos, Nigeria
        </div>
        <div class="store-link">
          www.winmall.renastore
          <img src="assets/svg/copy.svg" alt="" />
        </div>
        <div class="store-ratings">
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star.svg" alt="" />
          <img class="rating" src="assets/svg/star-background.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
