<router-outlet></router-outlet>
<app-login-pop-up-modal></app-login-pop-up-modal>
<ngx-ui-loader
  [loaderId]="'loader-01'"
  text="loading please wait ... "
></ngx-ui-loader>

<div id="prompt-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Install Renamarket app on your device</h2>
    <div class="btns">
      <button class="uk-modal-close" type="button" (click)="onPromptInstall()">
        Install
      </button>
      <button class="uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
