.btn {
  background-color: #000000;
  font-family: inherit;
  padding: 1rem 1.7rem;
  font-weight: 500;
  font-size: 0.89rem;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.btn.disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #fafafa;
}
