.btn {
  background-color: #000000;
  font-family: inherit;
  padding: 1rem 1.7rem;
  font-weight: 500;
  font-size: 0.89rem;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.btn.disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #fafafa;
}


.alert-container{
    margin: auto;
    width: 50%;
}

@media (max-width: 769px) {
.alert-container{
    width: 70%;
}
}

@media (max-width: 500) {
.alert-container{
    width: 100%;
}
}