<div class="footer">
  <div class="default-width">
    <div class="content">
        <div class="footer-logo">
          <a class="uk-navbar-item uk-logo" href="#"
          ><img
          src="../../../../assets/image/quality-logo.svg"
          alt="RENA MARKET"
          width="120"
        /></a>
        <div class="footer-logoIcon-desktop">
          <a href="https://www.facebook.com/renamarkets" target=”_blank”> <img
            src="../../../../assets/image/facebook.svg"
            alt=""
          /></a>
          <a  href="http://twitter.com/renamarket247" target=”_blank”>
          <img
            src="../../../../assets/image/twitter.svg"
            alt=""
          /></a>
          <a href="https://instagram.com/renamarket247?igshid=YmMyMTA2M2Y=" target=”_blank”>
          <img
            src="../../../../assets/image/instagram.svg"
            alt=""
          /></a>
          <a href="https://www.linkedin.com/company/renamarket/" target=”_blank”>
          <img
            src="../../../../assets/image/linkedin.svg"
            alt=""
          /></a>
        </div>
        </div>
      <div class="about-us">
        <div>
          <div>
            <p class="footer-head">COMPANY</p>
          </div>
          <div class="footer-body">
            <p><a [routerLink]="['/about']">About Us</a></p>
            <p><a [routerLink]="['/benefits']">Benefits</a></p>
            <p><a [routerLink]="['/offersDiscounts']">Offers and Discounts</a></p>
            <p><a [routerLink]="['/accounts']">Accounts</a></p>
          </div>
         
        </div>
        <div>
          <div>
            <p class="footer-head">CUSTOMER SERVICES</p>
          </div>
          <div class="footer-body">
            <p><a [routerLink]="['/helpCenter']">Help Centers</a></p>
            <p><a [routerLink]="['/faqs']">FAQs</a></p>
            <p><a [routerLink]="['/contact']">Contact Us</a></p>
          </div>
         
        </div>
        <div>
          <div>
            <p class="footer-head">ABOUT</p>
          </div>
          <div class="footer-body">
            <p><a [routerLink]="['/landing']">About Us</a></p>
            <p><a [routerLink]="['/careers']">Careers</a></p>
            <p><a [routerLink]="['/investors']">Investors Relations</a></p>
            <p><a [routerLink]="['/csr']">CSR</a></p>
          </div>
        </div>
      </div>

      <div class="footer-logoIcon">
       <a href="https://www.facebook.com/renamarkets" target=”_blank”> <img
          src="../../../../assets/image/facebook.svg"
          alt=""
        /></a>
        <a  href="http://twitter.com/renamarket247" target=”_blank”>
        <img
          src="../../../../assets/image/twitter.svg"
          alt=""
        /></a>
        <a href="https://instagram.com/renamarket247?igshid=YmMyMTA2M2Y=" target=”_blank”>
        <img
          src="../../../../assets/image/instagram.svg"
          alt=""
        /></a>
        <!-- <img
          src="../../../../assets/image/youtube.svg"
          alt=""
        /> -->
        <a href="https://www.linkedin.com/company/renamarket/" target=”_blank”>
        <img
          src="../../../../assets/image/linkedin.svg"
          alt=""
        /></a>
      </div>

    </div>
  </div>
</div>
