<div class="dashboard-container">
    <div class="first-div-container uk-flex uk-flex-between	">
        <div class="alert-div">
            <img class="alert-img" src="../../../../assets/image/alert-icon.png" alt="">
            <span class="alert-text">Your verification was successful</span>
        </div>
        <div>
            <button class='addProduct-btn uk-button uk-button-secondary uk-button-small'>Add Product</button>
        </div>
    </div>

    <div class="cards-div uk-flex uk-flex-between">
        <div class="firstCard-container uk-flex uk-card uk-card-default uk-card-body">
            <div class="firstCard-img">
                <img src="../../../../assets/image/Frame 51514 (1).svg" alt="">
            </div>
            <div>
                <p class="firstCard-num">2</p>
                <div class="firstCard-text">New Orders</div>
            </div>
        </div>
        <div class="firstCard-container uk-flex uk-card uk-card-default uk-card-body">
            <div class="firstCard-img">
                <img src="../../../../assets/image/Frame 51514 (2).svg" alt="">
            </div>
            <div>
                <p class="firstCard-num">47</p>
                <div class="firstCard-text">Products</div>
            </div>
        </div>
        <div class="firstCard-container uk-flex uk-card uk-card-default uk-card-body">
            <div class="firstCard-img">
                <img src="../../../../assets/image/Frame 51514 (3).svg" alt="">
            </div>
            <div>
                <p class="firstCard-num">₦570,000</p>
                <div class="firstCard-text">Total sales</div>
            </div>
        </div>
        <div class="firstCard-container uk-flex uk-card uk-card-default uk-card-body">
            <div class="firstCard-img">
                <img src="../../../../assets/image/Frame 51514 (4).svg" alt="">
            </div>
            <div>
                <p class="firstCard-num">27</p>
                <div class="firstCard-text">Total orders</div>
            </div>
        </div>
    </div>

    <h5>Most selling products</h5>

    <table class="table-container uk-table">
        <thead>
            <tr class="table-head-data">
                <div class="table-header">
                    <th>&nbsp;</th>
                    <th>Product</th>
                    <th>Cost</th>
                    <th>Unit</th>
                    <th>&nbsp;</th>
                </div>
            </tr>
        </thead>
        <tbody>
            <tr>
                <div class="productWrapper">
                    <div class="productThumbnail">
                        <img src="../../../../assets/image/Rectangle 703.svg" alt="">
                    </div>
                    <div class="productDetails">
                        <div class="productDesc">
                            <p class="table-data-desc">Men’s Sneakers</p>
                            <p class="table-data-unit">20 units left</p>
                        </div>
                        <div class="totalAmt">
                            <p>₦50,000</p>
                        </div>
                        <div class="unitSold">
                            <p>10 units sold</p>
                        </div>
                        <div class="edit-detail">
                            <span>Edit Details</span>
                            <img src="../../../../assets/image/right-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="productWrapper">
                    <div class="productThumbnail">
                        <img src="../../../../assets/image/Rectangle 704.svg" alt="">
                    </div>
                    <div class="productDetails">
                        <div class="productDesc">
                            <p class="table-data-desc">Laptop</p>
                            <p class="table-data-unit">7 units left</p>
                        </div>
                        <div class="totalAmt">
                            <p>₦170,000</p>
                        </div>
                        <div class="unitSold">
                            <p>8 units sold</p>
                        </div>
                        <div class="edit-detail">
                            <span>Edit Details</span>
                            <img src="../../../../assets/image/right-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="productWrapper">
                    <div class="productThumbnail">
                        <img src="../../../../assets/image/Rectangle 705.svg" alt="">
                    </div>
                    <div class="productDetails">
                        <div class="productDesc">
                            <p class="table-data-desc">Women's bag</p>
                            <p class="table-data-unit">39 units left</p>
                        </div>
                        <div class="totalAmt">
                            <p>₦9,000</p>
                        </div>
                        <div class="unitSold">
                            <p>20 units sold</p>
                        </div>
                        <div class="edit-detail">
                            <span>Edit Details</span>
                            <img src="../../../../assets/image/right-arrow.png" alt="">
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>

</div>