    .d-flex {
    display: flex;
  }
  
  .error-sec {
    text-align: left;
    color: red;
    margin: -16px 0 12px;
  }
  
  .login-btn1:disabled {
    opacity: 0.5;
  }
  
  .login-back-btn a {
    color: #333333;
  }

  .login-form {

    .signup-route {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      a {
        color: #000000;
        font-weight: 700;
      }
    }
  }
  
  .login-form .mat-input-element {
    color: #000;

  }
  
  .login-back {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
  }
  
  a {
    color: #243853;
  }
  
  .fw-500 {
    font-weight: 700;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .login-back img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .login-form-header {
    text-align: center;
    margin-top: 3rem;
  }
  
  .login-form-header h2 {
    font-weight: 600;
    font-size: 2rem;
  }
  
  .login-form-header p {
    font-size: 1rem;
  }
  
  form {
    margin: 2rem auto;
  }
  
  .open-market-sm {
    display: none;
  }
  
  .login-form-section mat-form-field {
    width: 100%;
  }
  
  .login-forgot {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #243853;
    width: fit-content;
    cursor: pointer;
  }
  
  .login-btn1 {
    margin: 20px 0px 0px 0px;
    height: 54px;
    padding: 10px;
    padding-bottom: 10px;
    background: #000000;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
  
    &:hover {
      background: #01000ab2;
      color: #fff;
    }
  }
  
  #login-or {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 0 auto;
    width: 100%;
  }
  
  .login-hr1 {
    color: #000;
    height: 1px;
    background-color: #000;
  }
  
  .login-hr2 {
    color: #000;
    height: 1px;
    background-color: #000;
  }
  
  .login-or {
    margin-top: -11px;
    text-align: center;
  }
  
  #login-btn {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem auto;
  }
  
  .login-btn2 {
    display: flex;
    margin: 10px 0;
    width: 140px;
    padding: 2px;
  
    background: #fff;
    border-radius: 6px;
    text-align: center;
  }
  
  .login-img-1 {
    padding-right: 20px;
    width: 124px;
  }
  
  .login-tiltle {
    font-weight: 750;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  
  .login-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-align: center;
  }
  
  .ds-md {
    display: none;
  }
  
  @media only screen and (max-width: 769px) {
    .w-9 {
      width: 90px;
    }
  
    .login-tiltle {
      font-weight: 750;
      font-size: 21.7525px;
      line-height: 26px;
      text-align: center;
      color: #333333;
    }
  
    .login-subtitle {
      font-weight: 400;
      font-size: 13.5953px;
      line-height: 16px;
      text-align: center;
      color: #333333;
    }
  
    .ds-md {
      display: block;
    }
  
    .login-form-header h2 {
      color: #f2f2f2;
    }
  
    .login-form-header p {
      color: #f2f2f2;
    }
  
    .login-form {
      max-width: 390px;
      margin: 1rem auto;
      border-radius: 6px;
      padding: 1rem 2rem;

      .signup-route {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        a {
          color: #000000;
        }
      }
    }
  
    .login-back-btn {
      display: block;
      padding: 0 2rem;
    }
  
    form,
    .login-form-section mat-form-field,
    .login-btn1,
    #login-or,
    #login-btn {
      width: 100%;
    }
  
    .open-market-sm {
      display: block;
      text-align: center;
      font-weight: 800;
      font-size: 2rem;
      margin-top: 1rem;
    }
  
    .open-market-lg {
      display: none;
    }
  
    #login-btn {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }
  }
  