.socialModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 2rem 1rem;
    gap: 2rem;
    width: 100%;

    .btnGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;

        .google-btn, .facebook-btn, .email-btn {
            width: 100%;
        }
        .google-btn {
            display: flex;
            justify-content: center;
        }

        button {
            text-transform: none
        };
        .googleDiv {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: black;
        };
    .facebook-btn, .email-btn {
            padding: 0.25rem;

            img {
                width: 2.5rem;
            }
        }
      
    }
}