<div class="socialModalContainer">
  <div>
    Use any of these your accounts to login
  </div>

  <div class="btnGroup">
    <div class="google-btn" >
      <button class="googleDiv">
        <div id="buttonDiv" class=""></div>
      </button>
    </div>

    <button class="uk-button col-12 facebook-btn" (click)="facebookLogin()">
      <img src="../../../../assets/images/logos_facebook.svg" alt="" class="facebookIcon" /> Continue with Facebook
    </button>

    <button (click)="toggleLoginModal()" class="uk-button col-12 email-btn">
      <!-- <img src="../../../../assets/images/logos_google-gmail.svg" alt=""> -->
      Continue with Email
    </button>
  </div>
</div>