<div class="uk-section uk-section-default">
  <div class="uk-center">
    <div class="uk-text-center">
      <img class="uk-img" width="300px" src="./assets/svg/auth.svg" />
    </div>
    <div class="uk-margin-left uk-margin-right">
      <div class="uk-margin-left uk-margin-right">
        <div
          class="uk-text-center"
          [class]="{ 'uk-alert-success': success, 'uk-alert-danger': !success }"
          *ngIf="isSubmited"
          uk-alert
        >
          <a class="uk-alert-close" uk-close></a>
          <p>{{ message }}</p>
        </div>
      </div>
      <div
        class="uk-width-medium@s uk-card uk-border-rounded uk-card-default backgound-light-transparent uk-margin-auto uk-width-1-2@m"
      >
        <div class="uk-padding-small">
          <!-- <img src="./assets/images/lock.png" class="uk-align-center" alt="" width="50" height="50">    -->
          <h1 class="uk-text-center">Reset Password</h1>
          <p>{{ message }}</p>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="uk-margin">
              <span *ngIf="f.password.touched && f.password.invalid">
                <span class="uk-text-warning" *ngIf="f.password.errors.required"
                  >Password is required.</span
                >
                <span
                  class="uk-text-warning"
                  *ngIf="f.password.value.length < 6"
                >
                  Password should be at least 6 charaters <br
                /></span>
              </span>
              <mat-form-field class="uk-width-expand">
                <mat-label>Enter New Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  id="form-stacked-text"
                  type="password"
                  placeholder="Enter password"
                  required
                />
              </mat-form-field>
            </div>

            <div class="uk-margin">
              <span
                *ngIf="f.confirm_password.touched && f.confirm_password.invalid"
              >
                <span
                  class="uk-text-warning"
                  *ngIf="f.confirm_password.errors.required"
                  >Confirm Password is required.</span
                >
                <span
                  class="uk-text-warning"
                  *ngIf="f.confirm_password.errors.confirmedValidator"
                  >Password and Confirm Password must be match.</span
                >
              </span>
              <mat-form-field class="uk-width-expand">
                <mat-label>Confirm New Password</mat-label>
                <input
                  matInput
                  formControlName="confirm_password"
                  id="form-stacked-password"
                  type="password"
                  placeholder="Confirm password"
                  required
                />
              </mat-form-field>
            </div>

            <div class="uk-margin">
              <div class="uk-text-center">
                <button
                  class="btn-default"
                  color="primary"
                  type="submit"
                  [disabled]="!form.valid"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
