<div class="fetch-loader" *ngIf="isFetching">
  <app-loading-spinner
    [borderStyle]="'5px solid #000'"
    [size]="'40px'"
  ></app-loading-spinner>
</div>
<div class="seller-kyc-container" *ngIf="!isFetching">
  <div class="seller-kyc-main">
    <div class="seller-kyc-main-heading">Current Status</div>

    <div class="seller-kyc-main-status-container">
      <div class="seller-kyc-main-status">
        <div class="status" id="verified">
          <span [ngSwitch]="user.sellerApprovalStatus.toLowerCase()">
            <span *ngSwitchCase="'pending'" class="pending"
              >Currently reviewing your account</span
            >
            <span *ngSwitchCase="'failed'" class="not_verified"
              >Failed registration
              <div style="color: #000; margin-top: 5px">
                Reason: {{ user.rejectionReason }}
              </div></span
            >
            <span *ngSwitchCase="'approved'" class="verified"
              >Your account has been approved</span
            ><span *ngSwitchCase="'failedkyc'" class="not_verified"
              >Failed KYC</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="verification-btn"
    *ngIf="
      user.sellerApprovalStatus.toLowerCase() !== 'approved' ||
      !user.isKycVerified
    "
  >
    <button (click)="onVerify()">
      <span [ngSwitch]="user.sellerApprovalStatus.toLowerCase()">
        <span *ngSwitchCase="'failed'">Retry</span>
        <span *ngSwitchCase="'failedkyc'">Retry KYC</span>
        <span *ngSwitchDefault>Complete KYC</span>
      </span>
    </button>
  </div>
</div>

<div></div>
