@import "config";

.seller-kyc-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.seller-kyc-main {
  border: 1px solid $border-line-color;
  width: 320px;
  border-radius: 19px;

  &-heading {
    padding: 15px 0;
    padding-left: 20px;
    border-bottom: 1px solid $border-line-color;
  }

  &-status-container {
    padding: 25px 0;
    padding-left: 20px;

    & .seller-kyc-main-status {
      display: flex;
      align-items: center;

      & .status {
        font-size: 20px;
        margin-left: 5px;

        &#verified {
          color: $green;
        }

        &#unverified {
          color: $red;
        }
      }
    }
  }
}

.verification-btn {
  & button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background: $black;
    color: $white;
    white-space: nowrap;
  }
}
