<div class="uk-container">
  <div
    class="uk-margin uk-padding uk-padding-top-remove uk-card uk-card-default"
  >
    <form [formGroup]="profileForm" (ngSubmit)="update()">
      <div class="uk-alert uk-alert-danger" *ngIf="errors.length > 0">
        <p *ngFor="let error of errors">{{ error }}</p>
      </div>
      <div>
        <span
          *ngIf="
            f.currentPassword.invalid &&
            (f.currentPassword.dirty || f.currentPassword.touched)
          "
        >
          <span
            class="uk-text-warning"
            *ngIf="f.currentPassword.errors.required"
          >
            Password required <br
          /></span>
          <span
            class="uk-text-warning"
            *ngIf="f.currentPassword.value.length < 6"
          >
            Password should be at least 6 charaters <br
          /></span>
        </span>

        <mat-form-field class="uk-width-expand">
          <mat-label>Current Password</mat-label>
          <input
            type="password"
            minlength="6"
            formControlName="currentPassword"
            matInput
            placeholder="Current Password"
            required
          />
        </mat-form-field>

        <span
          *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
        >
          <span class="uk-text-warning" *ngIf="f.password.errors.required">
            Password required <br
          /></span>
          <span class="uk-text-warning" *ngIf="f.password.value.length < 6">
            Password should be at least 6 charaters <br
          /></span>
        </span>

        <mat-form-field class="uk-width-expand">
          <mat-label>Password</mat-label>
          <input
            type="password"
            minlength="6"
            formControlName="password"
            matInput
            placeholder="Password"
            required
          />
        </mat-form-field>

        <span
          *ngIf="
            f.confirmPassword.invalid &&
            (f.confirmPassword.dirty || f.confirmPassword.touched)
          "
        >
          <span
            class="uk-text-warning"
            *ngIf="f.confirmPassword.errors.required"
          >
            Confirm Password required <br
          /></span>
          <span
            class="uk-text-warning"
            *ngIf="f.confirmPassword.errors.mustMatch"
          >
            Confirm Password must match <br
          /></span>
        </span>

        <mat-form-field class="uk-width-expand">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            formControlName="confirmPassword"
            matInput
            placeholder="Confirm password"
            required
          />
        </mat-form-field>
      </div>

      <div class="uk-text-center">
        <button
          [disabled]="profileForm.invalid"
          type="submit"
          class="uk-button uk-button-primary"
        >
          <img *ngIf="isSubmited" width="30" src="assets/svg/loader-icon.svg" />
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
