<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <img src="../../../../assets/image/Frame 51514 (1).svg" alt="">
          </div>

          <div>
            <h1 class="mb-0">20</h1>
            <p class="mb-0">New Orders</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <img src="../../../../assets/image/Frame 51514 (1).svg" alt="">
          </div>

          <div>
            <h1 class="mb-0">60</h1>
            <p class="mb-0">Total Orders</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <img src="../../../../assets/image/Frame 51514 (1).svg" alt="">
          </div>

          <div>
            <h1 class="mb-0">34</h1>
            <p class="mb-0">Successful orders</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <img src="../../../../assets/image/Frame 51514 (1).svg" alt="">
          </div>

          <div>
            <h1 class="mb-0">6</h1>
            <p class="mb-0">Rejected Orders</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
