.contact-us {
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  padding: 20px;
}

.contact-us-main {
  display: flex;
  align-items: center;
  height: 100%;
}

.contact-us-left {
  flex-basis: 40%;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  padding: 30px 30px;
  margin-right: 20px;
  height: 100%;

  & .contact-us-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  & .contact-us-copy {
    color: #c9c9c9;
    font-size: 12px;
    line-height: 1.3;
  }

  & .contact-us-infos {
    margin-top: 50px;

    & .contact-us-info {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      & p {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.contact-us-right {
  width: 100%;
  & form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & .main-inputs {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  & .input-group {
    &.message-group {
      margin-top: 40px;
    }
    & label {
      display: block;
      color: #8d8d8d;
      font-size: 12px;

      &.invalid {
        color: rgb(248, 29, 29);
      }
    }

    & input {
      &:focus {
        outline: none;
      }

      width: 100%;
      border: none;
      border-bottom: 1px solid #8d8d8d;

      &.invalid {
        border-bottom: 1px solid rgb(248, 29, 29);

        &::placeholder {
          color: rgb(248, 29, 29);
        }
      }
    }

    & .subject-input {
      position: relative;
      display: block;
      width: 100%;

      & input {
        cursor: pointer;
      }

      & i {
        position: absolute;
        right: 5px;
        color: #8d8d8d;
        bottom: 5px;
      }
    }
  }

  & button {
    width: 200px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    height: 54px;
    margin-top: 30px;
    align-self: flex-end;
  }
}

.subjects {
  padding: 15px;

  & .subject-group {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {
  .contact-us-main {
    flex-direction: column;
  }

  .contact-us-left {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .contact-us-right {
    width: 100%;

    & button {
      width: 100%;
      align-self: center;
    }
  }
}

.container-wrapper {
  background-color: #fff;
}

.display-center {
  display: flex;
  justify-content: center;
}

.justify-cont-btw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-between;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
  height: 100px;
}

.flex-dir {
  flex-direction: row !important;
}

.d-flex {
  display: flex;
}

.lnd-page-pad {
  padding: 1.5rem 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.mr-1 {
  margin-right: 1.5rem;
}

.mt-2 {
  margin-top: 2.5rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.nav-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.block-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 35px;
  color: #ffffff;
  background: #000000;
  // border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
}

.features-main {
  // display: grid;
  // grid-gap: 20px;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.small-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 282.93px;

  &:hover {
    box-shadow: 0px 56.2299px 64.2628px rgba(222, 222, 222, 0.4);
  }
}

.small-box-heading {
  font-weight: 700;
  font-size: 17.8955px;
  line-height: 21px;
  color: #000000;
}

.small-box-subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.small-box-image {
  width: 46.63px;
  height: 46.63px;
  margin-bottom: 10px;
}

.mainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
}

.two-sides-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;

  .two-sides-header {
    font-weight: 750;
    font-size: 49.1597px;
    line-height: 59px;
    text-align: left;
  }

  .two-sides-subtext {
    font-family: "Avenir LT Std";
    font-weight: 350;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

.boxers {
  margin: 1rem;
  padding: 3rem;
  width: 355px;
  background-color: white !important;
  // box-shadow: 0px 64.0541px 73.2046px rgba(222, 222, 222, 0.4);

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &:hover {
    box-shadow: 0px 56.2299px 64.2628px rgba(222, 222, 222, 0.4);
  }
}

.top-section {
  display: flex;
  letter-spacing: normal;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.top-text {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
}

.top-subtext {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.top-deco {
  background: linear-gradient(to right, #fab663 30%, #da47ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.waitList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-transform: none !important;
  cursor: pointer;
  color: #ffffff !important;

  &:hover {
    background: #ffffff;
    color: #000000 !important;
    border: 1px solid #000000;
  }
}

.waitList a {
  color: #fff;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.image-one {
  position: relative;
  object-fit: contain;
}

.image-two {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0%;
}

.image-three {
  position: absolute;
  bottom: -20%;
  left: 0%;
  width: 4rem;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-wrapper .features-heading {
  // font-size: 1.5rem;
  // line-height: 29px;
  text-align: center;
  // width: 75%;
  margin-top: 5rem;
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 49.1597px;
  line-height: 59px;
  color: #000000;
}

.rena-box-wrapper1 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.25rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.rena-box-wrapper2 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.25rem;
  gap: 1.5rem;
}

.rena-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  // box-shadow: 0px 64.0541px 73.2046px rgba(222, 222, 222, 0.4);
  justify-content: center;
  align-items: flex-start;
}

.join-comm {
  background: #fafafa;
  padding: 3rem;
}

.box-image {
  width: 3.5rem;
  height: 3.5rem;
}

.box-heading {
  font-family: "Avenir";
  font-size: 21.0684px;
  line-height: 29px;
  margin: 0rem;
  padding: 0rem;
  font-weight: 500 !important;
}

.box-text {
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-size: 15.8013px;
  line-height: 19px;
  margin: 0rem;
  padding: 0rem;
}

.image-group {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  padding: 1rem;
}

.image-group .left-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-group .right-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.bottom-heading {
  font-size: 1.5rem;
  font-family: "Avenir LT Std";
  color: #000000;
  font-weight: 750;
  margin-bottom: 1.5rem;
  padding: 0rem;
}

.bottom-text {
  font-family: "Avenir LT Std";
  font-size: 0.875rem;
  margin: 0rem;
  padding: 0rem;
}

.benefits {
  padding: 3rem 2rem 5rem 2rem;
  margin-bottom: 7rem;
}

.waitList_benefit_wrapper {
  background: #ffffff;
  padding: 1.25rem;
  margin: 0.5rem 0rem 2.5rem 0rem;
  border-radius: 0.25rem;
}

.referral_benefit_wrapper {
  background: #ffffff;
  padding: 1.25rem;
  margin: 0.5rem 0rem 2.5rem 0rem;
  border-radius: 0.25rem;
}

.benefit_heading {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000000;
  text-align: center;
}

.benefit_wrapper {
  border-radius: 0.32rem;
  display: flex;
  align-items: center;
}

.benefit_text {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  margin: 0rem;
  padding-left: 0.75rem;
}

.new-flex {
  display: flex;
  align-items: center;
  padding: 5rem;
  justify-content: center;
}

.new-flex-2 {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  justify-content: center;
}

.product-recommendation {
  display: flex;
  flex-wrap: wrap;
}

.bottom-text1 {
  font-family: "Avenir LT Std";
  font-size: 0.875rem;
  margin: 0rem 0rem 5rem 0rem;
  padding: 0rem;
}

.ouline-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 35px;
  color: #ffffff;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
}

.last-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  padding: 0rem 1rem;
}

.buttom-image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.buttom-image-one {
  position: relative;
  object-fit: contain;
  width: 80%;
}

.buttom-image-two {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0%;
}

.bottom-section .waitList-botton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  width: 75%;
  margin: 2rem 0rem 0rem 0rem;
}

.bottom-section .waitList-botton a {
  color: #fff;
}

.order-A {
  order: 1;
}

.order-B {
  order: 2;
}

.display-default {
  display: block;
}

.flex-col {
  flex-direction: initial;
}

a:hover {
  text-decoration: none !important;
}
.up-navBar {
  display: flex;
  justify-content: space-between;
}

.uk-offcanvas-close {
  margin-top: 1.5rem;
  margin-right: 1rem;
  color: black;
}
.uk-offcanvas-bar {
  background-color: #fff;
  width: 100%;
}

.ds-none {
  display: none;
}

.uk-button {
  padding: 0rem !important;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
.mobile-side-menu {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}
.mobile-side-menu li {
  padding: 0.4rem 0;
  margin: 1.5rem 0rem;
}
.mobile-side-menu li a {
  font-family: "Avenir LT Std";
  color: black;
}
.mobile-side-menu li a:hover {
  color: #584dcd;
}

.section-heading {
  font-family: "Avenir LT Std";
  font-size: 40px !important;
  font-weight: 750 !important;
}

@media only screen and (max-width: 767px) {
  .w-md-90 {
    width: 90px;
  }

  .w-50 {
    width: initial !important;
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
    height: 60px;
  }

  .mt-md-1 {
    margin-top: 1.4rem;
  }

  .pl-x-md-2 {
    padding: 0 2rem !important;
  }
  .display-default {
    display: none;
  }

  .order-A {
    order: 2;
  }

  .order-B {
    order: 1;
  }

  .top-segment {
    justify-content: start;
    margin-bottom: 4rem;
    padding: 0 3rem;
  }

  .top-section {
    gap: 0;
    width: 100%;
  }

  .new-flex,
  .new-flex-2 {
    display: block;
    padding: 1rem !important;
  }

  .features-wrapper .features-heading {
    font-weight: 750;
    font-size: 24px !important;
    line-height: 29px !important;
  }

  .features-subtext {
    font-weight: 350;
    font-size: 16px !important;
    line-height: 21px !important;
    padding: 0 3rem;
  }

  .boxers {
    padding: 0.5rem !important;
  }

  .benefit_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-left: 0.75rem;
  }

  .small-box-subtext {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 21px !important;
    text-align: center;
  }

  .lnd-page-pad {
    padding: 0 2rem;
  }

  .pl-6 {
    padding: 0 2rem !important;
  }

  .box-heading {
    font-weight: 500;
    font-size: 17px !important;
    line-height: 19px !important;
  }

  .box-text {
    font-weight: 350;
    font-size: 16px !important;
    line-height: 21px !important;
  }

  .two-sides-sec {
    display: flex;
    align-items: center;

    .two-sides-header {
      font-weight: 750;
      font-size: 24px;
      line-height: 29px;
      text-align: left;
    }

    .two-sides-subtext {
      font-family: "Avenir LT Std";
      font-weight: 350;
      font-size: 16px;
      line-height: 21px;
      text-align: left;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new-flex {
    padding: 1rem !important;

    .image-group {
      width: auto !important;
    }

    // display: flex !important;
    // justify-content: space-between !important;
    // img {
    //   width: 20px !important;
    // }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .new-flex {
    padding: 1rem !important;

    .image-group {
      width: auto !important;
    }

    // display: flex !important;
    // justify-content: space-between !important;
    // img {
    //   width: 20px !important;
    // }
  }
}

@media only screen and (min-width: 768px) {
  .top-text {
    text-align: justify;
    font-size: 2rem;
  }

  .waitList {
    padding: 0.5rem 1rem;
  }

  .image-three {
    bottom: -20%;
    left: 27%;
    width: 4rem;
  }

  .pl-md-2 {
    padding-left: 2rem !important;
  }

  .pr-md-2 {
    padding-right: 2rem !important;
  }

  .features-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .features-wrapper .features-heading {
    font-size: 1.5rem;
    width: 75%;
    margin-top: 5rem;
  }

  .features-subtext {
    font-weight: 350;
    font-size: 13.9556px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    // margin-top: 1.5rem;
  }

  .top-subtext {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .rena-box-wrapper1 {
    flex-direction: row;
    padding: 0rem 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .rena-box-wrapper2 {
    flex-direction: row;
    padding: 0rem 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .rena-box {
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .box-image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .image-group {
    gap: 1rem;
    flex-wrap: nowrap;
    margin-bottom: 0rem;
    padding: 1rem;
    width: 100%;
  }

  .image-group .left-group {
    flex-direction: column;
    gap: 1rem;
  }

  .image-group .right-group {
    flex-direction: column;
    gap: 1rem;
  }

  .bottom-heading {
    font-size: 1.5rem;
  }

  .bottom-text {
    font-size: 0.875rem;
  }

  .bottom-text1 {
    font-size: 0.875rem;
  }

  .last-section {
    gap: 2rem;
    flex-wrap: nowrap;
    margin-bottom: 5.5rem;
    padding: 0rem 1rem;
  }

  .benefits {
    // padding: 3rem 2rem 5rem 2rem;
    margin-bottom: 7rem;
  }

  .waitList_benefit_wrapper {
    padding: 1.25rem;
    margin: 0.5rem 0rem 2.5rem 0rem;
    border-radius: 0.25rem;
  }

  .referral_benefit_wrapper {
    padding: 1.25rem;
    margin: 0.5rem 0rem 2.5rem 0rem;
    border-radius: 0.25rem;
  }

  .benefit_heading {
    font-size: 0.9rem;
  }

  .benefit_wrapper {
    border-radius: 0.32rem;
  }

  .benefit_text {
    font-size: 0.625rem;
    margin: 0rem;
    padding-left: 0.75rem;
  }

  .product-recommendation {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0rem 1rem;
  }

  .bottom-section {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0rem;
    width: 47.5%;
  }

  .buttom-image-wrapper {
    width: 47.5%;
  }

  .buttom-image-one {
    position: relative;
    object-fit: contain;
    margin-left: 1rem;
  }

  .buttom-image-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0%;
  }

  .bottom-section .waitList-botton {
    padding: 0.5rem 1rem;
    width: 75%;
    margin: 1rem 1rem 3rem 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .two-sides-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .order-A {
    order: 2;
  }

  .order-B {
    order: 1;
  }

  .flex-col {
    flex-direction: column;
  }

  .ds-none {
    display: block;
  }

  .display-default {
    display: none;
  }

  .w-45 {
    width: 90%;
  }

  .w-50 {
    width: initial;
  }

  .pl-6 {
    padding: 0 5rem;
  }

  .top-text {
    text-align: left;
    font-size: 2rem;
    line-height: 1.25;
    width: 100%;
  }

  .waitList {
    padding: 0.5rem 1rem;
  }

  .image-wrapper {
    width: 50%;
  }

  .image-one {
    object-fit: cover;
    width: 65%;
    height: 100%;
  }

  .image-two {
    width: 100%;
  }

  .image-three {
    bottom: -60.6px;
    left: 0rem;
    width: 5rem;
  }

  .features-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .features-wrapper .features-heading {
    font-size: 2.5rem;
    width: 75%;
    margin-top: 5rem;
  }

  .rena-box-wrapper1 {
    flex-direction: row;
    padding: 0rem 2rem;
    gap: 1.5rem;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .rena-box-wrapper1 .box-heading {
    // font-size: 1.25rem;
  }

  .rena-box-wrapper1 .box-text {
    // font-size: 1rem;
  }

  .rena-box-wrapper2 {
    flex-direction: row;
    padding: 0rem 2rem;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    /* width: 100%; */
  }

  .rena-box-wrapper2 .rena-box {
    width: 21rem;
  }

  .rena-box {
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }

  .box-image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .box-heading {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .box-text {
    font-size: 1.25rem;
  }

  .image-group {
    gap: 1rem;
    flex-wrap: nowrap;
    margin-bottom: 0rem;
    padding: 1rem;
    width: 45%;
  }

  .image-group .left-group {
    flex-direction: column;
    gap: 1rem;
  }

  .image-group .right-group {
    flex-direction: column;
    gap: 1rem;
  }

  .bottom-heading {
    font-size: 2.5rem;
  }

  .bottom-text {
    font-size: 0.875rem;
  }

  .bottom-text1 {
    font-size: 0.875rem;
  }

  .last-section {
    gap: 2rem;
    flex-wrap: nowrap;
    margin-bottom: 5.5rem;
    padding: 0rem 3rem;
    width: 100%;
  }

  .benefits {
    display: flex;
    padding: 4rem 2rem 5rem 2rem;
    margin-bottom: 7rem;
    justify-content: center;
    flex-direction: column;
    // gap: 2.5rem;
  }

  .waitList_benefit_wrapper {
    padding: 1.25rem;
    margin: 0.5rem 0rem 2.5rem 0rem;
    border-radius: 0.25rem;
  }

  .referral_benefit_wrapper {
    padding: 1.25rem;
    margin: 0.5rem 0rem 2.5rem 0rem;
    border-radius: 0.25rem;
  }

  .benefit_heading {
    font-size: 0.9rem;
  }

  .benefit_wrapper {
    border-radius: 0.32rem;
  }

  .benefit_text {
    font-size: 1rem;
    margin: 0rem;
    padding-left: 0.75rem;
  }

  .product-recommendation {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 10rem;
    padding: 0rem 3rem;
    width: 100%;
  }

  .last-section .bottom-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    width: 50%;
    padding: 6rem 1rem 6rem 0rem;
    gap: 0rem;
  }

  .product-recommendation .bottom-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    width: 50%;
    padding: 0rem 1rem 0rem 0rem;
    gap: 1rem;
  }

  .bottom-heading {
    line-height: 1.25;
    font-size: 2.25rem;
  }

  .buttom-image-wrapper {
    width: 50%;
  }

  .product-recommendation .left-group,
  .product-recommendation .right-group {
    width: 48%;
  }

  .buttom-image-wrapper .right-group {
    margin-top: 1rem;
  }

  .buttom-image-one {
    object-fit: cover;
    width: 80%;
    height: 100%;
  }

  .buttom-image-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0%;
    width: 100%;
  }

  .bottom-section .waitList-botton {
    padding: 0.5rem 1rem;
    width: 50%;
    margin: 1rem 1rem 3rem 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .top-segment {
    justify-content: space-between;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    // padding: 0rem 3rem 3rem 3rem;
  }

  .top-section {
    justify-content: center;
    gap: 2.5rem;
    width: 50%;
    padding-right: 1rem;
  }

  .top-text {
    text-align: left;
    // font-size: 2.5rem;
    // line-height: 1.25;
    // width: 60%;
    font-weight: 750;
    font-size: 64px;
    line-height: 77px;
  }

  .top-section .box-text {
    width: 70%;
  }

  .waitList {
    padding: 0.5rem 1rem;
    width: 40%;
  }

  .image-wrapper {
    width: 50%;
  }

  .image-one {
    object-fit: cover;
    width: 65%;
    height: 100%;
  }

  .image-two {
    width: 100%;
  }

  .image-three {
    bottom: -100px;
    left: 1rem;
    width: 8rem;
  }

  .features-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .features-wrapper .features-heading {
    font-weight: 750;
    font-size: 49.1597px;
    line-height: 59px;
    margin-top: 5rem;
  }

  .rena-box-wrapper1 {
    flex-direction: row;
    padding: 0rem 2rem;
    gap: 1.5rem;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .rena-box-wrapper1 .box-heading {
    font-size: 1.5rem;
  }

  .rena-box-wrapper1 .box-text {
    font-size: 0.875rem;
  }

  .rena-box-wrapper2 {
    flex-direction: row;
    padding: 0rem 2rem;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    width: 100%;
  }

  .rena-box-wrapper2 .rena-box {
    width: 26rem;
  }

  .rena-box {
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }

  .box-image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .box-heading {
    font-size: 1.5rem;
  }

  .box-text {
    font-size: 0.875rem;
  }

  .image-group {
    gap: 1rem;
    flex-wrap: nowrap;
    margin-bottom: 0rem;
    padding: 1rem;
    width: 35%;
  }

  .image-group .left-group {
    flex-direction: column;
    gap: 1rem;
  }

  .image-group .right-group {
    flex-direction: column;
    gap: 1rem;
  }

  .bottom-heading {
    font-size: 2.5rem;
    width: 52%;
  }

  .bottom-text {
    font-size: 0.875rem;
  }

  .bottom-text1 {
    font-size: 0.875rem;
    width: 38%;
  }

  .last-section {
    gap: 2rem;
    flex-wrap: nowrap;
    margin-bottom: 5.5rem;
    padding: 0rem 3rem;
    width: 100%;
  }

  .benefits {
    display: flex;
    padding: 4rem 2rem 5rem 2rem;
    margin-bottom: 7rem;
    justify-content: center;
    gap: 2.5rem;
  }

  .waitList_benefit_wrapper {
    padding: 1.25rem;
    margin: 0.5rem 0rem 2.5rem 0rem;
    width: 366.72px;
    background: #ffffff;
    border-radius: 6.2025px;
  }

  // .referral_benefit_wrapper {
  //   padding: 1.25rem;
  //   margin: 0.5rem 0rem 2.5rem 0rem;
  //   border-radius: 0.25rem;

  // }

  .benefit_heading {
    font-weight: 700;
    font-size: 15.5062px;
    line-height: 19px;
    color: #243853;
    opacity: 0.89;
  }

  .benefit_wrapper {
    border-radius: 0.32rem;
  }

  .benefit_text {
    font-weight: 400;
    font-size: 10.8544px;
    line-height: 13px;
    color: #000000;
    margin: 0rem;
    padding-left: 0.75rem;
  }

  .product-recommendation {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 10rem;
    padding: 0rem 3rem;
    width: 100%;
  }

  .last-section .bottom-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    width: 50%;
    padding: 6rem 1rem 6rem 0rem;
    gap: 0rem;
  }

  .product-recommendation .bottom-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    width: 50%;
    padding: 0rem 1rem 0rem 0rem;
    gap: 1rem;
  }

  .bottom-heading {
    line-height: 1.25;
    font-size: 2.25rem;
  }

  .bottom-text {
    width: 50%;
  }

  .buttom-image-wrapper {
    width: 35%;
  }

  .product-recommendation .left-group,
  .product-recommendation .right-group {
    width: 48%;
  }

  .buttom-image-wrapper .right-group {
    margin-top: 1rem;
  }

  .buttom-image-one {
    object-fit: cover;
    width: 80%;
    height: 100%;
  }

  .buttom-image-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0%;
    width: 100%;
  }

  .last-section .bottom-section {
    margin: 0rem 0rem -5rem 7rem;
  }

  .bottom-section .waitList-botton {
    padding: 0.5rem 1rem;
    width: 25%;
    margin: 1rem 1rem 3rem 0rem;
  }

  .bottom-section .waitList-botton a {
    text-transform: none;
  }
}
