<div>
    <app-search-item></app-search-item>
    <div class="dashboard-title">My Products</div>
    <table class="uk-table uk-table-responsive uk-table-divider">
      <thead>
        <tr>
          <td></td>
          <th>Product</th>
          <th>Cost</th>
          <th>Unit Sold</th>
          <th>Unit Left</th>
          <th>Income Generated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productDetail of productDetails | paginate: { itemsPerPage: maximumItem, currentPage: pageNumber, totalItems:totalItemCount}">
          <td>
            <img class="uk-img" src="{{ productDetail.imageUrl }}" width="100" height="100" />
          </td>
          <td>
            <span class="uk-text-muted"> {{ productDetail.category.name }} </span> <br />
            {{ productDetail.name }}
          </td>
          <td>NGN {{ numberWithCommas(productDetail.price) }}</td>
          <td>{{ productDetail.unitSold }}</td>
          <td>{{ productDetail.unit }}</td>
          <td>NGN {{ numberWithCommas(productDetail.price * productDetail.unit) }}</td>
          <td>
            <div class="uk-inline">
              <button class="uk-button uk-button-default" type="button">
                Action
              </button>
              <div uk-dropdown="mode: click">
                <ul class="uk-list uk-list-divider">
                  <li>
                    <a id="js-modal-prompt" 
                       uk-toggle="target: #modal-edit-product"
                       (click)="setProductId(productDetail.id)">
                        Edit
                    </a>
                  </li>
                  <li><a (click)="onDelete(productDetail.id)"> Remove</a></li>
                  <li>
                    <a uk-toggle="target: #modal-view-more" 
                      (click)="setViewMore(productDetail.id)">
                      View More
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="uk-flex uk-flex-center">
      <pagination-controls (pageChange)="fetchNextProducts($event)"></pagination-controls>
    </div>
</div>