.product-img{
    width: 64px;
    height: 64px;
    border: 0.8px solid #BDBDBD;
    border-radius: 4px;
}

.unit-caption,span#created-at{
    font-size: 12px;
}

.al {
    align-items: center;
}

.heading {
    color: #FF8473;
}

.stock-section {
    padding: 20px 20px 0px 20px;
    border-top: 1px solid #DFDDDD;
    border-bottom: 1px solid #DFDDDD;
}

span.sort-asc, span.sort-desc{
    display: inline-block;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    border: solid 4px;
}

.edge {
    border: 1px solid black !important;
    color: black;
    padding: 7px 15px;
    border-radius: 5px;
}

.edge2:hover {
    background: black;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.edge2 {
    background: black;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

span.sort-asc{
    border-bottom: transparent;
    border-right: transparent;
}
span.sort-desc{
    border-top: transparent;
    border-left: transparent;
}

.info-card {
    padding: 25px 50px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-shadow: 0px 2px 4px rgba(27, 27, 32, 0.1);
    border-radius: 8px;
}

.padding_54 {
    padding-left: 54px;
}