<div class="loader-container" *ngIf="isLoadingDetails">
  <!-- <img src="/assets/svg/loader-icon.svg" alt="" style="width: 150px" /> -->
  <span class="loader"></span>
</div>
<div class="main" *ngIf="!isLoadingDetails">
  <div class="top-section">
    <div class="mobile-pad-1 left-section">
      <div class="product-images">
        <div class="product-image-main">
          <swiper-container
            thumbs-swiper=".swiper2"
            [config]="swiperConfig"
            pagination="true"
          >
            <swiper-slide
              class="swiper"
              *ngFor="let image of productImages; let i = index"
            >
              <div
                class="image-test"
                [ngStyle]="{ backgroundImage: 'url(' + image.image + ')' }"
                (click)="showLightbox(i)"
              ></div>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="product-image-slider">
          <swiper-container class="swiper2">
            <swiper-slide
              class="swiper-slide"
              *ngFor="let image of productImages"
            >
              <img [src]="image.image" alt="" class="thumb-image" />
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>

    <ng-image-fullscreen-view
      [images]="productImages"
      [imageIndex]="currentIndex"
      [show]="showFlag"
      (close)="closeEventHandler()"
    ></ng-image-fullscreen-view>

    <div class="right-section">
      <div class="mobile-pad-1">
        <div class="product-details-main" *ngIf="product">
          <div class="product-name">
            {{ product.name }}
          </div>

          <div class="product-price-unit">
            <div class="product-price">
              <div class="new-price">
                {{ productPrice | currency : "NGN" }}
              </div>
              <div class="old-price" *ngIf="product.previousPrice > 0">
                {{ product.previousPrice | currency : "NGN" }}
              </div>
            </div>

            <div class="product-unit">
              <div class="product-units">
                <div class="product-units-main">
                  <div class="items-left">{{ product.unit }} Left</div>

                  <!-- <div class="order-count">100 orders</div> -->
                </div>
                <div
                  class="seller-store"
                  routerLink="/homepage/storefront/{{ product.userId }}"
                >
                  Visit seller's store
                </div>
              </div>
            </div>
          </div>

          <div class="product-qty-container">
            <div class="product-qty-container-heading">Quantity:</div>

            <div class="product-qty">
              <button
                class="unit-btn"
                (click)="decreaseQuantity()"
                [disabled]="count <= 1"
                [ngClass]="{ disabled: count <= 1 }"
              >
                <i class="fa fa-minus"></i>
              </button>

              <span class="unit-text">
                <span class="btn-texts">
                  {{ count }}
                </span>
              </span>

              <button class="unit-btn" (click)="increaseQuantity()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <p class="txt">Available Payment Type:</p>
          <div class="flex-center">
            <label class="flex-center">
              <input type="radio" checked name="delivery-type" value="online" />
              &nbsp;
              <span>Pay online</span>
            </label>
            &nbsp; &nbsp;
            <label class="flex-center">
              <input
                disabled
                type="radio"
                name="delivery-type"
                value="delivery"
              />
              &nbsp;
              <!-- <span>Pay on delivery</span> -->
              <span style="color: #c2c2cc">Pay on delivery</span>
            </label>
          </div>
        </div>

        <div *ngIf="!loading">
          <div class="mt-3" *ngFor="let item of sortedVariationsList">
            <p class="txt capitalize">{{ item[0]?.title }}:</p>
            <div style="display: flex; flex-wrap: wrap">
              <p
                (click)="setSelectedVariation(it)"
                class="color-tag capitalize d-flex align-items-center"
                *ngFor="let it of item"
              >
                <strong>{{ it?.value }}</strong> &nbsp;
                <span *ngIf="it?.cost > 0" style="font-size: 12px">
                  + {{ it?.cost | currency : "₦" }}
                </span>
                &nbsp;
                <span *ngIf="it?.isSelected">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 100 100"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M50.0007 91.6673C73.0125 91.6673 91.6673 73.0125 91.6673 50.0007C91.6673 26.9888 73.0125 8.33398 50.0007 8.33398C26.9888 8.33398 8.33398 26.9888 8.33398 50.0007C8.33398 73.0125 26.9888 91.6673 50.0007 91.6673Z"
                      fill="#219653"
                    />
                    <path
                      d="M69.8707 32.5737C71.4408 30.8914 74.0774 30.8005 75.7597 32.3706C77.442 33.9408 77.533 36.5774 75.9628 38.2597L46.7961 69.5097C45.2728 71.1419 42.7336 71.2832 41.0384 69.8302L26.4551 57.3302C24.7079 55.8327 24.5056 53.2022 26.0032 51.455C27.5008 49.7079 30.1312 49.5055 31.8784 51.0031L43.4292 60.9038L69.8707 32.5737Z"
                      fill="#219653"
                    />
                  </svg>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="pickup">
          <div class="pickup-heading">Pickup</div>
          <div
            class="pickup-main"
            (click)="onOpenPickupModal()"
            *ngIf="currentAddress"
          >
            <div class="pickup-main-address" *ngIf="closestStore">
              Coming from: {{ closestStore?.city || "N/A" }},
              {{ closestStore.state || "NA" }}
            </div>
            <!-- <div class="no-address" *ngIf="!currentAddress">
              Please enter your delivery address to view shipping options and
              costs
            </div> -->
            <i class="fa fa-angle-right"></i>
          </div>
        </div>

        <div class="delivery">
          <div class="delivery-heading">Delivery</div>
          <div class="delivery-main" (click)="openAddressModal()">
            <div class="delivery-main-address" *ngIf="currentAddress">
              Location: {{ currentAddress?.fullAddress || "N/A" }}
            </div>
            <div class="no-address" *ngIf="!currentAddress">
              Please enter your delivery address to view shipping options and
              costs
            </div>
            <i class="fa fa-angle-right"></i>
          </div>
        </div>

        <div class="shipping" *ngIf="currentAddress">
          <div class="shipping-heading">
            {{
              currentShippingMethod?.value?.logisticName == "Renaship"
                ? "Price: Available on Order Summary"
                : "Shipping: Starting from" +
                  (currentShippingMethod?.value?.startingPrice || 0
                    | currency : "NGN")
            }}
          </div>

          <div class="shipping-main" uk-toggle="target: #shipping-modal">
            <div class="shipping-company">
              <div class="shipping-company-name">
                {{ currentShippingMethod?.value?.logisticName || "N/A" }}
              </div>
              <div
                class="shipping-company-logo"
                *ngIf="currentShippingMethod?.value?.logisticLogoUrl !== ''"
              >
                <img
                  [src]="currentShippingMethod?.value?.logisticLogoUrl"
                  alt=""
                  style="width: 70px"
                />
              </div>
            </div>

            <i class="fa fa-angle-right"></i>
          </div>
          <!-- <div class="shipping-duration">
            Delivered between Tuesday 8 Nov and Thursday 15 Nov
          </div> -->
        </div>

        <div *ngIf="!isShippingMethodFetched" class="py-3">
          <span class="loading mb-0" uk-toggle="target: #shipping-modal">
            <span class="info">We're fetching more shipping methods...</span>
            <img
              src="/assets/svg/loader-icon.svg"
              alt=""
              width="30"
              height="30"
            />
          </span>
        </div>
      </div>

      <div class="mt-4 uk-flex uk-flex-between web-btn">
        <button
          [disabled]="addingItemToCart"
          (click)="addToCart()"
          class="add-btn"
          [ngClass]="{ greyed: !currentAddress }"
        >
          <span *ngIf="!addingItemToCart">Add to Cart</span>
          <span *ngIf="addingItemToCart">
            <img
              src="/assets/svg/loader-icon.svg"
              alt=""
              width="40"
              height="40"
            />
          </span>
        </button>
        <button routerLink="/homepage" class="view-btn">
          Continue Shopping
        </button>
      </div>

      <div class="p-3 uk-flex uk-flex-between bottom-element">
        <button
          [disabled]="addingItemToCart"
          (click)="addToCart()"
          class="add-btn"
          [ngClass]="{ greyed: !currentAddress }"
        >
          <span *ngIf="!addingItemToCart">Add to Cart</span>
          <span *ngIf="addingItemToCart">
            <img
              src="/assets/svg/loader-icon.svg"
              alt=""
              width="40"
              height="40"
            />
          </span>
        </button>
        <button routerLink="/homepage" class="view-btn">
          Continue Shopping
        </button>
      </div>

      <div class="mobile-pad-1 mt-3">
        <span routerLink="/homepage/checkout" class="mb-0 mt-3 view-item-btn"
          >View Items In Cart</span
        >
      </div>
    </div>
  </div>

  <div
    class="complimentary-products"
    *ngIf="complimentaryProductsList.length > 0"
  >
    <div class="complimentary-products-heading">
      <div class="complimentary-products-heading-main">
        Complimentary Products
      </div>

      <div class="see-all">See all <i class="fa fa-arrow-right"></i></div>
    </div>

    <div class="complimentary-products-main">
      <carousel class="carousel">
        <div
          class="complimentary-product carousel-cell"
          *ngFor="let product of complimentaryProductsList"
        >
          <div class="complimentary-product-main">
            <div class="selected" *ngIf="product.isSelected == true">
              Selected
            </div>
            <div class="product-image">
              <img [src]="product.imageUrl" alt="" />
            </div>

            <div class="product-details">
              <div class="product-name">{{ product.title }}</div>

              <div class="product-price">
                {{ product.cost | currency : "NGN" }}
              </div>

              <div
                class="product-select"
                (click)="setSelectedComplementaryProduct(product)"
              >
                <div *ngIf="!product.isSelected">
                  <img src="/assets/images/cart-icn.svg" alt="cart-icn" />
                  &nbsp;
                  <span>Select</span>
                </div>

                <div *ngIf="product.isSelected">
                  <span>
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.96484 5.92969H4.94149H20.7546"
                        stroke="#D01717"
                        stroke-width="1.6505"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M18.7779 5.92985V19.7663C18.7779 20.2906 18.5696 20.7933 18.199 21.164C17.8283 21.5347 17.3255 21.743 16.8013 21.743H6.91805C6.39381 21.743 5.89104 21.5347 5.52035 21.164C5.14966 20.7933 4.94141 20.2906 4.94141 19.7663V5.92985M7.90637 5.92985V3.9532C7.90637 3.42897 8.11462 2.9262 8.48531 2.55551C8.85601 2.18482 9.35877 1.97656 9.88301 1.97656H13.8363C14.3605 1.97656 14.8633 2.18482 15.234 2.55551C15.6047 2.9262 15.8129 3.42897 15.8129 3.9532V5.92985"
                        stroke="#D01717"
                        stroke-width="1.6505"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9.88281 10.8716V16.8015"
                        stroke="#D01717"
                        stroke-width="1.6505"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.8369 10.8716V16.8015"
                        stroke="#D01717"
                        stroke-width="1.6505"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    &nbsp;
                    <span class="remove">Remove</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </carousel>
    </div>
  </div>

  <div class="mobile-pad-1 mt-3">
    <h2>Product Description</h2>
    <p *ngIf="!loading">{{ product?.description || "N/A" }}</p>
    <div *ngIf="loading" class="w-100">
      <br />
      <ngx-shimmer-loading height="50px"></ngx-shimmer-loading>
    </div>
  </div>

  <div class="product-categories" *ngIf="products.length > 0">
    <div class="complimentary-products-heading">
      <div class="complimentary-products-heading-main">You may also like</div>

      <div class="see-all" routerLink="/homepage">
        See all <i class="fa fa-arrow-right"></i>
      </div>
    </div>

    <div class="complimentary-products-main">
      <carousel class="carousel" [cellsToScroll]="2">
        <div
          class="complimentary-product carousel-cell category-product"
          *ngFor="let product of products"
          (click)="viewProduct(product.id)"
        >
          <div class="complimentary-product-main">
            <div class="product-image">
              <img [src]="product.imageUrl" alt="" />
            </div>

            <div class="product-details">
              <div class="product-name">
                {{ product?.name || "N/A" | slice : 0 : 30 }}
              </div>

              <div class="product-price">
                {{ product?.price | currency : "NGN" }}
              </div>
            </div>
          </div>
        </div>
      </carousel>
    </div>
  </div>
</div>

<button
  class="d-none"
  id="openShippingModalBtn"
  uk-toggle="target: #shipping-modal"
></button>
<button
  class="d-none"
  id="openAddressModalBtn"
  uk-toggle="target: #information-modal"
></button>
<button
  id="closeAddressFormDialog"
  class="d-none"
  uk-toggle="target: #information-modal"
></button>

<div id="information-modal" uk-modal>
  <div *ngIf="isInformation" class="uk-modal-dialog uk-modal-body">
    <div class="uk-flex uk-flex-between">
      <h2 class="uk-modal-title mb-0">Delivery Information</h2>
      <svg
        class="pointer uk-modal-close"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.501 5.50024L5.50098 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.50098 5.50024L16.501 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="mt-4">
      <span
        (click)="toggleSocialModal()"
        class="select-existing"
        *ngIf="user === null"
      >
        Log In to Use Your Previously Saved Address
      </span>
      <span
        (click)="isInformation = false"
        class="select-existing"
        *ngIf="user !== null"
      >
        Click Here To Use Your Previously Saved Address
      </span>
      <form [formGroup]="addressForm" class="mt-3">
        <div class="form-group">
          <label for="address">Receiver Address</label>
          <input
            type="text"
            id="address"
            class="w-100 input-field"
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)"
            class="w-100 input-field"
            type="text"
            placeholder="Select delivery location"
            formControlName="fullAddress"
            autocomplete="off"
          />
          <p class="address-prompt">
            Choose your address from the list that appears as you type
          </p>
        </div>

        <div class="form-group">
          <label for="firstName">Receiver First Name</label>
          <input
            type="text"
            id="firstName"
            class="w-100 input-field"
            formControlName="firstname"
          />
        </div>

        <div class="form-group">
          <label for="lastName">Receiver Last Name</label>
          <input
            type="text"
            id="lastName"
            class="w-100 input-field"
            formControlName="lastname"
          />
        </div>

        <div class="form-group contact-inputs">
          <label for="phone">Phone Number</label>
          <div class="contact-inputs">
            <input
              type="tel"
              placeholder="8023434567"
              formControlName="contactPhoneNumber"
              class="w-100 input-field"
              id="phone"
            />

            <div class="country-code" matPrefix>
              <mat-select
                (change)="changeOption($event)"
                formControlName="countryCode"
                class="my-mat-select"
              >
                <mat-select-trigger class="country-code-text">
                  {{ formControls.countryCode.value }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let country of countryInfo"
                  [value]="country.phoneCode"
                >
                  <img [src]="country.flag" alt="" width="25px" height="25px" />
                  <span
                    style="font-size: 14px; margin-left: 7px; font-weight: bold"
                    >{{ country.countryName }}
                  </span>
                  <span style="font-size: 14px">
                    {{ country.phoneCode }}
                  </span>
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <button
          (click)="applyAddress()"
          class="w-100 apply-btn"
          [ngClass]="{
            greyed: addressForm.invalid || !isGoogleAddressSelected
          }"
        >
          <span *ngIf="!loadingAddress">{{
            isEditingAddress ? "Save Changes" : "Apply"
          }}</span>
          <span *ngIf="loadingAddress">Loading...</span>
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="!isInformation" class="uk-modal-dialog uk-modal-body">
    <div class="uk-flex uk-flex-between">
      <div class="uk-flex">
        <svg
          (click)="onEditAddress()"
          class="pointer"
          width="26"
          height="25"
          viewBox="0 0 26 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.0738 12.5H5.2832"
            stroke="black"
            stroke-width="1.37056"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12.6785 19.496L5.2832 12.5004L12.6785 5.50488"
            stroke="black"
            stroke-width="1.37056"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        &nbsp;
        <h2 class="uk-modal-title mb-0">Delivery Location</h2>
      </div>
      <svg
        class="pointer uk-modal-close"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.501 5.50024L5.50098 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.50098 5.50024L16.501 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div *ngIf="addresses.length > 0">
      <div *ngFor="let item of addresses" class="mt-4">
        <div class="each-address">
          <label
            (click)="setSelectedAddress(item)"
            class="p-3 w-100 pointer flex-center"
          >
            <p class="mb-0 w-80">
              <span class="address-name"
                >{{ item?.firstname || "N/A" }}
                {{ item?.lastname || "N/A" }}</span
              >
              <br />
              <span>{{ item?.fullAddress || "N/A" }}</span> <br />
              <span>{{ item?.city || "N/A" }}, {{ item?.state || "N/A" }}</span>
              <br />
              <span>{{ item?.contactPhoneNumber || "N/A" }}</span>
            </p>
            <div class="w-20 d-flex justify-content-end">
              <input [checked]="item?.isSelected" name="address" type="radio" />
            </div>
          </label>
          <div class="actions-top">
            <div>
              <span *ngIf="item.isDefault" class="isDefault">
                Default Address
              </span>
              <span
                *ngIf="!item.isDefault"
                (click)="setDefaultAddress(item)"
                class="default-txt"
                >Set as Default
              </span>
            </div>
            <div>
              <span
                *ngIf="!deletingAddress"
                (click)="deleteAddress(item?.id)"
                class="delete-add"
                >Delete</span
              >
              <span
                *ngIf="deletingAddress && deleteId === item?.id"
                class="default-txt"
                >Deleting...</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="pointer my-3">
        <span (click)="onAddNewAddress()"> + Add Address </span>
      </div>

      <div class="w-100 mt-4 col-12">
        <button (click)="setCurrentAddress()" class="w-100 apply-btn">
          Apply
        </button>
      </div>
    </div>

    <div *ngIf="addresses.length === 0">
      <div class="pointer my-3">
        <span (click)="onAddNewAddress()"> + Add Address </span>
      </div>

      <div class="p-5">
        <p class="text-center loading">No Address available</p>
      </div>
    </div>
  </div>
</div>

<button
  id="closeShippingMethodDialog"
  class="d-none"
  uk-toggle="target: #shipping-modal"
></button>

<div id="store-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <div class="uk-flex uk-flex-between">
      <h2 class="uk-modal-title mb-0">Pickup point</h2>
      <svg
        class="pointer uk-modal-close"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.501 5.50024L5.50098 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.50098 5.50024L16.501 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div>
      <div class="mt-4" *ngIf="sellerStores.length > 0">
        <div *ngFor="let store of sellerStores" class="mt-3 each-shipping">
          <label
            (click)="setPickupPoint(store)"
            class="p-3 w-100 pointer flex-center"
          >
            <div class="w-10 d-flex">
              <input
                [checked]="store.id == closestStore.id"
                name="store"
                type="radio"
              />
            </div>
            <p class="mb-0 w-90">
              <span class="my-1 flex-center">
                <span>Country: {{ store?.country || "N/A" }}</span>
                &nbsp; &nbsp;
              </span>
              <span>State: {{ store?.state || "N/A" }}</span>
              <br />
              <span>City: {{ store?.city || "N/A" }}</span>
            </p>
          </label>
        </div>
      </div>

      <div class="w-100 mt-4 col-12">
        <button (click)="onSetPickupLocation()" class="w-100 apply-btn">
          Apply
        </button>
      </div>
    </div>

    <div *ngIf="sellerStores.length == 0" class="p-5">
      <p class="text-center loading p-5">No store available</p>
    </div>
  </div>
</div>

<div id="shipping-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <div class="uk-flex uk-flex-between">
      <h2 class="uk-modal-title mb-0">Shipping method</h2>
      <svg
        class="pointer uk-modal-close"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.501 5.50024L5.50098 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.50098 5.50024L16.501 16.5002"
          stroke="#979797"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div>
      <div class="mt-4" *ngIf="shippingMethods.length > 0">
        <div *ngFor="let item of shippingMethods" class="mt-3 each-shipping">
          <label
            (click)="setSelectedShippingMethod(item)"
            class="p-3 w-100 pointer flex-center"
          >
            <div class="w-10 d-flex">
              <input
                [checked]="item?.isSelected"
                name="shipping"
                type="radio"
              />
            </div>
            <p class="mb-0 w-90">
              <span class="address-name"
                >Shipping:
                {{
                  item?.logisticName == "Renaship"
                    ? "Available on Order Summary"
                    : "Starting from" +
                      (item?.startingPrice || 0 | currency : "NGN")
                }}</span
              >
              <br />
              <span *ngIf="item?.logisticName == 'Renaship'">
                Choose RenaShip for a swift, cost-effective delivery
              </span>
              <br />
              <span class="my-1 flex-center">
                <span>Via {{ item?.logisticName || "N/A" }}</span>
                &nbsp; &nbsp;
                <span *ngIf="item?.logisticLogoUrl !== ''">
                  <img
                    src="{{ item?.logisticLogoUrl }}"
                    class="small-logo"
                    style="width: 50px; height: 50px"
                  />
                </span>
              </span>
              <span
                >Delivered between {{ item?.deliveryDuration || "N/A" }}</span
              >
            </p>
          </label>
        </div>
      </div>

      <div *ngIf="!isShippingMethodFetched" class="">
        <p class="text-center loading p-2">
          We're fetching more shipping options
          <img
            src="/assets/svg/loader-icon.svg"
            alt=""
            width="30"
            height="30"
          />
        </p>
      </div>

      <div class="w-100 mt-4 col-12" *ngIf="shippingMethods.length > 0">
        <button (click)="setShippingMethod()" class="w-100 apply-btn">
          Apply
        </button>
      </div>
    </div>

    <div
      *ngIf="shippingMethods.length === 0 && !loadingShippingEstimate"
      class="p-5"
    >
      <p class="text-center loading p-5">No shipping method(s) available</p>
    </div>
  </div>
</div>
