
.input-search {
    position: relative;
    .icn-search {
        position: absolute;
        left: 0px;
        top: 10px;
        left: 10px;
    }
}

input {
    width: 500px;
    height: 42px;
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    border-radius: 4px 0px 0px 4px;
    outline: none !important;
    padding-left: 35px;
    padding-right: 10px;

    ::placeholder {
        font-weight: 350;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
}

.search-btn {
    background: #000000;
    border-radius: 0px 4px 4px 0px;
    border: none;
    outline: none !important;
    padding: 0rem 1rem;
}

@media screen and (max-width: 767px) {

    input {
        width: 100%;
    }
    .input-search {
        width: 100%;
    }
    .search-section {
        margin: .5rem 0rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    input {
        width: 400px;
    }
}