<div class="main">
  <h2>My Orders</h2>

  <div class="d-flex border-bottom">
    <p class="nav-items" (click)="switchTabs('all')" [ngClass]="{ 'active-tab-item': all === true }">
      All
    </p>
    &nbsp; &nbsp; <span class="web-only">&nbsp; &nbsp; &nbsp; &nbsp;</span>
    <p class="nav-items" (click)="switchTabs('success')" [ngClass]="{ 'active-tab-item': success === true }">
      Success
    </p>
  </div>

  <div class="mt-5 table">
    <div class="web-only d-flex align-items-center">
      <p class="w-20 label">Item</p>
      <p class="w-10 label">Invoice no</p>
      <p class="w-20 label">Name</p>
      <p class="w-10 label">Cost</p>
      <p class="w-10 label">Unit</p>
      <p class="w-15 label">Status</p>
      <p class="w-15 label"></p>
    </div>

    <h3 class="mobile-only">Orders</h3>

    <div class="web-only">
      <div *ngIf="!loadingOrders && orders.length > 0">
        <div *ngFor="
            let item of orders
              | paginate
                : {
                    itemsPerPage: maximumItem,
                    currentPage: pageNumber,
                    totalItems: totalItemCount
                  }
          " class="mt-3 table-value d-flex align-items-center">
          <div class="value w-20">
            <div *ngIf="
                item?.cartProduct?.product?.imageUrl === '' ||
                item?.cartProduct?.product?.imageUrl === null
              " class="d-flex mobile-full nocomp-img2">
              <span class="m-auto">No image found</span>
            </div>
            <img *ngIf="
                item?.cartProduct?.product?.imageUrl !== '' &&
                item?.cartProduct?.product?.imageUrl !== null
              " src="{{ item?.cartProduct?.product?.imageUrl }}" class="mobile-full comp-img2"
              style="object-fit: cover" />
          </div>
          <p class="value w-10">{{ item?.orderNo || "N/A" }}</p>
          <p class="value w-20">
            {{ item?.cartProduct?.product?.name || "N/A" }}
          </p>
          <p class="value w-10">{{ item?.amountPaid || 0 | currency: "₦" }}</p>
          <p class="value w-10">
            <span *ngIf="item?.unit === 1" class="px-2 py-2 unit">{{ item?.unit || 0 }} unit</span>
            <span *ngIf="item?.unit > 1" class="px-2 py-2 unit">{{ item?.unit || 0 }} units</span>
          </p>
          <p class="value w-15 d-flex align-items-center">
            <span *ngIf="
                item?.orderStatus.toLowerCase() === 'pending' ||
                item?.orderStatus.toLowerCase() === 'notset'
              ">
              <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4.5" r="4" fill="#F9AA4B" />
              </svg>
              &nbsp;
              <span class="ml-3">Pending</span>
            </span>
            <span *ngIf="item?.orderStatus.toLowerCase() === 'confirmed'">
              <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4.5" r="4" fill="#4CAF50" />
              </svg>
              &nbsp;
              <span class="ml-3">{{ item?.orderStatus }}</span>
            </span>
            <span *ngIf="
                item?.orderStatus.toLowerCase() === 'rejected' ||
                item?.orderStatus.toLowerCase() === 'returned'
              ">
              <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4.5" r="4" fill="#EF0606" />
              </svg>
              &nbsp;
              <span class="ml-3">{{ item?.orderStatus }}</span>
            </span>
          </p>
          <span class="value w-15">
            <button class="view-btn" (click)="viewOrder(item)">View</button>
          </span>
        </div>
        <div class="uk-flex uk-flex-right">
          <pagination-controls (pageChange)="fetchAllOrders($event)"></pagination-controls>
        </div>
      </div>
      <div *ngIf="loadingOrders" class="p-5 loading-svg">
        <!-- <p class="p-5 loading text-center">Loading...</p> -->
        <img src="/assets/svg/loader-icon.svg" alt="Loading order history" width="100" height="100" />
      </div>

      <div *ngIf="!loadingOrders && orders.length === 0" class="p-5">
        <p class="p-5 loading text-center">No orders available</p>
      </div>
    </div>

    <div class="mobile-only">
      <div *ngIf="!loadingOrders && orders.length > 0">
        <div *ngFor="
            let item of orders
              | paginate
                : {
                    itemsPerPage: maximumItem,
                    currentPage: pageNumber,
                    totalItems: totalItemCount
                  }
          " class="mt-3 border-bottom">
          <div class="display">
            <div class="w-30 mr-2">
              <!-- <img src="/assets/images/item1.png" alt="item1" class="w-100" height="100"/> -->
              <div *ngIf="
                  item?.cartProduct?.product?.imageUrl === '' ||
                  item?.cartProduct?.product?.imageUrl === null
                " class="d-flex mobile-full nocomp-img2">
                <span class="m-auto">No image found</span>
              </div>
              <img *ngIf="
                  item?.cartProduct?.product?.imageUrl !== '' &&
                  item?.cartProduct?.product?.imageUrl !== null
                " src="{{ item?.cartProduct?.product?.imageUrl }}" class="w-100 comp-img2" />
            </div>
            <div class="w-70 d-block" style="margin-left: 0.5rem">
              <div class="d-flex justify-content-between align-items-center">
                <p class="value">{{ item?.orderNo || "N/A" }}</p>
                <p class="value d-flex align-items-center">
                  <span *ngIf="
                      item?.orderStatus.toLowerCase() === 'pending' ||
                      item?.orderStatus.toLowerCase() === 'notset'
                    ">
                    <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="4" cy="4.5" r="4" fill="#F9AA4B" />
                    </svg>
                    &nbsp;
                    <span class="ml-3">Pending</span>
                  </span>
                  <span *ngIf="item?.orderStatus.toLowerCase() === 'confirmed'">
                    <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="4" cy="4.5" r="4" fill="#4CAF50" />
                    </svg>
                    &nbsp;
                    <span class="ml-3">{{ item?.orderStatus }}</span>
                  </span>
                  <span *ngIf="
                      item?.orderStatus.toLowerCase() === 'rejected' ||
                      item?.orderStatus.toLowerCase() === 'returned'
                    ">
                    <svg widspan="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="4" cy="4.5" r="4" fill="#EF0606" />
                    </svg>
                    &nbsp;
                    <span class="ml-3">{{ item?.orderStatus }}</span>
                  </span>
                </p>
              </div>
              <div class="d-flex align-items-center">
                <p class="value val-prod-name">
                  <!-- {{item?.cartProduct?.product?.name || 'N/A'}} -->
                  <span>{{
                    item?.cartProduct?.product?.name || "N/A" | slice: 0 : 30
                    }}</span>
                  <span *ngIf="item?.cartProduct?.product?.name.length > 30">...</span>
                </p>
                &nbsp; &nbsp;
                <p class="value">
                  <span *ngIf="item?.unit === 1" class="unit p-1">{{ item?.unit || 0 }} unit</span>
                  <span *ngIf="item?.unit > 1" class="unit p-1">{{ item?.unit || 0 }} units</span>
                </p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="value mb-0">
                  {{ item?.amountPaid || 0 | currency: "₦" }}
                </p>
                <button class="view-btn" (click)="viewOrder(item)">View</button>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-flex uk-flex-right">
          <pagination-controls (pageChange)="fetchAllOrders($event)"></pagination-controls>
        </div>
      </div>
      <div *ngIf="loadingOrders" class="p-5">
        <!-- <p class="p-5 loading text-center">Loading...</p> -->
        <img src="/assets/svg/loader-icon.svg" alt="Loading order history" width="100" height="100" />

      </div>

      <div *ngIf="!loadingOrders && orders.length === 0" class="p-5">
        <p class="p-5 loading text-center">No orders available</p>
      </div>
    </div>
  </div>
</div>