<div class="change-password-container">
  <form id="address-edit-form" [formGroup]="passwordForm">
    <div class="form-group">
      <label for="cur-password">Current Password</label>
      <div class="input-group">
        <input
          [type]="showCurPassword ? 'text' : 'password'"
          id="cur-password"
          placeholder="********"
          formControlName="currentPassword"
        />

        <div class="eye" (click)="onToggleVisibility('currentPassword')">
          <i class="fa-solid fa-eye" *ngIf="showCurPassword"></i>
          <i class="fa-solid fa-eye-slash" *ngIf="!showCurPassword"></i>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="new-password">New Password</label>
      <div class="input-group">
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          id="new-password"
          placeholder="********"
          formControlName="newPassword"
          (keyup)="onPasswordEnter($event)"
        />

        <div class="eye" (click)="onToggleVisibility('newPassword')">
          <i class="fa-solid fa-eye" *ngIf="showNewPassword"></i>
          <i class="fa-solid fa-eye-slash" *ngIf="!showNewPassword"></i>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <div class="input-group">
        <input
          [type]="showConfirmNewPassword ? 'text' : 'password'"
          id="confirm-password"
          placeholder="********"
          formControlName="confirmNewPassword"
          (keyup)="onPasswordEnter($event)"
        />

        <p
          id="password_match_error"
          *ngIf="!passwordMatch && confirmPassword.dirty"
        >
          Passwords do not match
        </p>

        <div class="eye" (click)="onToggleVisibility('confirmNewPassword')">
          <i class="fa-solid fa-eye" *ngIf="showConfirmNewPassword"></i>
          <i class="fa-solid fa-eye-slash" *ngIf="!showConfirmNewPassword"></i>
        </div>
      </div>
    </div>

    <div class="btn">
      <button type="submit" id="submit-btn">Save Changes</button>
    </div>
  </form>
</div>
