@import "config";

.change-password-container {
  margin-top: 40px;
}

#address-edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: flex-start;
  width: 80%;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  & label {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
  }

  & .input-group {
    position: relative;
    width: 50%;

    & input {
      position: relative;
      padding: 10px 15px;
      width: 100%;
      height: 100%;
      border-radius: 8px !important;
      border: 1px solid $input-border;

      &:focus {
        outline: none;
      }
    }

    & .eye {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;

      & i {
        color: $input-border;
        cursor: pointer;
      }
    }
  }
}

.btn {
  align-self: flex-end;
  margin-top: 20px;

  & #submit-btn {
    border: none;
    height: 40px;
    // width: 160px;
    padding: 10px 50px;
    border-radius: 8px;
    background: $black;
    color: $white;
    border: 1px solid $black;
    white-space: nowrap;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
