@import "config";

.address-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.address-main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.address {
  border: 2px solid $input-border;
  border-radius: 8px;
  min-width: 350px;
  padding: 15px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;

  & .heading {
    font-size: 16px;
    font-weight: 600;
  }

  & .actions {
    & svg {
      cursor: pointer;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

.user-name {
  margin-bottom: 20px;

  & span {
    text-transform: capitalize;
    font-size: 20px;
    color: $profile-text-heading;
  }
}

.user-address {
  font-size: 16px;
  margin-bottom: 20px;
  color: $normal-text-color;
}

.user-phone {
  font-size: 16px;
  margin-bottom: 30px;
  color: $normal-text-color;
}

.default-toggle {
  display: flex;
  align-items: center;

  & .text {
    font-size: 16px;
  }
}

.toggler {
  position: relative;
  width: 40px;
  height: 20px;
  background: $border-line-color;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;

  & .roller {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: $white;
    transition: all 300ms;
  }

  &.roll {
    background: $black;
    & .roller {
      left: 55%;
    }
  }
}

.add-address {
  margin-top: 30px;
  align-self: flex-end;
  & button {
    border: none;
    height: 48px;
    padding: 10px 50px;
    border-radius: 8px;
    background: $black;
    color: $white;
    border: 1px solid $black;
    white-space: nowrap;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

#address-edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: flex-start;
  width: 80%;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  & label {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
  }

  & .input-group {
    position: relative;
    width: 50%;

    & input,
    & select {
      display: block;
      padding: 10px 15px;
      width: 100%;
      border-radius: 8px !important;
      border: 1px solid $input-border;
      font-size: 16px;

      &#phone,
      &#add-phone {
        padding-left: 60px;
      }

      &:focus {
        outline: none;
      }
    }

    & .country-code {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);

      & mat-select {
        width: 100%;
      }
    }

    & mat-option {
      width: 100px !important;
    }
  }
}

.btn {
  align-self: flex-end;
  margin-top: 20px;
  padding: 0;

  & #submit-btn {
    border: none;
    height: 48px;
    padding: 10px 50px;
    border-radius: 8px;
    background: $black;
    color: $white;
    border: 1px solid $black;
    white-space: nowrap;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

@media (max-width: 920px) {
  .add-address {
    align-self: center;
    width: 100%;
    & button {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & label {
      font-weight: 500;
      width: 100%;
      margin-bottom: 10px;
    }

    & .input-group {
      width: 100%;
    }
  }
  .btn {
    align-self: center;
    width: 100%;

    & #submit-btn {
      width: 100%;
    }
  }
}

@media (max-width: 300px) {
  .address-main {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .address {
    min-width: 280px;
  }
}
