<div class="personal-info-container">
  <div class="nav-back" routerLink="..">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="heading">Personal Information</div>
  <div class="profile-info-main">
    <div class="profile-picture">
      <img src="assets/image/default-profile-picture-3.png" alt="" />
    </div>

    <div class="profile-details">
      <div class="profile-detail">
        <div class="profile-detail-heading">First Name</div>

        <div class="profile-detail-main">Divine</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Middle Name</div>

        <div class="profile-detail-main">Shedrack</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Last Name</div>

        <div class="profile-detail-main">Shedrack</div>
      </div>

      <div class="profile-detail">
        <div class="profile-detail-heading">Email</div>

        <div class="profile-detail-main">Shedrackdivine@gmail.com</div>
      </div>
    </div>
  </div>
  <!-- 
  <div class="profile-info-edit">
    <div class="profile-photo-edit">
      <div class="heading">Profile Photo</div>

      <div class="profile-photo-edit-main">
        <div class="profile-picture">
          <img src="assets/image/default-profile-picture-3.png" alt="" />
        </div>
        <div class="actions">
          <span id="remove-photo">Remove</span>
          <span id="change-photo">Change</span>
        </div>
      </div>
    </div>

    <form id="personal-info-form">
      <div class="profile-name-edit">
        <div class="heading">Full Name</div>

        <div class="name-edit-inputs">
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Middle Name" />
          <input type="text" placeholder="Last Name" />
        </div>
      </div>

      <div class="profile-email-edit">
        <div class="heading">Email</div>

        <div class="email-edit-inputs">
          <input type="text" placeholder="myemail@gmail.com" />
        </div>
      </div>

      <div class="btn">
        <button type="submit" id="submit-btn">Save Changes</button>
      </div>
    </form>
  </div> -->
</div>
