.alert-container{
        display: flex;
        flex-direction:  column;
        row-gap: 1rem;
        height: auto;

        
.nin-alert{
        position: relative;
    height: 45px ;
    width: 500px ;
    max-width: 95vw ;
    padding: 0 ;
    height: 5rem ;
   background: rgba(255, 240, 223, 1) ;
border-radius: 5px ;
    padding: 15px 10px ;
border: 0.3px solid rgba(135, 76, 4, 1) ;
color: rgba(171, 97, 6, 1) ;
opacity: 1;
transition: 0.5s ease-in-out;

&.closed{
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}



     .icon{
        display: flex;
        align-items: center;
        justify-content: center;
      position: absolute;
            right: 1rem;
            top:1rem;
            width: 1.8rem;
            height: 1.8rem;
            border: 1px solid rgba(171, 97, 6, 1);
            border-radius: 50%;
        mat-icon{
            cursor: pointer;
            color: rgba(171, 97, 6, 1);
            
        }
    }

                span{
                    text-wrap: pretty;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(171, 97, 6, 1);
                }
                @media(max-width: 400px){span{font-size: 10px}}


                button{
                        font-size: 13px !important;
                    font-weight: 400 !important;
                    color: rgba(171, 97, 6, 1) !important;
                    text-decoration: underline !important;

                }
}

.kyc-alert{
        position: relative;

    width: 500px;
    height: 45px;
    max-width: 95vw;
    padding: 0 ;
border-radius: 5px ;

    height: 5rem ;
    background: rgba(240, 240, 252, 1) ;
    padding: 15px 10px ;
  border: 0.3px solid rgba(22, 22, 159, 1);
  opacity: 1;
transition: 0.5s ease-in-out;

  &.closed{
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}
 
  
     .close-icon{
        display: flex;
        align-items: center;
        justify-content: center;
      position: absolute;
            right: 1rem;
            top:1rem;
            width: 1.8rem;
            height: 1.8rem;
            border: 1px solid rgba(11, 11, 181, 1);
            border-radius: 50%;
        mat-icon{
            cursor: pointer;
            color: rgba(11, 11, 181, 1);
            
        }
    }

     span{
        text-wrap: wrap;

                    font-size: 14px;
                    font-weight: 400;
                    color:  rgba(11, 11, 181, 1);
                }

                @media(max-width: 400px){span{font-size: 12px}}

                button{
                        font-size: 13px !important;
                    font-weight: 400 !important;
                    color:  rgba(11, 11, 181, 1)!important;
                    text-decoration: underline !important;

                }

}
      }


