<section class="join-comm">
    <div>
      <div class="features-wrapper">
        <div class="features-heading">Join Our Community</div>
      </div>
      <div class="display-center mt-1">
        <div class="box-text">Join the fastest moving e-commerce platform where buying and selling is made easy and
          stress- <br />free for you. Subscribe to our mailing list for exclusive resources, deals and bonuses.</div>
      </div>
      <div class="display-center mt-2">
        <div class="mr-1 pointer">
          <a href="https://web.facebook.com/renamarkets"><img class="" src="/assets/icons/black-facebook.svg" alt="fb"></a>
        </div>

        <div class="mr-1 pointer">
          <a href="http://twitter.com/renamarkets"><img class="" src="/assets/icons/black-twitter.svg" alt="twt"></a>
        </div>

        <div class="mr-1 pointer">
          <a href="https://www.instagram.com/renamarket247/"><img class="" src="/assets/icons/black-IG.svg" alt="ig"></a>
        </div>

        <div class="mr-1 pointer">
          <a href=""><img class="" src="/assets/icons/black-youtube.svg" alt="youtube"></a>
        </div>

        <div>
          <a href="https://www.linkedin.com/company/renamarkets/"><img class="pointer" src="/assets/icons/black-linkedin.svg" alt="lnk"></a>
        </div>

      </div>
    </div>
  </section>