.join-comm {
    background: #FAFAFA;
    padding: 3rem;
}

.display-center {
    display: flex;
    justify-content: center;
}

.features-wrapper .features-heading {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 750;
    font-size: 49.1597px;
    line-height: 59px;
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .features-wrapper .features-heading {
        font-weight: 750;
        font-size: 24px !important;
        line-height: 29px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .features-wrapper .features-heading {
        font-weight: 750;
        font-size: 49.1597px;
        line-height: 59px;
        margin-top: 5rem;
    }
}
