<div class="edit-store">
  <div mat-dialog-content class=" seller-store-modal">
    <button class="uk-modal-close-default seller-store-modalCloseBtn" type="button" uk-close
      mat-dialog-close="false"></button>
    <form (submit)="onSave()" [formGroup]="bankAccountForm" class="uk-form-stacked edit-form">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Bank Name*</label>
        <div class="uk-form-controls">
          <select formControlName="bank" aria-label="Custom controls">
            <option value="">--- Please Select a bank---</option>
            <option *ngFor="let bank of bankList" [ngValue]="bank">{{bank.name}}</option>
          </select>
          <!-- <input formControlName="bankName" class="uk-input" id="form-stacked-text" type="text"
            placeholder="Please type your store name" /> -->
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Bank Account Name*</label>
        <div class="uk-form-controls">

          <input formControlName="accountName" class="uk-input" id="form-stacked-text" type="text"
            placeholder="Please type your store name" />
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Bank Account Number*</label>
        <div class="uk-form-controls">

          <input formControlName="accountNumber" class="uk-input" id="form-stacked-text" type="text"
            placeholder="Please type your store name" />
        </div>
      </div>

      <p class="uk-text-center uk-margin-top">
        <button class="uk-button uk-button-default uk-modal-close" type="submit">
          Save
        </button>
      </p>
    </form>
  </div>
</div>
