<div style="overflow: hidden; background-color: #f2f2f2;">

    <app-navbar></app-navbar>

<div class="container">

    <div class="hero ">
        <div class=" uk-flex default-width">
            <div class="hero1">
                <h1>Sell and buy on the go!</h1>
                <p>Join the fastest moving online market square that connects millions of sellers and buyers at ease.</p>
                <button class="uk-button uk-button-default uk-text-capitalize signup">Get Started</button>
                <button class="btn">Go to marketplace >></button>
            </div>

            <div class="img">
                
                <img src="https://res.cloudinary.com/mindset/image/upload/v1628005824/Rectangle168_6_kpcuao.png" alt="" class="front" >
                <img src="https://res.cloudinary.com/mindset/image/upload/v1628005820/Rectangle168_3_xzmi0l.png" alt="" class="back">
            </div>
        </div>

    </div>
    <div class="online">
        <div class="open">
            <h1>Openmarket is an online marketplace that connects buyers and sellers worldwide.</h1>
            <img src="https://res.cloudinary.com/mindset/image/upload/v1628237230/Desktop_-_5_hayzuf.png" alt="">
        </div>
    
    </div>
        <div class="market">


            
            <div class="uk-flex">
                <div class="right">
                    <h1>Why Open Market?</h1>
                    <p>Open market brings you a whole new type of experience. With the aid of artificial intelligence coupled with top level security, you get quality products that match your taste presented to you at an affordable price while ensuring you pay for what has been delivered to you.</p>
                    <div style="margin-top: 60px;">
                        <img src="https://res.cloudinary.com/mindset/image/upload/v1628235505/Group_601_ezjjns.png" alt="">
                        <img src="" alt="">
                        
                    </div>
                </div>

                <div class="left">
                    <!-- artificial intelligence  -->
                    <div class="uk-flex art" >
                        <div style="margin-right: 20px; padding-top: 6px;">
                            <img src="https://res.cloudinary.com/mindset/image/upload/v1628230639/Group_603_sn5yd4.png" alt="" style="width: 85px; height: 55px;">
                        </div>
                        <div>
                            <h4>Artificial Intelligence</h4>
                        <h5 style="font-size: 14px; margin-top: -14px;">Open market research uses industry standard artificial intelligence algorithm to recommend and match sellers with buyers.</h5>
                        </div>
                    </div>

                    <!-- security  -->

                    <div class="uk-flex security" >
                        <div style="margin-right: 20px; padding-top: 6px;">
                            <img src="https://res.cloudinary.com/mindset/image/upload/v1628232970/Group_628_xu0vil.png" alt="" style="width: 115px; height: 55px;">
                        </div>
                        <div>
                            <h4>Security</h4>
                        <h5 style="font-size: 14px; margin-top: -14px;">The security of our platform and users is very important to us which is why we have designed a platform with ease and security im mind for both users and sellers.</h5>
                        </div>
                    </div>

                    <!-- quality  -->
                    <div class="uk-flex quality" >
                        <div style="margin-right: 20px; padding-top: 6px;">
                            <img src="https://res.cloudinary.com/mindset/image/upload/v1628232970/Group_604_pbknxi.png" alt="" style="width: 85px; height: 55px;">
                        </div>
                        <div>
                            <h4>Quality</h4>
                        <h5 style="font-size: 14px; margin-top: -14px;">The quality of the products on sale on our platform is important, hence we ensure only products in uptmost .</h5>
                        </div>
                    </div>

                    <!-- affordable price  -->

                    <div class="uk-flex price" >
                        <div style="margin-right: 20px; padding-top: 6px;">
                            <img src="https://res.cloudinary.com/mindset/image/upload/v1628232970/Group_605_zgpn4y.png" alt="" style="width: 75px; height: 55px;">
                        </div>
                        <div>
                            <h4>Affordable Price</h4>
                        <h5 style="font-size: 14px; margin-top: -14px;">Prices of products on open market  are affordable and same as you will find in a physical market.</h5>
                        </div>
                    </div>

                    <!-- pay on delivery  -->

                    <div class="uk-flex pay" >
                        <div style="margin-right: 20px; padding-top: 6px;">
                            <img src="https://res.cloudinary.com/mindset/image/upload/v1628232970/Group_606_c9gfmm.png" alt="" style="width: 85px; height: 55px;">
                        </div>
                        <div>
                            <h4>Pay On Delivery</h4>
                        <h5 style="font-size: 14px; margin-top: -14px;">Our delivery policy is to strictly payment on delivery, this is to avoid or curb fraudulent activities on theses platfrom.</h5>
                        </div>
                    </div>






                </div>


            </div>

            <!-- security  -->
            



    </div>

</div>
<app-connection></app-connection>
</div>
<!-- <app-connection></app-connection> -->
<app-footer></app-footer>