@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.hero{
    /* background-image: url('https://res.cloudinary.com/mindset/image/upload/v1628005820/Rectangle168_1_daax7k.png'); */
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    width: 100vw;
    background-color: 
    #243853;
    /* height: calc(100vh - 60px); */
    height: 800px;
    margin-top: -20px;
    
}
/* *{
    background: red;
} */

.default-width{
    margin: 0 auto ;
    width: 100%;
    /* color: #fff; */
}

.uk-flex{
    display: flex;
    justify-content: space-around;
}

.container{
    background-color: #f2f2f2;
    margin-left: -20px;
    margin-bottom: 100px;
    height: 2300px;
}

a{
    color: #fff !important;
}
.hero1{
    /* background-color: red; */
    width: 50%;
    padding-left: 80px;
}
.hero h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    width: 565px;
    height: 68px;
    color: #f2f2f2;
    
    /* margin-left: 20px; */
}

.hero p{
    width: 547px;
    height: 132px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #f2f2f2;
}

.signup{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    background: #584DCD;
    border-radius: 6px;
    color: #fff;
    border-color: #584DCD;
}

.hero1{
    margin-top: 216px;
}
.img{
    position: relative;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* background-color: #fff; */
    width: 50%;
}
.front{
    /* position: absolute; */
    z-index: 2;
    margin-top: 80px;
}
.back{
    position: absolute;
    height: 626.81px;
    top: -188px;
    /* overflow-x: hidden; */
}
.btn{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFB55E;
    background-color: transparent;
    outline: none;
    border: none;
}

.market{
    clip-path: polygon(0 23%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #fff;
    width: 100vw;
    height: 800px;
    padding-top: 100px;
    padding-left: 76px;
    margin-right: 100px;
    
}

.art{
    background-color: rgba(36, 56, 83, 0.2 );
    border-radius: 4.3566px;
    color: #333;
    padding: 16px;
}

.right{
    padding-top: 148px;
    width: 524px;

}
.right h1{
    font-family: roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #000000;
}
.right p{
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.left{
    width: 600px;
    margin-left: 241px;
    margin-top: 14px;
}

.security{
    background-color: rgba(88, 77, 205, 0.2);
    margin-top: 14px;
    padding: 16px;
    border-radius: 4.3566px;
}

.pay{
    background-color: rgba(200, 93, 59, 0.2);
    margin-top: 14px;
    padding: 16px;
    border-radius: 4.3566px;
}

.price{
    background-color: rgba(5, 198, 153, 0.2);
    margin-top: 14px;
    padding: 16px;
    border-radius: 4.3566px;
}

.quality {
    background-color: rgba(255, 181, 94, 0.2);
    margin-top: 14px;
    padding: 16px;
    border-radius: 4.3566px;

}
.open{
    background: #FFFFFF;
    border-radius: 6px;
    width: 1076px;
    height: 626px;
    align-content: center;
    text-align: center;
    margin-top: -130px;
    z-index: 2;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 300px;
}
.open h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333333;
    width: 862px;
    /* margin-left: 57px; */
    margin-top: 71px;
    margin-bottom: 15px;
}
.online{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 75%;
}

@media (max-width: 480px) {
    .container{
        margin-top: -20px;
        overflow: hidden;
        height: 260em;
        width: auto;
    }
    .open h1{
        font-size: 24px;
        /* margin-left: 10px; */
        width: 320px;
        overflow: hidden;
    }
    .open{
        width: 360px;
        background-color: #fff;
        height: 420px;
    }
    .uk-flex{
        display: flex;
        flex-direction: column;
    }
    .market{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 200em;
        margin-bottom: 40px;
    }
    .left{
        margin-left: -20px;
        width: 300px;
    }
    .right{
        padding-top: 0px;
        width: 300px;
    }
    .right h1{
        width: auto;
        font-size: 30px;
    }
    .right p{
        font-size: 18px;
    }
    .hero{
        height: 1050px;
        margin-bottom: 40px;
    }
    .online{
        margin-left: 10px;
    }
    .open {
        margin-top: 10px;
        /* margin-left: -30px; */
    }
    .open img{
        width: 350px;
    }
    .hero1{
        margin-left: 10px;
        padding-top: 20px;
    }
    .hero1 h1{
        font-size: 28px;
        margin-left: -50px;
        
    }
    .hero1 p{
        font-size: 20px;
        width: 300px;
        margin-left: -50px;
        margin-bottom: 50px;
    }
    .back{
        display: none;
    }
    
    .btn{
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        width: 200px;
        line-height: 27px;
        color: #FFB55E;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .uk-button{
        width: 200px;
    }
}


@media (max-width: 770px) {

    .btn{
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        width: 200px;
        line-height: 27px;
        color: #FFB55E;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .uk-button{
        width: 200px;
    }
    .container{
        margin-top: -20px;
        overflow: hidden;
        height: 260em;
        width: auto;
    }

    .open h1{
        font-size: 24px;
        /* margin-left: 10px; */
        width: 320px;
        overflow: hidden;
    }
    .open{
        width: 360px;
        background-color: #fff;
        height: 420px;
    }
    .uk-flex{
        display: flex;
        flex-direction: column;
    }
    .market{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 200em;
        margin-bottom: 40px;
    }
    .left{
        margin-left: -20px;
        width: 300px;
    }
    .right{
        padding-top: 0px;
        width: 300px;
    }
    .right h1{
        width: auto;
        font-size: 30px;
    }
    .right p{
        font-size: 18px;
    }
    .hero{
        height: 1050px;
        margin-bottom: 40px;
    }
    .online{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .open {
        margin-top: 10px;
        /* margin-left: -30px; */
    }
    .open img{
        width: 350px;
    }
    .hero1{
        margin-left: 10px;
        padding-top: 20px;
    }
    .hero1 h1{
        font-size: 28px;
        margin-left: -50px;
        
    }
    .hero1 p{
        font-size: 20px;
        width: 300px;
        margin-left: -50px;
        margin-bottom: 50px;
    }
    .back{
        display: none;
    }
    
}