/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
//@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "node_modules/uikit/src/scss/uikit-theme.scss";
// @import 'assets/ng-custom-theme';
:root{
    --mdc-snackbar-container-color: #fff !important;
}


.snack-bar-kyc-alert{
    width: 708px !important;
    height: 53px !important;
    max-width: 100vw !important;
    padding: 0 !important;
border-radius: 5px !important;

    height: 5rem !important;
    background: rgba(240, 240, 252, 1) !important;
    padding: 15px 10px !important;
  border: 0.3px solid rgba(22, 22, 159, 1) !important;

 .mdc-snackbar__surface {
    width: 50vw !important;
    max-width: 50vw !important;
    background-color: rgba(240, 240, 252, 1) !important;
    padding: 0 !important;
    box-shadow: none !important;
    transform: none !important;
    opacity: 1;
    pointer-events: auto;
}

.mdc-snackbar__label {
    background-color: rgba(240, 240, 252, 1) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    flex-grow: 1;
    background-color: none;
    box-sizing: border-box;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


}

.snack-bar-nin-alert{
    height: 53px !important;
    width: 708px !important;
    max-width: 100vw !important;
    padding: 0 !important;
    height: 5rem !important;
   background: rgba(255, 240, 223, 1) !important;
border-radius: 5px !important;
    padding: 15px 10px !important;
border: 0.3px solid rgba(135, 76, 4, 1) !important;
color: rgba(171, 97, 6, 1) !important;

 .mdc-snackbar__surface {
    width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    align-items:flex-start !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    background-color: rgba(255, 240, 223, 1) !important;
color: rgba(171, 97, 6, 1) !important;
    padding: 0 !important;
    box-shadow: none !important;
    transform: none !important;
    opacity: 1;
    pointer-events: auto;
}

.mdc-snackbar__label {
color: rgba(171, 97, 6, 1) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    flex-grow: 1;
    background-color: none;
    box-sizing: border-box;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

}
