@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");
@import url("https://fonts.cdnfonts.com/css/avenir");
@import "/src/assets/base-styles/_config.scss";

:root {
    --success-color: #4caf50;
    --warning-color: #ff8b00;
}

/* @font-face {
  font-family: 'Avenir';
  src: url(./assets/fonts/AvenirLTStd-Black.otf);
} */

html,
body {
    height: 100%;
    font-family: "Avenir" !important;
}

html,
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Avenir" !important;
}

.text-success {
    color: var(--success-color) !important;
}

.text-warning {
    color: var(--warning-color) !important;
}

.delete-dialog > mat-dialog-container {
    padding: 0px !important;
}

button:disabled {
    opacity: 0.6;
}

.pointer {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 50px;
}

.pac-container {
    z-index: 100000000 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.otp_dialog .mat-dialog-container,
.contact_dialog .mat-dialog-container {
    padding: 20px !important;
    background-color: red !important;
    width: 600px !important;
}

 .toast-top-right{
     position: fixed;
     top: 10px;
     right: 10px;
     z-index: 999999999 !important;
}


.terms-checkbox.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    background-color: #000;
    border: #000;
}

.terms-checkbox.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple{
    background-color: #000;
}

.terms-checkbox.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark{
    color: #fff;
}

.terms-checkbox.mat-mdc-checkbox.mat-accent{
    --mdc-checkbox-selected-hover-icon-color: rgba(0, 0, 0, 0.9);
}