/* You can add global styles to this file, and also import other style files */
/* uk-navbar */

.uk-navbar-right {
  margin-right: 20px;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Work Sans", sans-serif !important;
  min-height: 20px !important;
  text-transform: none;
  font-weight: 500;
  color: #7e7e7e;
}
.uk-navbar-nav > li {
  padding: 15px;
}
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  border-bottom: 1px solid black;
  transition: border-bottom 2s;
  color: black;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
  height: 60px;
}

.uk-tab > .uk-active > a {
  color: #0066d0;
  border-color: #004a99;
  border-width: medium;
}
/*
font-family: 'Work Sans', sans-serif;
*/
/*
gray color for font #7e7e7e

*/

/* iconify  */

.iconify {
  width: 35px;
  height: 35px;
  color: #769bc2;
}

html {
  font-family: "Work Sans", sans-serif !important;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif !important;
}

.headline {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.logo-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: #0066d0;
  letter-spacing: 0.2rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
}
/* button */
.btn-default {
  background-color: #0066d0;
  border: solid 2px #0066d0;
  padding: 0.5rem;
  color: #ffffff;
  font-family: "Work Sans", sans-serif !important;
  font-size: medium;
  font-weight: lighter;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
.btn-default-small {
  padding: 0.2rem;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: #147ceb;
}
.btn-default:disabled {
  background-color: #004a99;
}

.backgound-dark-green {
  color: white;
  background-color: #004a99;
}
.backgound-transparent-dark-green {
  background: rgba(37, 61, 88, 0.66);
  color: white;
}
.backgound-white {
  background: white;
}
.text-white {
  color: white;
}
.text-dark {
  color: #242424;
}
.text-dark-green {
  color: #004a99;
}

.single-product-card img {
  border-radius: 9px 9px 1px 1px;
  border: solid 1px #004a99;
}
.single-product-card img {
  border-radius: 9px;
}
.dashboard-title {
  padding: 10px;
  margin: 5px;
  background-color: #b2d7fc;
  color: #004a99;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}
