/* You can add global styles to this file, and also import other style files */
/* uk-navbar */

.uk-navbar-right {
  margin-right: 20px;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Work Sans", sans-serif !important;
  min-height: 20px !important;
  text-transform: none;
  font-weight: 500;
  color: #7e7e7e;
}
.uk-navbar-nav > li {
  padding: 15px;
}
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  border-bottom: 1px solid black;
  transition: border-bottom 2s;
  color: black;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
  height: 60px;
}

.uk-tab > .uk-active > a {
  color: #5c8018;
  border-color: #3e753b;
  border-width: medium;
}
/*
font-family: 'Work Sans', sans-serif;
*/
/*
gray color for font #7e7e7e

*/

/* iconify  */

.iconify {
  width: 35px;
  height: 35px;
  color: #7e7e7e;
}

html {
  font-family: "Work Sans", sans-serif !important;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
}
/* button */
.btn-default {
  background-color: #5c8018;
  border: solid 2px #5c8018;
  padding: 0.5rem;
  color: #ffffff;
  font-family: "Work Sans", sans-serif !important;
  font-size: medium;
  font-weight: lighter;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
.btn-default-small {
  padding: 0.2rem;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: #93c23c;
}
.btn-default:disabled {
  background-color: #91a38f;
}
/*
green colors
  lighter :#93c23c
  light : #5c8018;
  dark: #6f9628

*/

.backgound-dark-green {
  color: white;
  background-color: #46630f;
}
.backgound-transparent-dark-green {
  background: rgba(27, 67, 43, 0.66);
  color: white;
}
.backgound-white {
  background: white;
}
.text-white {
  color: white;
}
.text-dark {
  color: #242424;
}
.text-dark-green {
  color: #6f9628;
}

.single-product-card img {
  border-radius: 9px 9px 1px 1px;
  border: solid 1px #6f9628;
}
.single-product-card img {
  border-radius: 9px;
}
