<div class="uk-section uk-section-default" style="padding: 0">
  <div class="uk-container">
    <app-slider></app-slider>
  </div>
</div>

<div class="uk-section uk-section-default" style="padding-top: 10px">
  <div class="uk-container">
    <app-category-home-grid></app-category-home-grid>
    <app-new-product-list></app-new-product-list>
  </div>
</div>
<div class="uk-section uk-section-default" style="padding-top: 0px">
  <div class="uk-container">
    <h2>Featured Products</h2>
    <app-products></app-products>
  </div>
 
