
	<div class="slider-area mb-30">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-12">
					<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homepage-6"
						data-source="gallery">
						<!-- START REVOLUTION SLIDER 5.4.7 auto mode -->
						<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
							<ul>
								<!-- SLIDE  -->
								<li data-index="rs-10"
									data-transition="boxfade,boxslide,parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical"
									data-slotamount="default,default,default,default,default,default,default,default"
									data-hideafterloop="0" data-hideslideonmobile="off"
									data-easein="default,default,default,default,default,default,default,default"
									data-easeout="default,default,default,default,default,default,default,default"
									data-masterspeed="700,default,default,default,default,default,default,default"
									data-thumb="assets/images/slider/banner-carousel-1.jpg" data-rotate="0,0,0,0,0,0,0,0"
									data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
									data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
									data-param10="" data-description="">
									<!-- MAIN IMAGE -->
									<img src="assets/images/revimages/dummy.png" alt=""
										data-lazyload="assets/images/slider/banner-carousel-1.jpg" data-bgposition="center center"
										data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100"
										data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
										data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption   tp-resizeme" id="slide-10-layer-13" data-x="['left','center','left','left']"
										data-hoffset="['376','-301','81','32']" data-y="['top','top','top','top']"
										data-voffset="['280','305','275','216']"
										data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
										data-letterspacing="['','','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
										data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":700,"speed":1790,"sfxcolor":"#ffffff","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 400; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Free delivery from $30 </div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption   tp-resizeme" id="slide-10-layer-3" data-x="['left','center','center','left']"
										data-hoffset="['372','-209','-85','34']" data-y="['top','middle','middle','top']"
										data-voffset="['330','0','-127','271']" data-fontsize="['56','56','56','50']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":1270,"speed":1750,"sfxcolor":"#ffffff","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Innovative design </div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" id="slide-10-layer-20"
										data-x="['left','center','center','left']" data-hoffset="['377','-358','-233','32']"
										data-y="['top','top','top','top']" data-voffset="['438','457','427','368']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
										data-responsive_offset="on"
										data-frames='[{"delay":1990,"speed":1040,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
										data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]"
										data-paddingleft="[35,35,35,35]"
										style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
										<a class="revslider-button" href="shop-left-sidebar.html"> SHOP NOW</a> </div>
								</li>
								<!-- SLIDE  -->
								<li data-index="rs-11"
									data-transition="boxslide,slotslide-horizontal,slotslide-vertical,boxfade,slotfade-horizontal,slotfade-vertical"
									data-slotamount="default,default,default,default,default,default" data-hideafterloop="0"
									data-hideslideonmobile="off" data-easein="default,default,default,default,default,default"
									data-easeout="default,default,default,default,default,default"
									data-masterspeed="700,default,default,default,default,default"
									data-thumb="assets/images/slider/banner-carousel-2.jpg" data-rotate="0,0,0,0,0,0"
									data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
									data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
									data-param10="" data-description="">
									<!-- MAIN IMAGE -->
									<img src="assets/images/revimages/dummy.png" alt=""
										data-lazyload="assets/images/slider/banner-carousel-2.jpg" data-bgposition="center center"
										data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100"
										data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
										data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->

									<!-- LAYER NR. 4 -->
									<div class="tp-caption   tp-resizeme" id="slide-11-layer-13" data-x="['left','center','left','left']"
										data-hoffset="['376','-301','81','32']" data-y="['top','top','top','top']"
										data-voffset="['280','305','275','216']"
										data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
										data-letterspacing="['','','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
										data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":700,"speed":2020,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 400; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Free delivery from $30 </div>

									<!-- LAYER NR. 5 -->
									<div class="tp-caption   tp-resizeme" id="slide-11-layer-3" data-x="['left','center','center','left']"
										data-hoffset="['372','-209','-85','34']" data-y="['top','middle','middle','top']"
										data-voffset="['330','0','-127','271']" data-fontsize="['56','56','56','50']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":700,"speed":2000,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Beautiful interior </div>

									<!-- LAYER NR. 6 -->
									<div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" id="slide-11-layer-20"
										data-x="['left','center','center','left']" data-hoffset="['377','-358','-233','32']"
										data-y="['top','top','top','top']" data-voffset="['438','457','427','368']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
										data-responsive_offset="on"
										data-frames='[{"delay":2130,"speed":1470,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
										data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]"
										data-paddingleft="[35,35,35,35]"
										style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
										<a class="revslider-button" href="shop-left-sidebar.html"> SHOP NOW</a></div>
								</li>
								<!-- SLIDE  -->
								<li data-index="rs-12"
									data-transition="boxfade,boxslide,parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical"
									data-slotamount="default,default,default,default,default,default,default,default"
									data-hideafterloop="0" data-hideslideonmobile="off"
									data-easein="default,default,default,default,default,default,default,default"
									data-easeout="default,default,default,default,default,default,default,default"
									data-masterspeed="700,default,default,default,default,default,default,default"
									data-thumb="assets/images/slider/banner-carousel-3.jpg" data-rotate="0,0,0,0,0,0,0,0"
									data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
									data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
									data-param10="" data-description="">
									<!-- MAIN IMAGE -->
									<img src="assets/images/revimages/dummy.png" alt=""
										data-lazyload="assets/images/slider/banner-carousel-3.jpg" data-bgposition="center center"
										data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100"
										data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
										data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->

									<!-- LAYER NR. 7 -->
									<div class="tp-caption   tp-resizeme" id="slide-12-layer-13"
										data-x="['center','center','center','center']" data-hoffset="['0','12','0','0']"
										data-y="['top','top','top','top']" data-voffset="['107','94','151','186']"
										data-fontsize="['24','24','24','18']"
										data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
										data-letterspacing="['','','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
										data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":700,"speed":1300,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 400; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Summer sale up to 30% </div>

									<!-- LAYER NR. 8 -->
									<div class="tp-caption   tp-resizeme" id="slide-12-layer-3"
										data-x="['center','center','center','center']" data-hoffset="['0','14','0','0']"
										data-y="['top','middle','middle','top']" data-voffset="['171','-202','-230','235']"
										data-fontsize="['56','56','56','40']" data-lineheight="['60','60','60','50']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
										data-frames='[{"delay":1540,"speed":1400,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
										style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
										Beautiful interior </div>

									<!-- LAYER NR. 9 -->
									<div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" id="slide-12-layer-20"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										data-y="['top','top','top','top']" data-voffset="['278','261','345','323']" data-width="none"
										data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
										data-responsive_offset="on"
										data-frames='[{"delay":2210,"speed":1780,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
										data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]"
										data-paddingleft="[35,35,35,35]"
										style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
										<a class="revslider-button" href="shop-left-sidebar.html"> SHOP NOW</a> </div>
								</li>
							</ul>
							<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
						</div>
					</div><!-- END REVOLUTION SLIDER -->
				</div>
			</div>
		</div>
	</div>
