<div class="uk-cover-container uk-height-medium uk-box-shadow-large">
  <canvas width="400" height="200"></canvas>
  <img src="./assets/images/green-pepper.jpg" class="" alt="" uk-cover />

  <div
    class="uk-position-center-left uk-position-large uk-width-1-1 uk-width-1-2@s uk-overlay backgound-transparent-dark-green"
  >
    <h2 class="text-white">
      Purchase Amazing Fresh product directly from our farm
    </h2>
    <form class="uk-search uk-search-default uk-width-expand backgound-white">
      <a href="" uk-search-icon></a>
      <input
        class="uk-search-input uk-width-expand"
        type="search"
        placeholder="Search for  produce"
      />
    </form>
  </div>
</div>
