<div class="change-pin-container">
  <div class="nav-back" routerLink="..">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="heading">Pin Settings</div>
  <form id="address-edit-form">
    <div class="form-group">
      <label for="cur-pin">Current Pin</label>
      <div class="input-group">
        <input type="password" id="cur-pin" />
      </div>
    </div>

    <div class="form-group">
      <label for="new-pin">New Pin</label>
      <div class="input-group">
        <input type="password" id="new-pin" />
      </div>
    </div>

    <div class="form-group">
      <label for="confirm-pin">Confirm Pin</label>
      <div class="input-group">
        <input type="password" id="confirm-pin" />
      </div>
    </div>

    <div class="btn">
      <button type="submit" id="submit-btn">Save Changes</button>
    </div>
  </form>
</div>
