@import "config";

.buyer-container {
  height: 100%;
}

.header-container {
  background-color: $white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header-main {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 120px;

  & img {
    width: 100%;
  }
}

.header-search {
  position: relative;
  width: 40%;

  & input {
    width: 100%;
    padding: 10px 0;
    padding-left: 40px;
    border: 1px solid $header-input;
    border-radius: 4px;

    &::placeholder {
      color: $header-input;
    }

    &:focus {
      outline: none;
    }
  }

  & i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $header-input;
  }
}

.header-sell_contact {
  & a {
    color: $bold-text-color;
    font-size: 16px;
    font-weight: 600;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.header-user-actions {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-main {
    margin-left: 40px;
    display: flex;
    align-items: center;

    & span {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}

.profile-menu {
  padding: 0px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & li {
    list-style: none;
    padding: 10px 15px;
    padding-right: 100px;
    font-family: "Avenir" !important;
    width: 100%;
    cursor: pointer;

    &:last-child {
      border-top: 1px solid $border-line-color;
    }

    & svg {
      margin-right: 5px;
    }
  }
}

.buyer-main-container {
  //   position: relative;
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: flex-start;
  margin-top: 105px;
  height: 100%;

  & .sidebar {
    margin-right: 30px;
  }

  & .main-content {
    width: 100%;
  }
}
