<div id="seller-modal-full" class="uk-modal-full modal-container" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-between uk-flex-middle form-container">
    <div class="form-img"></div>

    <div class="form">
      <!-- (click)="closeModal()" -->
      <div class="go-back" (click)="back()">
        <img src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png" alt="go-back" />
        <span>Go Back</span>
      </div>
      <div class="seller-info">
        <div class="seller-info-main">
          <h1 class="form-heading">
            <span class="bold">Get Started</span>Enter your business details
          </h1>
          <div>
            <form [formGroup]="sellerRegFormGroup" (submit)="submit()">
              <div class="business-status">
                <label><input type="radio" checked name="isBusinessRegistered" [value]='true'
                    formControlName="isBusinessRegistered" />
                  <span> Registered business</span></label>
                <label><input type="radio" name="isBusinessRegistered" [value]='false'
                    formControlName="isBusinessRegistered" />
                  <span> Unregistered business</span></label>
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('businessName').invalid &&
                      !sellerRegFormGroup.get('businessName').untouched
                  }">Business Name</label>
                <input type="text" matInput formControlName="businessName" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('businessDescription').invalid &&
                      !sellerRegFormGroup.get('businessDescription').untouched
                  }">Business Description</label>
                <input type="text" matInput formControlName="businessDescription" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('businessAddress').invalid &&
                      !sellerRegFormGroup.get('businessAddress').untouched
                  }">Business Address</label>
                <input type="text" matInput required formControlName="businessAddress" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('state').invalid &&
                      !sellerRegFormGroup.get('state').untouched
                  }">Business State</label>
                <input type="text" matInput required formControlName="state" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('lga').invalid &&
                      !sellerRegFormGroup.get('lga').untouched
                  }">Business Local Government Area</label>
                <input type="text" matInput formControlName="lga" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup.get('street').invalid &&
                      !sellerRegFormGroup.get('street').untouched
                  }">Business Street</label>
                <input type="text" matInput required formControlName="street" />
              </div>

              <!-- For registered business only -->
              <div class="form-group" *ngIf="isBusinessRegistered == true">
                <label [ngClass]="{
                    invalid:
                      sellerRegFormGroup?.get('businessRegistrationNumber').invalid &&
                      !sellerRegFormGroup?.get('businessRegistrationNumber').untouched
                  }">Business Registration Number</label>
                <input type="text" matInput required formControlName="businessRegistrationNumber" />
              </div>

              <div class="form-group logo-group" (click)="upload()">
                <label>Business Logo</label>
                <input type="text" id="logo-input" placeholder="Upload" formControlName="businessLogo" />
                <img src="../../../../assets/image/upload.png" alt="" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                  invalid:
                    sellerRegFormGroup.get('landmark').invalid &&
                    !sellerRegFormGroup.get('landmark').untouched
                }">Address Landmark</label>
                <input type="text" matInput required formControlName="landmark" />
              </div>

              <div class="form-group">
                <label [ngClass]="{
                  invalid:
                    sellerRegFormGroup.get('userId').invalid &&
                    !sellerRegFormGroup.get('userId').untouched
                }">Applicant ID</label>
                <input type="text" matInput required formControlName="userId" />
              </div>



              <div formGroupName="applicant">
                <div class="form-group">
                  <label [ngClass]="{
                    invalid:
                      applicant.get('idType').invalid &&
                      !applicant.get('idType').untouched
                  }">Applicant ID Type</label>
                  <select required formControlName="idType">
                  <option *ngFor="let id of idCardTypes" [value]="id">{{id}}</option>
                </select>
                </div>
                <div class="form-group">
                  <label [ngClass]="{
                      invalid:
                        applicant.get('idNumber').invalid &&
                        !applicant.get('idNumber').untouched
                    }">Applicant Number</label>
                  <input type="text" matInput required formControlName="idNumber" />
                </div>

                <div class="form-group">
                  <label [ngClass]="{
                      invalid:
                        applicant.get('dateOfBirth').invalid &&
                        !applicant.get('dateOfBirth').untouched
                    }">Applicant Date of Birth</label>
                  <input type="text" matInput required formControlName="dateOfBirth" />
                </div>
              </div>

              <div>
                <button class="reg-btn" type="submit" [disabled]="isLoading || sellerRegFormGroup.invalid">
                  <span uk-spinner="ratio: 1" *ngIf="isLoading"></span>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
