$border-line-color: #cdcdcd;
$input-border: #d0d5dd;
$normal-text-color: #667085;
$bold-text-color: #101828;
$white: #fff;
$black: #000000;
$error: #d9132b;
$red: #ff0000;
$green: #11955a;
$toggler-bg: #f2f4f7;
