$border-line-color: #cdcdcd;
$input-border: #d0d5dd;
$wallet-bg: rgba(#d0d5dd, 0.2);
$header-input: #bdbdbd;
$normal-text-color: #667085;
$profile-text-heading: #344054;
$transactions-heading: #243853;
$bold-text-color: #101828;
$white: #fff;
$black: #000000;
$error: #d9132b;
$red: #ff0000;
$green: #11955a;
$blue: rgba(0, 0, 255, 0.93);
$toggler-bg: #f2f4f7;

mat-form-field {
  &.mat-mdc-form-field.custom-text-field {
    padding: 0;
    width: 100%;
    background: $white;
    border-radius: 8px;
    border: none;
    &
      .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c11-8.mdc-text-field--outlined.mdc-text-field--no-label {
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }

    & .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  &.mat-mdc-form-field.custom-text-field.custom-text-field-business {
    & .mat-mdc-select-value {
      padding-left: 10px;
    }
  }
}

.matSelectCustom {
  width: 280px !important;
}

.cdk-overlay-connected-position-bounding-box,
.cdk-global-overlay-wrapper,
.cdk-overlay-container,
.cdk-overlay-backdrop {
  z-index: 99999 !important;
}

mat-select {
  &.mat-mdc-select.my-mat-select {
    & .mat-mdc-select-arrow-wrapper {
      display: none !important;
    }
  }
}

mat-menu {
  &.mat-mdc-menu-panel.my-menu {
    display: none;
  }
}

@media (pointer: none), (pointer: coarse) {
  .carousel {
    & .carousel-arrow {
      display: none;
    }
  }
}
