#logout-modal {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  max-width: 600px;

  & i {
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.logout-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  & button {
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0.8rem 2rem;
    box-shadow: none;
    color: white;
    background-color: #000;
    align-self: flex-end;
    width: auto;
    height: 45px;

    &.cancel {
      color: #000;
      background-color: transparent;
      border: 1px solid #000;
      margin-right: 15px;
    }
  }
}

@media (max-width: 400px) {
  .logout-actions {
    width: 100%;
    flex-direction: column;

    & button {
      width: 100%;

      &.cancel {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
